<!DOCTYPE html>
<html><head lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
<title>连锁网恭贺<{$brandname}>新年快乐</title>
<meta name="Keywords" content="直奔猪蹄,直奔猪蹄加盟,怎么加盟直奔猪蹄,直奔猪蹄加盟资料">
<meta name="Description" content="直奔猪蹄加盟为您提供直奔猪蹄加盟资料,怎么加盟直奔猪蹄等信息,直奔猪蹄致力打造成为餐饮知名品牌,更多直奔猪蹄加盟资料尽在中国连锁网.">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <meta http-equiv="expires" content="0">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 

    <link href="__PUBLIC__/css/home/lbn/css.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/home/lbn/animate.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/css/home/lbn/Allcss.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/home/lbn/swiper.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/home/lbn/animate.min.css">
<script src="__PUBLIC__/js/home/lbn/swiper.min.js"></script>
<script src="__PUBLIC__/js/home/lbn/swiper.animate.min.js"></script>
    <script src="__PUBLIC__/js/home/lbn/jquery-2.js"></script>
    <script src="__PUBLIC__/js/home/lbn/phone-plug.js"></script>
    <!--音乐播放-->
    <script>

    
    	alert(1); 
    
    
    
        function play_music(){
            if ($('#mc_play').hasClass('on')){
                $('#mc_play audio').get(0).pause();
                $('#mc_play').attr('class','stop');
            }else{
                $('#mc_play audio').get(0).play();
                $('#mc_play').attr('class','on');
            }
            $('#music_play_filter').hide();
            event.stopPropagation(); //阻止冒泡
        }
        function just_play(id){
            $('#mc_play audio').get(0).play();
            $('#mc_play').attr('class','on');
            if (typeof(id)!='undefined'){
                $('#music_play_filter').hide();
            }
//            event.stopPropagation(); //阻止冒泡
        }
        function is_weixn(){
            return false;
            var ua = navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i)=="micromessenger") {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>

<span id="musicControl">
<a id="mc_play" class="stop on">
    <audio id="musicfx" loop="loop" autoplay="autoplay">
        <source src="__PUBLIC__/image/home/lbn/music1.mp3" type="audio/mpeg">
    </audio>
</a>
</span>

<div style="height: 943px; width: 1920px; overflow: hidden;" class="wrap" id="wrapScroll">
    <ul style="transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);">
        <li style="height: 943px; width: 1920px;" data-number="1" class="idx1 curr">
            <div class="bgPic ani resize"  style="background-image:url(__PUBLIC__/image/home/lbn/11.jpg);right:0px;top:0px;z-index:1;animation:pulse infinite linear 3s;-webkit-animation:pulse infinite linear 3s;" swiper-animate-effect="pulse" swiper-animate-duration="3s" swiper-animate-delay="0s">
            </div>
        </li>
        <li style="height: 943px; width: 1920px;" data-number="2" class="idx2">
            <div class="bgPic ani resize" style="background-image:url(__PUBLIC__/image/home/lbn/22.jpg);right:0px;top:0px;z-index:1;animation:pulse infinite linear 2s;-webkit-animation:pulse infinite linear 2s" swiper-animate-effect="fadeInRight" swiper-animate-duration="1.5s" swiper-animate-delay="2.5s">
            <a style="width:60%;height:auto;position:absolute;top:13.8%;left:27%;font-size:18px">To: <{$brandname}></a>
            </div>
        </li>
        <li style="height: 943px; width: 1920px;" data-number="3" class="idx3">
            <div class="bgPic ani resize" style="background-image:url(__PUBLIC__/image/home/lbn/33.jpg);right:0px;top:0px;z-index:1;" swiper-animate-effect="zoomInUp" swiper-animate-duration="1.5s" swiper-animate-delay="1.5s"></div>
        </li>
        <li style="height: 943px; width: 1920px;" data-number="4" class="idx4">
            <div class="bgPic ani resize" style="background-image:url(__PUBLIC__/image/home/lbn/44.jpg);right:0px;top:0px;z-index:1;" swiper-animate-effect="pulse" swiper-animate-duration="1.5s" swiper-animate-delay="0s"></div>
        </li>
        <li style="height: 943px; width: 1920px;" data-number="5" class="idx5">
            <div class="bgPic ani resize" style="background-image:url(__PUBLIC__/image/home/lbn/55.jpg);right:0px;top:0px;z-index:1;animation:pulse infinite linear 2s;-webkit-animation:pulse infinite linear 2s" swiper-animate-effect="pulse" swiper-animate-duration="1.5s" swiper-animate-delay="0s"></div>
        </li>
        <li style="height: 943px; width: 1920px;" data-number="6" class="idx6">
            <div class="bgPic ani resize" style="background-image:url(__PUBLIC__/image/home/lbn/66.jpg);right:0px;top:0px;z-index:1;"></div>
        </li>
        <li style="height: 943px; width: 1920px;" data-number="7" class="idx7">
            <div class="bgPic ani resize" style="background-image:url(__PUBLIC__/image/home/lbn/77.jpg);right:0px;top:0px;z-index:1;"></div>
        </li>
      </ul>
</div>
<div id="section04"><a><span></span></a></div>
<!--页面动画渲染延迟-->
<script>
    var phoneFn = {
        resize:function(){
            resizeFn._extend=function(w,h){
                $(".wrap").height(h).width(w);
                $(".wrap li").height(h).width(w);
            };
            resizeFn.init();
        },
        myScroll:null,
        scroll:function(){
            var T = this;
            T.myScroll = new iScroll("wrapScroll", {
                hScroll:false,
                vScrollbar:false,
                vScroll:true,
                momentum:false,
                hideScrollbar:true,
                useTransition:false,
                checkDOMChanges:false,
                fixedScrollbar:true,
                snap:true,

                onScrollEnd:function(){
                    var k = T.myScroll.currPageY;
                    if($("#wrapScroll ul li").eq(k).hasClass('curr')){
                        return false
                    }
                    $("#wrapScroll ul li").eq(k).addClass('curr')
                            .find('.anm')
                            .addClass('fadeInUpBig animated')
                            .on('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
                        $(this).removeClass('fadeInUpBig animated')
                    });
                }
            });
        },
        init:function(){
            phoneFn.resize();
            phoneFn.scroll();
            $('#mc_play').on('click',function(e){
                e.stopPropagation();
                e.preventDefault();
                play_music();
            })
        }
    };
    $(function(){
        phoneFn.init();
    })
</script>
<!--信息提交邮箱-->
<!--<script>
    // 提交
    $("#send").click(function(){
        wa.sendEvent('click', 'submit');
        var name = $.trim($("input[name='name']").val());
//        var title = $("select[name='title']").val();
        var tel = $.trim($("input[name='tel']").val());
//        var city = $("select[name='city']").val();
        if(name == '' || name==null){
            alert('请输入联系人姓名');
            return false;
        }
        if(tel=='' || tel==null || !(/^(13|14|15|16|17|18|19){1}\d{9}$/.test(tel)) ){
            alert("请输入正确的手机号码！");
            return false;
        }
        var postData = {
            "name": name,
//            "title": title,
            "tel": tel,
//            "city": city,
            "dealer":dealer,
            "note": "" //备注
        };
    });
</script>-->
<script src="__PUBLIC__/js/home/lbn/jweixin-1.js"></script>
<script src="__PUBLIC__/js/home/lbn/wx_config.js"></script>
<script type="text/javascript" src="http://www.liansuo.com/html/js/rfx.js"></script>
</body></html>