<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="applicable-device" content="mobile">
<title><{$tagindex.tag}>行业投资指南<if condition="$connPage!=1">-第<{$connPage}>页</if>-中国连锁网</title>
<meta name="Keywords" content="投资<{$tagindex.tag}>行业,加盟投资<{$tagindex.tag}>行业怎么样,投资<{$tagindex.tag}>行业相关资讯">
<meta name="Description" content="中国连锁网为您提供投资<{$tagindex.tag}>行业加盟的资讯指南。">
<link rel="alternate"   type="application/vnd.wap.xhtml+xml"  media="handheld"   href="http://www.liansuo.com/tag/<{$newsid}>/" >
<meta name="mobile-agent" content="format=wml; url=http://www.liansuo.com/tag/<{$newsid}>/">
<meta name="mobile-agent" content="format=xhtml; url=http://www.liansuo.com/tag/<{$newsid}>/">
<meta name="mobile-agent" content="format=html5; url=http://www.liansuo.com/tag/<{$newsid}>/">
<meta name="applicable-device" content="pc">
<link href="__PUBLIC__/css/m_home/tag/taglist/style.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/js/m_home/tag/taglist/jquery-1.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/m_home/tag/taglist/lnjs.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script src="__PUBLIC__/js/m_home/public/header/jquery-1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $('.listNav').click(function() {
        $('#listNav').slideToggle(600)
        })
    });
    </script>
<link href="__PUBLIC__/css/m_home/public/header.css" type="text/css" rel="stylesheet">
    
</head>
<body>
    <header class="index-header active">
        <p><img  src="__PUBLIC__/image/m_home/public/header/logo.png" alt=""></p>
        <h1><{$tagindex.tag}></h1>
        <a class="listNav"  href="javascript:;">
            <img  src="__PUBLIC__/image/m_home/public/header/menu_btn_white01.png" alt="">
            <span>分类</span>
        </a>

    </header>

<include file="Public/header"/>


<div class="class_dh_zixun">
	<ul class="clearfix">
    	<li class="f"><a href="http://m.liansuo.com/news/jmzn/">指南</a></li>
            <li><a href="http://m.liansuo.com/news/xzcb/">选址</a></li>
            <li><a href="http://m.liansuo.com/news/rcjy/">经营</a></li>
            <li><a href="http://m.liansuo.com/news/xmzx/">资讯</a></li>
            <li><a href="http://m.liansuo.com/news/jdal/">案例</a></li>
            <li><a href="http://m.liansuo.com/news/rwzf/">专访</a></li>
            <li><a href="http://m.liansuo.com/news/czxx/">展会</a></li>
            <li><a href="http://m.liansuo.com/news/hydt/">动态</a></li>
    </ul>
</div>



<div class="mianbao mianbao2 clearfix">
	<a href="http://m.liansuo.com/">连锁网 &gt; </a> <a href="http://m.liansuo.com/tag/">加盟创业好项目</a> <a href="http://m.liansuo.com/tag/<{$tagindex.id}>/">&gt;<{$tagindex.tag}></a>
</div>
<div class="zxbk">
    <div class="zxbk-c zxbk1 w96">
    	<ul class="text-list1 text-list1t">
			<volist name="taglistArray" id="one" >
                <li class="clearfix"><a href="http://m.liansuo.com/news/<{$one.newsid}>.html"><{$one.title|mb_substr=0,30,'utf-8'}></a><span><{$one.ctime|substr=5,5}></span></li>
            </volist>
        </ul>
    </div>
    
	<div class="fanye">
        <{$page}>
	</div>
</div>

<div class="zxbk">
	<div class="tu1 tu1-1 clearfix">
              <volist name="tag_rmtj" id="one" offset="0" length="1">
                    <a class="fl" href="http://m.liansuo.com/p/index/<{$one.member_id}>.html"><img alt="<{$one.title}>" title="<{$one.title}>" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>        
              </volist>
              <volist name="tag_rmtj" id="one" offset="1" length="1">
                    <a class="fr" href="http://m.liansuo.com/p/index/<{$one.member_id}>.html"><img src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>        
              </volist>
    	    	
		    </div>
</div>

<div class="zxbk">
	<div class="zxbk-t">
    	<div class="w96 clearfix">
            <ul class="zxbk-qh clearfix">
                <li class="f"><a name=".zxbk1">实时资讯</a></li>
            </ul>
        </div>
    </div>
   	<div class="zxbk-c zxbk1 w96">
    	<ul class="text-list1 text-list1t">
             <arclist item="one" cid='$cid' row="10"  deflag="c"  >
                
                <li class="clearfix"><a href="http://m.liansuo.com/news/<{$one.newsid}>.html"><?php echo $this->msubstr($one['title'], $start=0,25, $charset="utf-8", $suffix=false);?></a><span><{$one.ctime|substr=5,5}></span></li>
            </arclist>

        			
        </ul>
    </div>
    <a href="http://m.liansuo.com/tag/">查看更多 &gt;</a>
</div>
<div class="zxbk">
	<div class="zxbk-t">
    	<div class="w96 clearfix">
            <ul class="zxbk-qh clearfix">
                <li class="f"><a name=".zxbk1">热点聚焦</a></li>
            </ul>
        </div>
    </div>
   	<div class="zxbk-c zxbk1 w96">
    	<ul class="text-list1 text-list1t">
            <arclist item="one" cid='$cid' row="10"  deflag="c">
                
                <li class="clearfix"><a href="http://m.liansuo.com/news/<{$one.newsid}>.html"><?php echo $this->msubstr($one['title'], $start=0,25, $charset="utf-8", $suffix=false);?></a><span><{$one.ctime|substr=5,5}></span></li>
            </arclist>  

        </ul>
    </div>
    <a href="http://m.liansuo.com/tag/">查看更多 &gt;</a>
</div>

<div class="gglink_tags" style="margin-bottom: 1em;">
    <ul class="link2 clearfix">    
        <volist name="tagArrayrmbq" id="one" offset="0" length="12" >
            <li ><a href="http://m.liansuo.com/tag/<{$one.id}>/"><{$one.tag}></a></li>   
        </volist>
            
           
                <!-- <li class="bold"><a href="http://m.hao315.tv/zixun/keywords/25916.html">纯净水加盟</a></li>
                <li><a href="http://m.hao315.tv/zixun/keywords/25784.html">装饰板材十大品牌</a></li>
                <li><a href="http://m.hao315.tv/zixun/keywords/25566.html">奶茶加盟</a></li>
                -->
            </ul>
    
    
</div> 
 <include file="Public/footer"/>
</body>
</html>