<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>招商加盟品牌,创业连锁项目深度报道-中国连锁网</title>
<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/baodao/">
<meta name="Keywords" content="招商加盟,创业连锁,加盟品牌,加盟项目">
<meta name="Description" content="中国连锁网为您深度报道中国招商加盟品牌,创业连锁项目在实际加盟操作中的细节问,包括加盟费用,加盟指南,加盟前景,利润分析,为您在选择创业项目的过程中降低风险.">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/baodao/style_list.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/home/public/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/js/home/baodao/jquery1.js"></script>
<base target="_blank" />
</head>
<body>
<script>
	var mob_url = "http://m.liansuo.com/baodao/";
</script>
<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script>
<div class="head"> 
  <div class="lsgb_header_bj">
    <div class="center">
    <include file="../Public/html/home/tag/header.html" />
      <div class="space10 clear"></div>
      <div class="space10 clear"></div>
      <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r"> <img width="210" height="55" src="__PUBLIC__/css/home/images/logo_11.png" alt="中国连锁网"> </a>
        <div class="floatL title_pro">
          <h1>加盟项目报道</h1>
          <p><a target="_blank" href="">www.liansuo.com/baodao/</a></p>
        </div>
			<div class="floatR ad_pic">
				<adlist item="one" cid="817" row="3">
					<a href="<{$one.ypurl}>" target="_blank"><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
				</adlist>		
			</div>
      </div> 
    </div>
  </div>
  <div class="space10 clear"></div> 
  <div class="space10 clear"></div>
  <div class="pro_nav">
       <div class="pro_nav_con">
	       <a href="http://www.liansuo.com" target="_blank">首页</a>
		   <volist name="industry_class" id="vo">
				<a href="/baodao/<{$vo.pathname}>/" target="_blank"><{$vo.industryname}></a>
				</volist>
		   <!--
	       <a href="http://www.liansuo.com/news/jmzn/" target="_blank">加盟指南</a>
	       <a href="http://www.liansuo.com/news/xzcb/" target="_blank">选址筹备</a>
	       <a href="http://www.liansuo.com/news/rcjy/" target="_blank">日常经营</a>
	       <a href="http://www.liansuo.com/news/xmzx/" target="_blank">项目资讯</a>
	       <a href="http://www.liansuo.com/news/jdal/" target="_blank">经典案例</a>
	       <a href="http://www.liansuo.com/news/rwzf/" target="_blank">人物专访</a>
	       <a href="http://www.liansuo.com/news/czxx/" target="_blank">参展信息</a>
	       <a href="http://www.liansuo.com/news/hydt/" target="_blank">行业动态</a>
		   -->
       </div>
  </div>
</div>
<div class="breadcrumbs center"> <span>当前位置 : </span>
 <span class="breadcrumbs-links"> <a href="http://www.liansuo.com">连锁网</a>＞</span>
  <span class="breadcrumbs-links"> <a href="http://canyin.liansuo.com">加盟项目报道</a></span>
  </span>
  </div>
<div class="center">
  <div class="leftBox g-bb">
	  <div class="module-header">
			<div class="module-title"><a href="http://news.liansuo.com">实时资讯</a></div>
				<a class="module-more" rel="nofollow" title="蒸美味" href="http://www.liansuo.com/news/">MORE</a> 
			</div>
		<div class="module-main">
			<arclist item="one" row="7" notcid="760">
				<a class="sszx-item" target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a>
			</arclist>
		</div>
    <div id="topzixun">
      <div class="toplist">
        <div class="tabtop" id="ul_a">
	        <a class="tab-list"><span>餐饮</span></a>
	        <a class="tab-list"><span>服装</span></a>
	        <a class="tab-list"><span>家纺</span></a>
	        <a class="tab-list"><span>教育</span></a>
        </div>
        <div class="tabcontent" id="tabcontent">
          <div class="tabs_ul">
          <div class="topslider topzixunslider" style="margin-top:0px"><span class="hot">最新</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
           </div>
          <arclist item="one" row="5" cid="1"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
          <div class="tabs_ul">
          <div class="topslider topzixunslider" style="margin-top:0px"><span class="hot">最新</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1" cid="3">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
           </div> 
          <arclist item="one" row="5" deflag="c" cid="3"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
          <div class="tabs_ul">
          <div class="topslider topzixunslider" style="margin-top:0px"><span class="hot">最新</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1" cid="2">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
           </div>
          <arclist item="one" row="5" deflag="c" cid="2"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
          <div class="tabs_ul">
          <div class="topslider topzixunslider" style="margin-top:0px"><span class="hot">最新</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1" cid="6">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
           </div>
          <arclist item="one" row="5" deflag="c" cid="6"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
        </div>
      </div>
    </div>
    <div id="topyingshi" style="height:345px" monkey="bangdan" data-rm="server">
      <div class="toplist">
        <div class="tabtop" id="tabtop_2">
	        <a class="tab-list"><span>饰品</span></a>
	        <a class="tab-list "><span>干洗</span></a>
	        <a class="tab-list "><span>美容</span></a>
	        <a class="tab-list "><span>珠宝</span></a>
        </div>
        <div class="tabcontent"  id="tabcontent_2">
        <div class="tabs_ul">
          <div class="topslider topyingshislider" style="margin-top:0px" monkey="img"><span class="hot">热播</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1" cid="5">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
          </div>
              <arclist item="one" row="5" deflag="c" cid="5"> 
	         	  <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
         </div>
         <div class="tabs_ul">
          <div class="topslider topyingshislider" style="margin-top:0px" monkey="img"><span class="hot">热播</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1" cid="10">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
          </div>
          <arclist item="one" row="5" deflag="c" cid="10"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
         </div>
         <div class="tabs_ul">
          <div class="topslider topyingshislider" style="margin-top:0px" monkey="img"><span class="hot">热播</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1" cid="9">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
          </div>
          <arclist item="one" row="5" deflag="c" cid="9"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
         </div>
         <div class="tabs_ul">
          <div class="topslider topyingshislider" style="margin-top:0px" monkey="img"><span class="hot">热播</span>
            <ul class="slider-box">
            <arclist item="one" row="1" picture="1" cid="11">
                <li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
            </arclist>
            </ul>
          </div>
          <arclist item="one" row="5" deflag="c" cid="11"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
         </div>
        </div>
      </div>
    </div>
	<div id="topzixun2">
      <div class="toplist">
        <div id="tabtop_3" class="tabtop">
			<a class="tab-list "><span>家居</span></a>
	        <a class="tab-list "><span>环保</span></a>
	        <a class="tab-list "><span>婴童</span></a>
	        <a class="tab-list "><span>汽车</span></a>
		</div>
        <div id="tabcontent_3" class="tabcontent">
          <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
            <ul class="slider-box">
				<arclist item="one" row="1" picture="1" cid="4">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
			</ul>
           </div>
			<arclist item="one" row="5" deflag="c" cid="4"> 
	         	  <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
          <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
            <ul class="slider-box">
				<arclist item="one" row="1" picture="1" cid="7">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
			</ul>
           </div>
			  <arclist item="one" row="5" deflag="c" cid="7"> 
	         	 <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
          <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
            <ul class="slider-box">
				<arclist item="one" row="1" picture="1" cid="8">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
			</ul>
           </div>
			<arclist item="one" row="5" deflag="c" cid="8"> 
	         	 <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
          <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
               <arclist item="one" row="1" picture="1" cid="12">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
           </div>
			 <arclist item="one" row="5" deflag="c" cid="12"> 
	         	 <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
        </div>
      </div>
    </div>
	
	<div id="topyingshi2" style="height:345px" monkey="bangdan" data-rm="server">
      <div class="toplist">
        <div class="tabtop" id="tabtop_4">
			<a class="tab-list "><span>建材</span></a>
	        <a class="tab-list "><span>五金</span></a>
	        <a class="tab-list "><span>特色</span></a>
	        <a class="tab-list "><span>茶叶</span></a>
		</div>
		<div class="tabcontent"  id="tabcontent_4">
         <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
            <ul class="slider-box">
				<arclist item="one" row="1" picture="1" cid="13">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
			</ul>
           </div>
			<arclist item="one" row="5" deflag="c" cid="13"> 
	         	  <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
          <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
            <ul class="slider-box">
				<arclist item="one" row="1" picture="1" cid="15">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
			</ul>
           </div>
			  <arclist item="one" row="5" deflag="c" cid="15"> 
	         	 <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
          <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
            <ul class="slider-box">
				<arclist item="one" row="1" picture="1" cid="16">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
			</ul>
           </div>
			<arclist item="one" row="5" deflag="c" cid="16"> 
	         	 <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
          <div class="tabs_ul">
          <div style="margin-top:0px" class="topslider topzixunslider"><span class="hot">最新</span>
               <arclist item="one" row="1" picture="1" cid="24">
					<li class="frist"><a href="<{$one.url}>"><img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt=""><span class="pic-bg"></span><span class="pic-txt"><{$one.title}></span></a></li>
				</arclist>
           </div>
			 <arclist item="one" row="5" deflag="c" cid="24"> 
	         	 <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
          </div>
        </div>
      </div>
    </div>
	
  </div>
  <div id="hao_r" class="fl">
<div class="New_events hao_border">
<div class="hd_right">最新入驻</div>
<div class="h_s_list clearfix">
	<ul>
		<plist item="one" row="12">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
	</ul>
</div>
</div>
<div class="Choice_events hao_border" style="margin-top:20px;">
<div class="hd_right">精选推荐</div>
<div class="h_s_list clearfix">
<ul>
	<plist item="one" row="12,12">
		<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
	</plist>
</ul></div>
</div>
<div id="Dynamic" class="mbar clearfix">
<dl>
<dt>留言播报：</dt>
<dd style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 50px;">
<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 300px; top: -74.6946px;">
<plist item="one" row="20" ispay="1">
<?php
	$surname = array('刘先生','张先生','段先生','张先生','丁先生','曹女士','陈女士','王女士','贾女士','周女士');
    $province = array('成都','北京','上海','深圳','青岛','唐山','合肥');
    shuffle($surname);
    shuffle($province);
?>
	<li style="overflow: hidden; float: none; width: 295px; height: 50px;">
	  来自<?php echo $province[0]; ?>的<?php echo $surname[0];  ?> 咨询了 <a target="_blank"><{$one.industryname}></a>类的
	<a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a>
	</li>
</plist>
</ul>
</dl>
</div> 
<div id="cool-site" class="hao_border">
<div class="panel">
<div class="item"> <a href="http://canyin.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多餐饮加盟项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://canyin.liansuo.com" title="餐饮加盟项目" rel="nofollow" target="_blank">[餐饮]</a></h3>
<ul class="list">
<ul>
		<plist item="one" ispay="0" row="2,6" cid="1">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://fuzhuang.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多服装加盟项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://fuzhuang.liansuo.com" title="服装加盟项目" rel="nofollow" target="_blank">[服装]</a></h3>
<ul class="list">
<ul>
		<plist item="one" ispay="0" row="6" cid="3">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://jiafang.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多家纺项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://jiafang.liansuo.com" title="家纺加盟项目" rel="nofollow" target="_blank">[家纺]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="2" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://jiaju.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多家居项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://jiaju.liansuo.com" title="家居加盟项目" rel="nofollow" target="_blank">[家居]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="3"  ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://jiaoyu.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多教育项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://jiaoyu.liansuo.com" title="教育加盟项目" rel="nofollow" target="_blank">[教育]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="6" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
</div>
<div class="panel">
<div class="item"> <a href="http://yingtong.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多婴童目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://yingtong.liansuo.com" title="婴童加盟项目" rel="nofollow" target="_blank">[婴童]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="8" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://huanbao.liansuo.com" class="more" target="_blank" rel="nofollow" title="更多环保项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://huanbao.liansuo.com" title="环保加盟项目" rel="nofollow" target="_blank">[环保]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="7" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://meirong.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多美容项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://meirong.liansuo.com" title="美容加盟项目" rel="nofollow" target="_blank">[美容]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="9" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://ganxi.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多干洗项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://ganxi.liansuo.com" title="干洗加盟项目" rel="nofollow" target="_blank">[干洗]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="10" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://zhubao.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多珠宝项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://zhubao.liansuo.com" title="珠宝加盟项目" rel="nofollow" target="_blank">[珠宝]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="11" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
</div>
<div class="panel">
<div class="item"> <a href="http://qiche.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多汽车项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://qiche.liansuo.com" title="汽车加盟项目" rel="nofollow" target="_blank">[汽车]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="12" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://lingshou.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多零售项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://lingshou.liansuo.com" title="零售加盟项目" rel="nofollow" target="_blank">[零售]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="14" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://wujin.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多五金项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://wujin.liansuo.com" title="五金加盟项目" rel="nofollow" target="_blank">[五金]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="15" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://tese.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多特色项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://tese.liansuo.com" title="特色加盟项目" rel="nofollow" target="_blank">[特色]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="16" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://shipin.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多饰品项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://shipin.liansuo.com" title="饰品加盟项目" rel="nofollow" target="_blank">[饰品]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="5" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
</div>
<div class="panel">
<div class="item"> <a href="http://jiancai.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多建材项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://jiancai.liansuo.com" title="建材加盟项目" rel="nofollow" target="_blank">[建材]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="13" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://nanzhuang.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多男装项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://nanzhuang.liansuo.com" title="男装加盟项目" rel="nofollow" target="_blank">[男装]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="36" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://kafei.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多咖啡项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://kafei.liansuo.com" title="咖啡加盟项目" rel="nofollow" target="_blank">[咖啡]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="123" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
<div class="item"> <a href="http://nvzhuang.liansuo.com" target="_blank" class="more" rel="nofollow" title="更多女装项目">更多&gt;&gt;</a>
<h3 class="subtitle"><a href="http://nvzhuang.liansuo.com" title="女装加盟项目" rel="nofollow" target="_blank">[女装]</a></h3>
<ul class="list">
<ul>
		<plist item="one" row="6" cid="35" ispay="0">
			<li><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></li>
		</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
</div>
<div class="panel last">
<div class="item"> <a href="http://www.liansuo.com/top.html" target="_blank" rel="nofollow" class="more"></a>
<h3 class="subtitle"><a href="http://www.liansuo.com/top.html" title="最新加盟项目" rel="nofollow" target="_blank">[最新]</a></h3>
<ul class="list r_f_1">
<ul>
<plist row="20" item="one"  ispay="0">
	<li><a href="<{$one.ypurl}>" title="<{$one.brandname}>" target="_blank"><{$one.brandname}></a></li>
</plist>
</ul>
</ul>
<div class="fd-clear"></div>
</div>
</div>
</div>
<div class="hao_border" style="margin-top:20px;" id="addMod">
<div class="hd_right">
<div class="hd_tabs" id="tabtag">
<ul>
<li class="cur" style="cursor: pointer;"><a target="_blank" href="http://canyin.liansuo.com">餐饮</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://fuzhuang.liansuo.com">服装</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://jiafang.liansuo.com">家纺</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://jiaoyu.liansuo.com">教育</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://meirong.liansuo.com">美容</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://jiaju.liansuo.com">饰品</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://shipin.liansuo.com">特色</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://qiche.liansuo.com">汽车</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://jiancai.liansuo.com">建材</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://jiudian.liansuo.com">零售</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://zhubao.liansuo.com">珠宝</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://baojian.liansuo.com">环保</a></li>
<li style="cursor: pointer;"><a target="_blank" href="http://baojian.liansuo.com"></a></li>
</ul>
</div>
</div> 
<div id="tabcon">
<div class="bd clearfix">
<div class="bd_news">
<h3>餐饮资讯</h3>
<ul>
	<arclist item="one" row="5" cid="1">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>餐饮问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="1" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>餐饮项目</h3>
<ul>
	<plist item="one" row="20,5" cid="1">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>服装资讯</h3>
<ul>
	<arclist item="one" row="5" cid="3">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>服装问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="3" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>服装项目</h3>
<ul>
	<plist item="one" row="20,10" cid="3">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>家纺资讯</h3>
<ul>
	<arclist item="one" row="5" cid="2">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>家纺问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="2" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>家纺项目</h3>
<ul>
	<plist item="one" row="20,10" cid="2">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>教育资讯</h3>
<ul>
	<arclist item="one" row="5" cid="6">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>教育问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="6" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>教育项目</h3>
<ul>
	<plist item="one" row="20,10" cid="6">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>美容资讯</h3>
<ul>
	<arclist item="one" row="5" cid="9">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>美容问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="9" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>美容项目</h3>
<ul>
	<plist item="one" row="20,10" cid="9">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>饰品资讯</h3>
<ul>
	<arclist item="one" row="5" cid="5">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>饰品问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="5" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>饰品项目</h3>
<ul>
	<plist item="one" row="20,10" cid="5">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>特色资讯</h3>
<ul>
	<arclist item="one" row="5" cid="16">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>特色问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="16" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>特色项目</h3>
<ul>
	<plist item="one" row="20,10" cid="16">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>汽车资讯</h3>
<ul>
	<arclist item="one" row="5" cid="12">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>汽车问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="16" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>汽车项目</h3>
<ul>
	<plist item="one" row="20,10" cid="16">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>建材资讯</h3>
<ul>
	<arclist item="one" row="5" cid="13">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>建材问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="13" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>建材项目</h3>
<ul>
	<plist item="one" row="20,10" cid="13">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>零售资讯</h3>
<ul>
	<arclist item="one" row="5" cid="14">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>零售问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="14" total="3"  item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>零售项目</h3>
<ul>
	<plist item="one" row="20,10" cid="14">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>珠宝资讯</h3>
<ul>
	<arclist item="one" row="5" cid="11">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>珠宝问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="11" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>珠宝项目</h3>
<ul>
	<plist item="one" row="20,10" cid="11">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>环保资讯</h3>
<ul>
	<arclist item="one" row="5" cid="7">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>环保问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="7" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>环保项目</h3>
<ul>
	<plist item="one" row="20,10" cid="7">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>婴童资讯</h3>
<ul>
	<arclist item="one" row="5" cid="8">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>婴童问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="8" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>婴童项目</h3>
<ul>
	<plist item="one" row="20,10" cid="8">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>
<div class="bd clearfix" style="display: none;">
<div class="bd_news">
<h3>干洗资讯</h3>
<ul>
	<arclist item="one" row="5" cid="10">
		<li><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
	</arclist>
</ul>
</div>
<div class="bd_ask">
<h3>干洗问答</h3>
<ul>
	<modlist name="qalist" row="5" cid="10" total="3" item="one">
		<li><a target="_blank" href="<{$one.url}>"><{$one.content}></a></li>
	</modlist>
</ul>
</div>
<div class="bd_event">
<h3>干洗项目</h3>
<ul>
	<plist item="one" row="20,10" cid="10">
		<li><a target="_blank" title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></li>
	</plist>
</ul>
</div>
</div>

</div>
</div>
<div class="hao_border" style="margin-top:20px;">
<div class="hd_right">相关关键词</div>
<div class="bd">
<ul class="mod_list clearfix">
<modlist item="one" name="seoword" row="400,40">
	<li><a target="_blank" href="<{$one.url}>"><{$one.word}></a></li>
</modlist>
</ul>
</div>
</div>
</div>
<div class="rightBox g-bb">
<div class="brand_con_rx">
    <div class="phb" id="ranklist">
        <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>本周好项目</h3>
        <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
        <ul class="list  listNav">
        	  <plist item="one" row="10">
	              <li>
	              	 <a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
		              <div class="add_div" style="display: none;">
			              	<div class="floatL">
				              	<a href="<{$one.ypurl}>">
				              		<img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>">
				              	</a>
			              	</div>
			                <div class="floatR text_pro">
			                    <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
			                	<p class="hangye">行业：<a href="http://search.liansuo.com/0-0-0--1.html"><{$one.industryname}></a></p> 
			                    <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
			                    <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
			                </div>
		              </div>
	              </li>
         	</plist>
        </ul> 
    </div
</div>
<div class="recom-right">
            <h3>热门标签</h3>
            <div id="scroll-tag">
           		  <modlist name="seoword" item="one" row="6">
                     <a class="c2" href="<{$one.url}>" target="_blank" style="position: absolute; left: 21.8863px; top: 128.54px; z-index: 115; opacity: 0.313408;"><{$one.word}></a>
            	  </modlist>
            	  <modlist name="seoword" item="one" row="6">
                     <a class="c1" href="<{$one.url}>" target="_blank" style="position: absolute; left: 26.8416px; top: 59.7829px; z-index: 117; opacity: 0.348791;"><{$one.word}></a>
                  </modlist>
                  <modlist name="seoword" item="one" row="6"> 
                    <a class="c2" href="<{$one.url}>" target="_blank" style="position: absolute; left: 80.7441px; top: 5.29625px; z-index: 101; opacity: 0.101073; display: none;"><{$one.word}></a>
            	  </modlist>
            </div>
            <script type="text/javascript" src="__PUBLIC__/js/home/baodao/zzsc.js"></script>
        </div>
<div class="fc_right">
			<h3><span>VIP</span>会员专区</h3>
        	<ul>
				 <plist item="one" row="12">
				 	<if condition="$one['oid']==4 || $one['oid']==8 || $one['oid']==12">
	              	    <li class="last-row text-red">
	                <else/>
	               	    <li class=""> 
	                </if>
	                     <a target="_blank" title="<{$one.s_3_1}>" data-ad="1663" stat="ad-1663" href="<{$one.ypurl}>" class="block"><{$one.s_3_1}></a>
	                </li> 
				  </plist>
            </ul>
        </div>
		<div class="fc_right">
			<h3><span>金牌VIP</span>会员专区</h3>
        	<ul>
				  <plist item="one" row="24,12">
				 	<if condition="$one['oid']==4 || $one['oid']==8 || $one['oid']==12">
	              	    <li class="last-row text-red">
	                <else/>
	               	    <li class=""> 
	                </if>
	                     <a target="_blank" title="<{$one.s_3_1}>" data-ad="1663" stat="ad-1663" href="<{$one.ypurl}>" class="block"><{$one.s_3_1}></a>
	                </li> 
				  </plist>
            </ul>
        </div>
</div>
</div>
<div class="space10"></div>
<div class="space10"></div>
<div class="center">
<div class="category hao_border" style="margin-top:20px;">
<div class="hd"><em class="ico_ask"></em><a herf="#" style="cursor:hand;">加盟热点：</a></div>
<ul class="list">
	<modlist name="newssearch" item="one" row="30,25">
		</li><a href="/hot/<{$one.id}>.html" title="<{$one.word}>"><{$one.word}></a><li>
	</modlist>
</ul>
<div class="fd-clear"></div>
</div>
</div>
	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->
<div class="toolbar">
   <a href="###" class="toolbar-item toolbar-item-weixin">
   <span class="toolbar-layer"></span>
   </a>
   <a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
   <a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
   </a>
   <div onclick="window.scroll(0,0)" style="cursor:pointer;" id="top" class="toolbar-item toolbar-item-top"></div>
</div>
<script src="__PUBLIC__/js/home/baodao/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/baodao/jquerytabs.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/baodao/jcarousellite_1.js"></script>

<script type="text/javascript">$(function() {$("#Dynamic dd").jCarouselLite({vertical:true,hoverPause:true,visible:1,auto:1000,speed:1800
});});</script>
<script type="text/javascript">

function ranklist(id,ele,elename,elechild,start_ele,cur_ele){
    var obj_id=document.getElementById(id);
    var obj_ele=$tag(obj_id,ele);
    for(i=0;i<obj_ele.length;i++){
        if(obj_ele[i].className.indexOf(elename) == -1) continue;
        var objlist=$tag(obj_ele[i],elechild);
        for(j=0;j<objlist.length;j++){
            objlist[j].onmouseover=function(){
                var paris=this.parentNode;
                var list=$tag(paris,elechild);
                for(x=0;x<list.length;x++){
                    var thisdiv=$tag(list[x],cur_ele)[0];
                    var thisp=$tag(list[x],start_ele)[0];
                    thisdiv.style.display="none";
                    thisp.style.display="block";
                    }
                var start=$tag(this,start_ele)[0];
                start.style.display='none';
                var cur=$tag(this,cur_ele)[0];
                cur.style.display='block';
            }
        }
    }
}
function $tag(id,tag){return id.getElementsByTagName(tag);}
setTimeout("ranklist('ranklist','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}


</script>

</body>
</html>