<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><{$brandinfo.companyname}>-<{$brandinfo.brandname}>品牌,<{$brandinfo.industryname}>加盟十大品牌,<{$brandinfo.industryname}>加盟排行榜-中国连锁网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/top10/<{$brandinfo.memberid}>.html">
<meta name="Keywords" content="<{$brandinfo.companyname}>,<{$brandinfo.brandname}>品牌">
<meta name="Description" content="<{$brandinfo.projectintro|substr=0,400|strip_tags}>">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/top10/style_list.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/project/bottom_nav.css" />
<script type="text/javascript" src="__PUBLIC__/js/home/top10/index/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/top10/jquerytabs.js"></script>
<base target="_blank" />
</head>
<body>
<script>
  var mob_url = "http://m.liansuo.com/top10/<{$one.memberid}>.html";
</script>
<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script>
<div class="lsgb_header_bj">
  <div class="center">
    <div class="lsgb_top">
      <p class="lsgb_index_ul floatL"> 
	      <a href="http://www.liansuo.com/"><em class="bg_1">1</em>首页</a>| 
	      <a href="http://search.liansuo.com/"><em class="bg_2">3</em>找项目</a>| 
	      <a href="http://search.liansuo.com/"><em class="bg_3">3</em>排行榜</a>| 
	      <a href="http://www.liansuo.com/about/sitemap.html"><em class="bg_4">3</em>指南</a>| 
	      <a href="http://yp.liansuo.com"><em class="bg_5">3</em>展会</a>| 
	      <a href="http://zhuanti.liansuo.com"><em class="bg_6">4</em>招商</a>| 
	      <a href="https://u.liansuo.com/Entest/Index/index"><em class="bg_7">4</em>人物</a>| 
	      <a href="http://www.liansuo.com/top.html"><em class="bg_8">8</em>问答</a> 
      </p>
      <div style="float:right;" class="Topnav_floatR">
        <div class="top_r_login">
	        <a id="dLqq" class="txqq" target="_blank" href="https://u.liansuo.com/Home/QQLogin/qqRedirect">
	        	<img width="50" height="16" src="http://img.liansuo.com/html/images/918/topnav_qq.png">
	        </a>&nbsp;&nbsp;
	        <a rel="nofollow" target="_blank" href="https://u.liansuo.com/Home/Login/index">登录</a>&nbsp;<a>
	        	<img src="http://img.liansuo.com/html/images/918/i_linex.png">
	        </a>&nbsp;
	        <a rel="nofollow" target="_blank" href="https://u.liansuo.com/Home/Register/register">注册</a>&nbsp;<a>
	        	<img src="http://img.liansuo.com/html/images/918/i_linex.png">
	        </a>&nbsp;
	        <a target="_blank" href="http://www.liansuo.com/top10/">十大品牌</a>&nbsp;<a>
	        	<img src="http://img.liansuo.com/html/images/918/i_linex.png">
	        </a>&nbsp;
	        <a target="_blank" href="">项目库</a>&nbsp;<a>
	        	<img src="http://img.liansuo.com/html/images/918/i_linex.png">
	        </a>&nbsp;
	        <a target="_blank" href="">专题</a>
        </div>
      </div>
    </div>
    <div class="space10 clear"></div>
        <div class="center nav"> <span class="nav-home">行业</span>
      <div class="nav-groups">
        <div class="nav-group">
          <ul>
            <li><span><a href="http://canyin.liansuo.com/">餐饮</a></span><a href="http://xiaochi.liansuo.com/">小吃</a><a href="http://huoguo.liansuo.com/">火锅</a><a href="">快餐</a></li>
            <li><span><a href="http://fuzhuang.liansuo.com/">服装</a></span><a href="http://tongzhuang.liansuo.com/">童装</a><a href="http://nvzhuang.liansuo.com/">女装</a><a href="http://nanzhuang.liansuo.com/">男装</a></li>
            <li><span><a href="http://ganxi.liansuo.com/">干洗</a></span><a href="http://search.liansuo.com/10-81-0-0_0_0-1.html">干洗店</a><a href="http://search.liansuo.com/10-82-0-0_0_0-1.html">干洗设备</a></li>
            <li><span><a href="http://jiaoyu.liansuo.com/">教育</a></span><a href="http://yezj.liansuo.com/">早教</a><a href="http://yingyu.liansuo.com/">英语</a><a href="http://fudao.liansuo.com/">辅导</a></li>
            <li><span><a href="http://jiafang.liansuo.com/">家纺</a></span><a href="http://csyp.liansuo.com/">床上用品</a><a href="http://buyi.liansuo.com/">布艺</a></li>
            <li><span><a href="http://meirong.liansuo.com/">美容</a></span><a href="http://baojian.liansuo.com/">保健</a><a href="http://hzp.liansuo.com/">化妆</a><a href="http://mtss.liansuo.com/">美体</a></li>
            <li><span><a href="http://zhubao.liansuo.com/">珠宝</a></span><a href="http://search.liansuo.com/0-84-0-0-1.html">钻石</a><a href="http://search.liansuo.com/0-86-0-0-1.html">黄金</a><a href="http://search.liansuo.com/11-87-0-0_0_0-1.html">铂金</a></li>
            <li><span><a href="http://shipin.liansuo.com/">饰品</a></span><a href="http://yinshi.liansuo.com/">银饰</a><a href="http://shishang.liansuo.com/">时尚</a><a href="http://minzu.liansuo.com/">民族</a></li>
            <li><span><a href="http://qiche.liansuo.com/">汽车</a></span><a href="http://search.liansuo.com/0-89-0-0-1.html">汽修</a><a href="http://search.liansuo.com/12-90-0-0-1.html">美容</a><a href="http://search.liansuo.com/12-91-0-0_0_0-1.html">车饰</a></li>
            <li><span><a href="http://jiancai.liansuo.com/">建材</a></span><a href="http://bizhi.liansuo.com/">壁纸</a><a href="http://yqtl.liansuo.com/">涂料</a><a href="http://menchuang.liansuo.com/">门窗</a></li>
            <li><span><a href="http://jiaju.liansuo.com/">家居</a></span><a href="http://furniture.liansuo.com/">家具</a><a href="http://zhuangshi.liansuo.com/">装饰</a><a href="http://chugui.liansuo.com/">橱柜</a></li>
            <li><span><a href="http://wujin.liansuo.com/">五金</a></span><a href="http://search.liansuo.com/0-108-0-0-1.html">日用</a><a href="http://search.liansuo.com/15-109-0-0_0_0-1.html">建筑</a><a href="http://search.liansuo.com/15-110-0-0_0_0-1.html">机械</a></li>
            <li><span><a href="http://yingtong.liansuo.com/">婴童</a></span><a href="http://leyuan.liansuo.com/">儿童乐园</a><a href="http://myyp.liansuo.com/">母婴</a></li>
            <li><span><a href="http://huanbao.liansuo.com/">环保</a></span><a href="http://jieneng.liansuo.com/">节能</a><a href="http://search.liansuo.com/0-66-0-0-1.html">净化</a><a href="http://search.liansuo.com/7-182-0-0_0_0-1.html">环卫</a></li>
            <li><span><a href="http://search.liansuo.com/">精品</a></span><a href="http://chaye.liansuo.com/">茶叶</a><a href="http://mianshi.liansuo.com/">面食</a><a href="http://search.liansuo.com/16-218-0-0_0_0-1.html">金融</a></li>
            <li><span><a href="http://tese.liansuo.com/">特色</a></span><a href="http://jiudian.liansuo.com/">酒店</a><a href="http://ktv.liansuo.com/">ktv</a><a href="http://diaoju.liansuo.com/">钓具</a></li>
          </ul>
        </div>
      </div>
    </div>
        <div class="space10 clear"></div>
    <div class="space10 clear"></div>
    <div class="lsgb_logo"> 
    	<a href="http://www.liansuo.com/" class="floatL m_r"> 
    		<img width="210" height="55" src="__PUBLIC__/image/home/project/logo_11.png" alt="中国连锁网">
    	</a>
      <div class="floatL title_pro">
        <h1>
        <if condition="empty($brandinfo['companyname'])">
			<{$brandinfo.brandname}>
        <else/>
	        <{$brandinfo.companyname}>
        </if>
        </h1>
        <p><a target="_blank" href="">www.liansuo.com/top10/<{$brandinfo.memberid}>.html</a></p>
      </div>
      <div style="position:relative;" class="floatL lsgb_search">
        <!-- 搜索框 -->
        <div class="searchinfo" style="position:absolute;" id="searchPro">
          <div class="search_int">
            <input type="text" name="" id="keyword" class="search_input ac_input" style="width: 381px;  height: 25px;position:absolute;z-index:9999;color:#555;" onfocus="searchnone();" autocomplete="off">
          </div>
          <div class="search_ins">
            <input type="submit" value="" class="search_btn" id="searchBtn">
          </div>
        </div>
        <div class="hot_words">热门搜索：
             <plist item="one"  row="5,5" ispay="1">
                 <a href="<{$one.ypurl}>" title="<{$one.title}>加盟"><{$one.title}></a>
             </plist>        
        </div>
        <!-- 搜索框end --> 
      </div>
      <div class="floatR news_tt"> 
              <adlist item="one"  cid="817"  row="1" ispay="1">
                  <a href="<{$one.httpurl}>" title="<{$one.title}>加盟"><img src="http://img.liansuo.com/html/images/<{$one.fileurl}>" width="226" height="55" alt="<{$one.title}>加盟"/></a>
              </adlist>  
       </div>
    </div>
  </div>
</div>
<div class="space10 clear"></div>
<div class="space10 clear"></div>
<div class="pro_nav">
  <div class="pro_nav_con"> 
        <a href="http://www.liansuo.com/">首页</a>
        <a href="http://www.liansuo.com/p/">项目大全</a>
        <a href="http://www.liansuo.com/baodao/">项目报道</a>
        <a href="http://www.liansuo.com/top10/">十大品牌</a>
        <a href="http://www.liansuo.com/news/">项目资讯</a>
        <a href="http://search.liansuo.com/">招商加盟</a>
        <a href="http://www.liansuo.com/top.html">排行榜</a></div>
</div>
<div class="breadcrumbs center"> 
<span>当前位置 : </span> 
<span class="breadcrumbs-links"> 
<a href="http://www.liansuo.com">连锁网</a>＞</span> 
<span class="breadcrumbs-links"> <a href="http://www.liansuo.com/top10/">十大品牌</a>＞</span>
<span class="breadcrumbs-links"> <a  href="http://www.liansuo.com/top10/<{$pathname}>/"><{$brandinfo.industryname}>十大品牌</a>＞</span>
<span class="breadcrumbs-links"> <a href="http://www.liansuo.com/top10/<{$brandinfo.memberid}>.html"><{$brandinfo.brandname}></a></span>
</div>
<div class="space10 clear"></div>
<div class="center">
  <div class="content wrap">
    <div class="to_join">
      <div class="join_lt">
        <div class="matr_box">
          <div class="side_one"> <a><img alt="<{$brandinfo.brandname}>" title="<{$brandinfo.brandname}>" src="http://img.liansuo.com/html/images/<{$brandinfo.logo}>" onerror="javascript:this.src='__PUBLIC__/image/zanwu.jpg';" original="__PUBLIC__/image/home/top10/14265834562471.jpg"><span><{$brandinfo.brandname}></span></a>
            <div class="clear space10"></div>
            <div class="clear space10"></div>
            <h5><{$brandinfo.brandname}>档案</h5>
            <div class="head_smbtno">
              <div class="clear space10"></div>
            </div>
            <p>
              <label>中文名称：</label>
              <{$brandinfo.brandname}></p>
            <p>
              <label>所属公司：</label>
              <{$brandinfo.companyname}></p>
            <p>
              <label>所属国家：</label>
              国内</p>
            <div class="clear space10"></div>
            <div class="clear space10"></div>
            <h5><{$brandinfo.brandname}>联系方式</h5>
            <div class="clear space10"></div>
            <div class="head_smbtno">
              <div class="clear space10"></div>
            </div>
            <div class="space_12"></div>
            <p>
              <label>电    话：</label>
              <if condition="empty($brandinfo['ExtCode'])">
              
              <else/>
             	 	400-810-
							<if condition="$brandinfo['BigCode'] neq ''">
								<?php echo str_replace('810','',$brandinfo['BigCode']);?>
							<else/>7676
							</if>
							<if condition="$brandinfo['BigCode'] eq '8107676'">
							   	<if condition="$brandinfo['ExtCode'] neq '0'"> 
							     	<if condition="$brandinfo['BigCode'] !== ''"> 转 <{$brandinfo.ExtCode}></if>
							    </if>
							</if>           
						<if> 
            </p>
            <p>
              <label>传    真：</label>
              0573-88836158</p>
            <p>
              <label>邮    箱：</label>
              <{$brandinfo['linkeremail']}>
            </p>
            <p>
              <label>地    址：</label>
              <{$brandinfo['address']}>
            </p>
            <a rel="nofollow" class="my_butt" href="">在线加盟咨询</a> </div>
        </div>
		  <div class="rtopad">
          <div class="rightdiv">
            <div class="title">相关报道</div>
            <div class="listbox">
              <div class="list">
                <ul>
                	<plist item="one" ispay="0" row="12" cid="$brandinfo['industry']"> 
		                     <li><a href="<{$one.ypurl}>" target="_blank" >【<{$one.brandname}>】<{$one.brandname}>加盟店报道,<{$one.brandname}>加盟条件,加盟费用</a></li> 
                	</plist>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="space_8"></div>
        <div class="space_8"></div>
      </div>
      <div class="join_rt">
        <div class="mess_cont">
          <div class="head_smbtn">
            <h6></h6>
          </div> 
          <div class="incld_brand">
            <h1><{$brandinfo.brandname}>品牌介绍</h1>
            <div id="incld_box" class="incld_box">
              <p>
              <p> </p>
              <p><{$brandinfo.projectintro}></p>
              </p>
            </div>
            
          </div>
          
          <div class="clear"></div>
        </div>
        <div class="clear space10"></div>
        <div class="join_rt_con">
          <div class="rightdiv">
            <div class="title">同类项目 <span><a rel="nofollow" href="http://www.liansuo.com/p/">更多&gt;&gt;</a></span></div>
            <div class="listbox">
              <div class="list">
	                <ul>
	                	<plist item="one" row="10,12" cid="$brandinfo['industry']">
		                     <li><a href="<{$one.ypurl}>" title="<{$one.title}>"><{$one.title}></a></li>
	                	</plist>
	                </ul>
              </div>
            </div>
          </div>
          <div class="rightdiv">
            <div class="title">商机资讯 <span><a rel="nofollow" href="http://www.liansuo.com/news/">更多&gt;&gt;</a></span></div> 
            <div class="listbox">
              <div class="list">
                <ul>
	                <arclist item="one" row="12" cid="$brandinfo['industry']">
	                     <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
	                </arclist>
                </ul>
              </div>
            </div>
          </div>
          </div>
          <div class="clear space10"></div>
         <div class="contant_sm"> <span>声明：</span>
    <p>本页面内容不代表中国连锁网观点或支持购买任何品牌，仅提供参考使用。十大品牌无需企业申请申报，不存在评定评选的过程，企业不需要交纳任何费用，无偿服务于广大消费者。</p>
    <p>以上数据只是为了消费者能够有所参考，不是认定认证，不是竞价排名，不是表彰评选，不是评奖评比。R/TM/C图形文字多数为公司或相关单位商标版权，与中国连锁网合作，并受法律保护，请勿转载。</p>
  </div>
         <div class="clear space10"></div>
         <div class="labelbox">    
              <span>相关标签</span>
              <div class="label">
                  <modlist name="tag" item="one" cid="$brandinfo['industry']" row="20">
	                   <a href="<{$one.url}>" target="_blank"><{$one.tag}></a>
                  </modlist>
              </div>
         </div>
      </div>
      <div class="rbox">
      	<div class="rightdiv">
          <div class="listbox" style="border-top:solid 1px #dddddd;">
            <div class="joinbox">
              <div class="tt">加入中国连锁网项目库</div>
              <a href="https://u.liansuo.com/Home/Register/register" rel="nofollow" target="_blank">得海量精准加盟资源,免费发信息!</a><br>
              <br>
              <a href="https://u.liansuo.com/Home/Register/register" rel="nofollow" target="_blank"><img src="__PUBLIC__/image/home/project/join.gif" alt="加入项目网产品库" width="131" height="40"></a></div>
          </div>
        </div>
        <div class="brand_con_rx">
          <div class="phb" id="ranklist">
            <h3><a class="floatR" rel="nofollow" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a><{$brandinfo.industryname}>加盟十大品牌</h3>
            <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
            <ul class="list  listNav">
					<plist row="10" item="one" cid="$brandinfo['industry']">
						 <if condition="$one['oid']==1"><li class="active"><else/><li></if>
	                    	<a href="<{$one.ypurl}>" target="_blank"><i><{$one.oid}></i><{$one.title}></a>
			                  <div class="add_div">
			                  	<div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.title}>" alt="<{$one.title}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
			                    <div class="floatR text_pro">
                                	<p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.title}></a></p>
			                    	<p class="hangye">行业：<a href="http://search.liansuo.com/0-0-0--1.html"><{$one.industryname}></a></p> 
			                        <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
			                        <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
			                    </div>
			                  </div>
	                    </li>
	                </plist> 
            </ul>
          </div>
        </div>
        
        <div class="rtopad">
          <div class="rightdiv">
            <div class="title">同类企业</div>
            <div class="listbox">
              <div class="list">
                <ul>
                	<plist item="one" row="12" cid="$brandinfo['industry']"> 
                		<if condition="!empty($one['companyname'])">
		                     <li><a href="http://www.liansuo.com/top10/<{$one.memberid}>.html" target="_blank" ><{$one.companyname}></a></li> 
                		</if>
                	</plist>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 返回顶部导航   -->
<div class="toolbar">
   <a href="###" class="toolbar-item toolbar-item-weixin">
   <span class="toolbar-layer"></span>
   </a>
   <a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
   <a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
   </a>
   <a href="javascript:scroll(0,0)" id="top" class="toolbar-item toolbar-item-top"></a>
</div>


	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->
<script type="text/javascript" src="__PUBLIC__/js/home/top10/jcarousellite_1.js"></script> 
<script type="text/javascript">
function ranklist(id,ele,elename,elechild,start_ele,cur_ele){
    var obj_id=document.getElementById(id);
    var obj_ele=$tag(obj_id,ele);
    for(i=0;i<obj_ele.length;i++){
        if(obj_ele[i].className.indexOf(elename) == -1) continue;
        var objlist=$tag(obj_ele[i],elechild);
        for(j=0;j<objlist.length;j++){
            objlist[j].onmouseover=function(){
                var paris=this.parentNode;
                var list=$tag(paris,elechild);
                for(x=0;x<list.length;x++){
                    var thisdiv=$tag(list[x],cur_ele)[0];
                    var thisp=$tag(list[x],start_ele)[0];
                    thisdiv.style.display="none";
                    thisp.style.display="block";
                    }
                var start=$tag(this,start_ele)[0];
                start.style.display='none';
                var cur=$tag(this,cur_ele)[0];
                cur.style.display='block';
            }
        }
    }
}
function $tag(id,tag){return id.getElementsByTagName(tag);}
setTimeout("ranklist('ranklist','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}

$(function(){
		window.onload = function()
		{
			var $li = $('#today-hot dd');
			var $ul = $('#today-pic ul');
						
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass();
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})
		}
	});

</script>
<script type="text/javascript" src="http://www.liansuo.com/c.js"></script> 
</body>
</html>