<!DOCTYPE html>
<html lang="en">
<head><block name="yellowTDK"></block> 	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	  <link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico" />
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	  <meta http-equiv="Cache-Control" content="no-transform">
	  <block name="ddddd"></block> 
	  <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/3.0.2/normalize.min.css" />
	  <link rel="stylesheet" href="__PUBLIC__/css/home/project/newspage.css">
 	  <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/3.0.2/normalize.min.css" />
	  <link rel="stylesheet" href="http://www.liansuo.com/html/css/yp-reset.css">
	  <link rel="stylesheet" href="http://www.liansuo.com/html/css/yp-slick.css">
	  <link rel="stylesheet" href="http://www.liansuo.com/html/css/yp-style.css">
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/project/style.css" />
	  <link rel="stylesheet" href="http://www.liansuo.com/html/js/plugins/fancybox/fancybox.css">
	  <script type="text/javascript" src="__PUBLIC__/js/home/project/ismob.js"></script> 
	  <script type="text/javascript" src="__PUBLIC__/js/home/project/jquery-1.8.3.min.js"></script> 
	  <script type="text/javascript" src="__PUBLIC__/js/home/project/gb_hb.js"></script> 
	  <base target="_blank" />
</head>
<body>
    <block name="yellowSP"></block>
	<!---头部开始---> 
	<include file="../Public/html/public/yel_header.html" />
	<!-- 头部结束 -->
<div class="space5 clear"></div>
<!-- 隐藏值 用于表单提交 -->
<input id="hidval" type="hidden" value="<{$brandinfo.memberid}>" />
<input id="jsindustry" type="hidden" value="<{$brandinfo.industry}>" />
<input id="jssubindustry" type="hidden" value="<{$brandinfo.subindustry}>" />
<div class="container">
  <span style="font-size:18px"><a href="http://www.liansuo.com">首页</a>><a target="_blank" href="http://<{$industry.pathname}>.liansuo.com" title="<{$industryname}>加盟" ><{$industry.industryname}>加盟</a> &gt;
<if condition="$subindustry['industryname'] !== '其他'"><a target="_blank" href="http://<{$subindustry.pathname}>.liansuo.com" title="<{$subindustry.industryname}>加盟"><{$subindustry.industryname}>加盟</a>></if>
  <a target="_blank" href="http://www.liansuo.com/p/<{$industry.pathname}>/" title="<{$industryname}>加盟" ><{$industry.industryname}>加盟品牌</a>><a href="<{$url}>" target="_blank" ><{$brandinfo.brandname}>加盟</a>
   
<div class="banner">
	<img style="cursor:default" class="banner-a"  src="http://img.liansuo.com/html/images/<{$brandinfo.logo}>" alt="<{$brandinfo.brandname}>加盟" />
	<block name="banner"></block>
	<p class="banner-info">
	       加盟品牌：【<{$brandinfo.brandname}>】<br>
	       所属行业：<a href="http://search.liansuo.com/<{$brandinfo.industry}>-0-0-0-1.html" title="<{$industry.industryname}>加盟"><{$industry.industryname}></a> ><a href="http://search.liansuo.com/<{$brandinfo.subindustry}>-0-0-0-1.html" title="<{$subindustry.industryname}>加盟"><{$subindustry.industryname}></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基本投资：<{$brandinfo.joinlinemin}>万元  ~ <{$brandinfo.joinlinemax}>万元 <br>
	  <if condition="$brandinfo['isupload'] eq 3 || $brandinfo['isupload'] eq 1">招商加盟：<a href="<{$brandinfo.hburl}>"><{$brandinfo.hburl}></a></if>
	</p>
	<p class="banner-phone">
					<if condition="$brandinfo['mancheck'] eq 0">
					<p class="banner-phone">请登录后查看
				<else /> 
		400-091-<if condition="!empty($brandinfo['BigCode'])">
			<?php echo str_replace('091','',$brandinfo['BigCode']);?>
			<else/>1181</if>
		<if condition="$brandinfo['BigCode'] eq '0911181'">
		   	<if condition="!empty($brandinfo['ExtCode'])"> 
		     	<if condition="$brandinfo['BigCode'] !== ''"> 转 <{$brandinfo.ExtCode}></if>
		    </if>
		</if>
		</p></if>
	</p>
</div>
    <div id="contid" class="main-nav">
		<ul class="clearfix"> 
			<li><a href="http://www.liansuo.com/p/<{$brandinfo.memberid}>/" target="_self" title="<{$brandinfo.brandname}>项目介绍">项目介绍</a></li>
            <if condition="!empty($brandinfo['vcr_href'])"><li><a id="showdiv" href="#inline" target="_self" title="<{$brandinfo.brandname}>品牌VCR">品牌VCR</a></li></if>
            <if condition="!empty($brandinfo['pc_contents1'])"><li><a href="scqj.html" target="_self" title="<{$brandinfo.brandname}>市场前景">市场前景</a></li></if>
            <if condition="!empty($brandinfo['pc_contents2'])"><li><a href="jmys.html" target="_self" title="<{$brandinfo.brandname}>加盟优势">加盟优势</a></li></if>
            <if condition="!empty($brandinfo['contents3'])"><li><a href="jyfx.html" target="_self" title="<{$brandinfo.brandname}>经营分析">经营分析</a></li></if>
            <if condition="!empty($brandinfo['pc_contents4'])"><li><a href="jmlc.html" target="_self" title="<{$brandinfo.brandname}>加盟流程">加盟流程</a></li></if>
            <if condition="!empty($brandinfo['allpicture']['cptp'])"><li><a href="cpzs.html" title="<{$brandinfo.brandname}>产品展示" target="_self">产品展示</a></li></if>
            <if condition="$brandinfo['use_map'] eq 1"><li><a href="lsdt.html" title="<{$brandinfo.brandname}>连锁地图" target="_self">连锁地图</a></li></if>
			<if condition="$newshas"><li><a href="ppxw.html" target="_self" title="<{$brandinfo.brandname}>品牌新闻" >品牌新闻</a></li></if>
            <if condition="$brandinfo['lsrw'][0]['title']"><li><a href="<{$brandinfo.lsrw.0.outsideurl}>" title="<{$brandinfo.brandname}>领军人物" target="_blank">领军人物</a></li></if>
			<li><a href="lxfs.html" target="_self" title="<{$brandinfo.brandname}>联系方式">联系方式</a></li>
			<if condition="$brandinfo['isupload'] eq 1 || $brandinfo['isupload'] eq 3">
				<li>  
					<a href="<{$brandinfo.hburl}>" title="<{$brandinfo.brandname}>招商海报"  target="_blank">招商海报
						<i ><img src="http://img.liansuo.com/html/images/hto.gif"></i>
					</a>
				</li>
			</if>
		</ul>
    </div>
     
    <div class="space10"></div> 
    <div class="section01 clearfix">
    <div class="floatL">
	      <div class="slide slider1">
      			<volist name="brandinfo.allpicture.cptp" offset="0" id="one" length="3">
      				<div><a><img width="390" height="270" src="http://img.liansuo.com/html/images/<{$one}>"></a></div>
      			</volist>
	      </div>
          <script type="text/javascript">
			$(function(){
				$("#sc").click(function(){
					var url = window.location.href;
					var title = $("#name").html();
					try{
						window.external.addFavorite(url, title);
					}catch (e){
					try{
						window.sidebar.addPanel(title, url, "");
					}catch (e){
						alert("加入收藏失败，请CTRL+D手动添加!");
					}
					}
				})
			})
		</script>
		
          <div class="section01-middle">
		       <div class="row01 clearfix share">
			        <!-- 二维码 -->
	                <div id="detail">
						<pre><div id="qrcode"></div></pre>
	                </div>
			        <span class="row01-title lf">
			        	<b id="name">
				        	<!-- 模板继承  start-->
				        	<block name="row01-title"></block>
				        	<!-- 模板继承  end-->
			        	</b>
			        </span>
		            <ul class="share-contents" id="share_contents">
							<li class="s_wx"><i class="icon-s_wx"></i><a>微信好友</a></li>
							<li class="msQQ"><i class="icon-msQQ"></i><a>QQ好友</a></li>
							<li class="msQzone"><i class="icon-msQzone"></i><a>QQ空间</a></li>
							<li class="msSina"><i class="icon-msSina"></i><a>新浪微博</a></li>
							<li class="msWeibo"><i class="icon-msWeibo"></i><a>腾讯微博</a></li>
				    </ul>          
			    </div>
			    
			    
			    
		        <div class="row02 clearfix">
			          <p>
					            成立时间：<span><{$brandinfo.createtime}>年</span><br>
					            经营产品：<span><{$industry.industryname}></span><br>
					            投资额度：<span><b class="big"><{$brandinfo.joinlinemin}>~<{$brandinfo.joinlinemax}></b>万</span><br>
					            品牌源地：<span><{$brandinfo.cradle}></span><br>
                                申请加盟：<span><b class="big"><{$brandinfo.msg_sum}></b>人次</span>
			          </p>
			          <!--<p>
					            加盟店数：<span><b><{$brandinfo.jmnum}></b>家</span><br> 
					            直营店总数：<span><b><{$brandinfo.zydnum}></b>家</span><br>
					            门店总数：<span><b><if condition="$brandinfo['storesnum'] == 0">审核中<else /><{$brandinfo.storesnum}></if></b>家</span><br>
					            加盟区域：<span><{$brandinfo.joinregion}></span><br>
			          </p>-->
			          <!--<div class="rf">
			            <h3 class="rf-h3"><b><{$brandinfo.joinlinemin}>万</b><br><span>投资金额</span></h3>
			            <a href="<{$url}>lxfs.html" rel="nofollow" target="_self">申请加盟</a>
			          </div>-->
		        </div>
		        <p>适合人群：<span>自由创业者、在岗投资、毕业生创业</span></p>
		        <!--<p>意向加盟：<b class="big"><{$brandinfo.visit_sum}>0</b><span>人次</span> &nbsp;&nbsp;&nbsp;申请加盟：<b class="big"><{$brandinfo.msg_sum}></b><span>人次</span>  &nbsp;&nbsp;&nbsp;好评率：<b class="big">99%</b></p>-->
				<div class="btn_area">
					<a onclick="$('html, body').animate({scrollTop: $('#qusfal').offset().top-$('.smint').height()}, 500);" class="zixun_btn">立即咨询</a>
					<a onclick="$('html, body').animate({scrollTop: $('#qusfal').offset().top-$('.smint').height()}, 500);" class="suoyao_btn">索要资料</a>
                    <a href="<{$url}>lxfs.html" rel="nofollow" target="_self" class="shenqing_btn">申请加盟</a>
				</div>
      </div>
          <div class="clear"></div> 
          <div class="apply_switch limit_w">
        <div class="ov_h">
              <ul class="switch_tit" id="switch_tit">
            <li  class="switch_cur"><em></em><i class="s_ico1"></i>合法性审查</li>
            <li class=""><em></em><i class="s_ico2"></i>可行性分析</li>
            <li class=""><em></em><i class="s_ico4"></i>连锁网评估</li>
            <li class=""><em></em><i class="s_ico3"></i>100%现场实拍</li>
          </ul>
            </div>
        <div class="switch_main" id="switch_main">
              <div class="switch_center s_c_one" style="display: block;">
            <p class="some_txt"><span>通过国家工商及信用系统平台，对企业资质、信用、经营记录等合法性给出客观依据，无需亲临现场，即可眼见为实！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(1)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="apply_btn" value="立即申请" type="submit">
              </div>
                  <div class="form_ele">
                <p class="check_text">已申请人数<br>
                      <span><{$brandinfo.msg_sum}></span></p>
              </div>
                </form>
          </div>
              <div class="switch_center s_c_two" style="display: none;">
            <p class="some_txt"><span>对项目特色、加盟政策、加盟店调查、消费者评价等分析，对项目的可行性给出客观依据，诚信合法是连锁网的基本底线！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(2)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <button class="apply_btn">立即申请</button>
              </div>
                  <div class="form_ele">
                <p class="check_text">已申请人数<br>
                      <span><{$brandinfo.msg_sum}></span></p>
              </div>
                </form>
          </div>
              <div class="switch_center s_c_three" style="display: none;">
            <p class="some_txt"><span>通过对审查及调查数据的汇总分析，连锁网对项目给出客观的评价与评估，以供创业者参阅，拒绝一切欺骗！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(3)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="apply_btn" value="立即申请" type="submit">
              </div>
                </form>
            <div class="form_ele">
                  <p class="check_text">已申请人数<br>
                <span><{$brandinfo.msg_sum}></span></p>
                </div>
          </div>
              <div class="switch_center s_c_four" style="display: none;">
            <p class="some_txt"><span>通过对总部及加盟店进行现场实拍，对项目真实性和总部实力给出客观依据，努力成为您的项目评估师！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(4)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="apply_btn" value="立即申请" type="submit">
              </div>
                  <div class="form_ele">
                <p class="check_text">已申请人数<br>
                      <span><{$brandinfo.msg_sum}></span></p>
              </div>
                </form>
          </div>
            </div>
      </div>
        </div>
    <div class="section01-right">
          <div class="comp_info"> <b>公司信息</b>
        <div class="comp_logo"> 
        <img src="http://img.liansuo.com/html/images/<{$brandinfo.logo}>" alt="<{$brandinfo.brandname}>" data-bd-imgshare-binded="1" width="120" height="89">
         </div>
        <div class="comp_info_con">
              <h3 title="<{$brandinfo.companyname}>"><{$brandinfo.companyname}></h3>
              <ul>
            <li title="外商投资企业"><span>企业性质</span><em> 外商投资企业</em></li>
            <li><span>注册资金</span><em><if condition="$brandinfo['funds'] eq '' or $brandinfo['funds'] eq '--'">审核中<else /><{$brandinfo.funds}><if condition="!strpos($brandinfo['funds'],'万')">万</if>元</if></span><br></em></li>
            <li><span>所在地</span><em><{$brandinfo.address}></em></li>
          </ul>
          </div>
        <ul class="renZ_info">
        	<if condition="$brandinfo['mancheck'] eq 1">
              <li><span class="beian1"></span><em>备案企业</em></li>
              <li class="mrl30"><span class="renzheng1"></span><em>企业认证</em></li>
              <li><span class="baozhang1"></span><em>投资保障</em></li>
			<else/>        	
              <li><span class="beian1_no"></span><em>备案企业</em></li>
              <li class="mrl30"><span class="renzheng1_no"></span><em>企业认证</em></li>
              <li><span class="baozhang1_no"></span><em>投资保障</em></li>  
        	</if>
        </ul>
      </div>
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
      
        </div>
  	</div>
	    
<div class="section_contant clearfix">
    <div class="section02 clearfix">
        <div class="section02-left lf">
        <!-- 模板继承  start-->
	       <block name="section02-left"></block>
	    <!-- 模板继承  end-->
	        <div class="space10 clear"></div>
				<if condition="$brandinfo['contents1'] && $brandinfo['contents2'] && $brandinfo['contents3']">
				<div class="market-prospect">			
					
				</div>
				</if>

       		  
				<div class="xmhy-lyb"  name="qusfal" style="position:relative;">
						 <div style="position:absolute;top:-43px;" id="qusfal"></div>
							<h2>
								<span><em>我要</em>&nbsp;咨询</span>
							</h2>
						<iframe id="iframeid" marginheight="0" marginwidth="0" noresize="" style="margin:0 auto; margin-top:0px;"
							src="https://g.liansuo.com/gbook/gbook_dialogboxchild_7781.php?mid=<{$brandinfo.memberid}>" scrolling="no" 
							frameborder="0" height="345" width="100%">
						</iframe>
						<script>
						    var url = window.location.href;
						    var pattern = /(\w+)=(\w+)/ig;//定义正则表达式
						    var parames = {};//定义数组
						    url.replace(pattern, function(a, b, c){
						        parames[b] = c;
						    });
						    var bannerID = parames['bannerID'];//返回这个数组.
						  if (bannerID) {
						    document.getElementById('iframeid').src +='&bannerID='+bannerID;
						  }else{
						    document.getElementById('iframeid').src +='&bannerID=0';
						  }
						</script>		
					</div>
      </div>
      <div class="section02-right rf">
		<div class="section02-right-title clearfix">
       		    <h3> 热门搜索  </h3>
        	    <a href="http://zhaoshang.liansuo.com/" rel="nofollow">MORE</a>
          </div>
          <hr id="red_line">
          <div class="quick_entrance">
          <div class="quick_entrance_con">
          	   <modlist name="tag" item="one" row="8" cid="$brandinfo['subindustry']">
	               <a href="<{$one.url}>" title="tag" ><{$one.tag}></a> 
          	   </modlist>
          </div>
      	  </div>
          <div class="brand_con_rx">
        <div class="phb" id="ranklist">
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" rel="nofollow" target="_blank">完整榜单</a><{$industry.industryname}>加盟项目推荐</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
              	   <plist item="one" cid="$brandinfo['industry']" row="10" >
		               <li> 
			               <a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
			               <div class="add_div" style="display: none;">
				               <div class="floatL">
					               <a href="<{$one.ypurl}>">
					               	    <img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>">
					               </a>
				               </div>
				               <div class="floatR text_pro">
                                	<p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.title}></a></p>
			                    	<p class="hangye">行业：<a href="http://search.liansuo.com/0-0-0--1.html"><{$one.industryname}></a></p> 
			                        <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
			                        <p class="anniu"><a href="<{$one.ypurl}>" rel="nofollow">申请加盟</a></p>
				               </div>
			              </div>
		              </li>
	              </plist>
         	 </ul>
            </div>
      </div>
          <div class="clear"></div>
          <div class="space10"></div>
          <div class="hot_rank article_rela">
		        <div class="title1"> <a id="new">相关文章</a> | <a id="hot">相关报道</a> | <a id="rec">相关企业</a></div>
		        <ul class="new">
		        	<if condition="empty($jmjj)">
			        	<arclist item="one" row="10">
			                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}> "><{$one.title}> </a></li>
			        	</arclist>
		        	<else/>
			        	<volist name="jmjj" id="v">
			                 <li><a href="<{$v.url}>" target="_blank" title="<{$v.title}> "><{$v.title}> </a></li>
			        	</volist>
					</if>
		        </ul>
		        <ul class="hot" style="display: none;">
		            <plist item="one" row="10"  industry="$brandinfo['industry']">
		                 <li><a href="http://www.liansuo.com/baodao/<{$one.memberid}>.html" target="_blank" title="<{$one.brandname}>"><{$one.brandname}></a></li>
		        	</plist>
		        </ul>
		        <ul class="rec"  style="display: none;">
		        	<plist item="one" row="20,10"  industry="$brandinfo['industry']">
		                 <li><a href="http://www.liansuo.com/top10/<{$one.memberid}>.html" target="_blank" title="<{$one.brandname}>"><{$one.companyname}></a></li>
		        	</plist>
		        </ul>
	      </div> 
        <div class="clear"></div>
        <div class="space10"></div>	
  		<div class="section-05-right rf" id="section-05-right">		
				<div class="section-05-right-header commont-header">
					<h3><span><{$brandinfo.brandname}></span>加盟流程</h3>
				</div>
				<div class="section-05-right-body">
					<div class="call-tel">
						<div class="wd_pohne">
						<p>项目咨询热线</p>
							<p>400-091-
							<if condition="!empty($brandinfo['BigCode'])">
							<?php echo str_replace('091','',$brandinfo['BigCode']);?>
							<else/>1181</if>
							<if condition="$brandinfo['BigCode'] eq '0911181'">
								<if condition="!empty($brandinfo['ExtCode'])"> 
									<if condition="$brandinfo['BigCode'] == '0911181'"> 转 <{$brandinfo.ExtCode}></if> 	
								</if>
							</if>
							</p>  
						</div>
					</div>
					<p>直接与我们沟通。通过<span>免费回呼</span>功能直接与我们沟通。</p>
					<div class="recall-back">
						<div><input id="callNum2" type="text" value="请输入你的手机号码/电话号码" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999"><button id="sendNum2">免费回呼</button></div></div>
					<div class="section-05-right-body-item">
						<b>1、给我们留言</b>
						<p>直接给我们留言。如果您不太方便的话可以通过留言的方式与我们沟通，我们会在24小时内给您回电并免费邮寄项目资料。</p>
					</div>
					<div class="section-05-right-body-item">
						<b>2、项目考察</b>
						<p>对项目进行考察是加盟必不可少的一步，你可以通过连锁地图线上，或直接与我们联系，我们会根据您的日程来给您安排实地考察工作。</p>
					</div>
					<div class="section-05-right-body-item">
						<b>3、加盟洽谈</b>
						<p>项目考察过后，如果您满意的话，就可以进行加盟手续的办理成功加盟了</p>
					</div>
				</div>	
			</div>
			<!-- 加盟流程end -->
      </div>
    </div> 
  <div class="clear space10"></div>
  <div class="space10"></div>
  <div class="center phb_xgb">
	    <div class="floatL canyin_l">
				<div class="section02-right-title clearfix"><h3>综合排行榜</h3><a rel="nofollow" href="http://www.liansuo.com/top.html" target="_blank">MORE</a></div>
				<hr>
				<div class="phb_con">
					<p class="phb_title"><a>项目名称</a><a>投资金额</a><a>所属行业</a></p>
					<ul class="phb_list">
						<volist name="phbCom" id="v" key="k" offset="0" length="10">
							<li>
								<a href="http://www.liansuo.com/p/<{$v.memberid}>/" title="<{$v.brandname}>"><i class="bg_red"><{$k}></i><{$v.brandname}></a>
								<a class="red" rel="nofollow" target="_blank" href="http://search.liansuo.com/0-0-<{$v.joinlinemin}>,<{$v.joinlinemax}>--1.html" ><{$v.joinlinemin}>-<{$v.joinlinemax}>万</a>
								<a><{$v.industryname}></a>
							</li>	
						</volist>
					</ul>
				</div>		
		</div>
	    <div class="floatL canyin_l">
			<div class="section02-right-title clearfix"><h3><{$industry.industryname}>加盟排行榜</h3><a rel="nofollow" href="http://www.liansuo.com/top-<{$brandinfo.industry}>-0-1.html" target="_blank">MORE</a></div>
			<hr> 
			<div class="phb_con">
				<p class="phb_title"><a>项目名称</a><a>投资金额</a><a>所属行业</a></p>
				<ul class="phb_list">
					<volist name="phbMax" id="v" key="k" offset="0" length="10">
						<li>
							<a href="http://www.liansuo.com/p/<{$v.memberid}>/" title="<{$v.brandname}>"><i class="bg_red"><{$k}></i><{$v.brandname}></a>
							<a class="red" rel="nofollow" target="_blank" href="http://search.liansuo.com/0-0-<{$v.joinlinemin}>,<{$v.joinlinemax}>--1.html" ><{$v.joinlinemin}>-<{$v.joinlinemax}>万</a>
							<a><{$v.industryname}></a>
						</li>	
					</volist>
				</ul>
			</div>		
		</div>
	    <div class="floatL canyin_l">
			<div class="section02-right-title clearfix"><h3><a></a><{$subindustry.industryname}>加盟排行榜</h3><a rel="nofollow" href="http://www.liansuo.com/top-<{$brandinfo.subindustry}>-0-1.html" target="_blank">MORE</a></div>
			<hr>
			<div class="phb_con">
				<p class="phb_title"><a>项目名称</a><a>投资金额</a><a>所属行业</a></p>
				<ul class="phb_list">
					<volist name="phbMin" id="v" key="k" offset="0" length="10">
						<li>
							<a href="http://www.liansuo.com/p/<{$v.memberid}>/" title="<{$v.brandname}>"><i class="bg_red"><{$k}></i><{$v.brandname}></a>
							<a class="red" rel="nofollow" target="_blank" href="http://search.liansuo.com/0-0-<{$v.joinlinemin}>,<{$v.joinlinemax}>--1.html" ><{$v.joinlinemin}>-<{$v.joinlinemax}>万</a>
							<a><{$v.industryname}></a>
						</li>	
					</volist>
				</ul>
			</div>		
		</div>
  </div>
	<div class="clear space10"></div>
	<div class="space10"></div>
	<div class="center">
			<script type="text/javascript">
				$(function(){
					$('.all_city_contant li').click(function(){
						$('.all_city_contant li').removeClass("current");								 
						$(this).addClass("current");
						$('.all_city_contant li').find('ul').addClass("hid");
						$(this).find('ul').removeClass("hid");
					})
				})
			</script>
			<div class="clear space10"></div>
	</div>
	<div class="clear space10"></div>
	<div class="center">
		<div class="all_city">
			<div class="section02-right-title clearfix"><h3>全国地区加盟站</h3></div>
			<hr>
			<div class="border_div">
				<div class="all_city_contant">
					<include file="../Public/html/public/allcity.html" />
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(function(){
			$('.all_city_contant_x li').click(function(){
				$('.all_city_contant_x li').removeClass("current");								 
				$(this).addClass("current");
				$('.all_city_contant_x li').find('.ls_brand').addClass("hid");
				$(this).find('.ls_brand').removeClass("hid");
			})
		})
		</script>
	</div>
	<!-- 引入页脚 -->
	<div class="clear space10"></div>
		<include file="../Public/html/public/navfoot_news.html" />
	<script type="text/javascript" src="__PUBLIC__/js/home/project/slick.js"></script>
	<script>
	   $('.slide').slick({
	     slidesToShow: 1,//显示多少个图片
	     slidesToScroll:1,//每次滚动几张图片
	     arrows: false,//是否显示两边的箭头
	     autoplay:true,//是否自动滚动
	     dots: true
	   });
	   
	   
		(function(){
		    var bp = document.createElement('script');
		    var curProtocol = window.location.protocol.split(':')[0];
		    if (curProtocol === 'https'){
		   bp.src = "https://zz.bdstatic.com/linksubmit/push.js";
		  }
		  else{
		  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		  }
		    var s = document.getElementsByTagName("script")[0];
		    s.parentNode.insertBefore(bp, s);
		})();
	   
	   
	</script>
</body>
<script>
$(".title1 a").click(function(){
		$(this).parents(".article_rela").find("ul").css("display", "none");
		$(this).parents(".article_rela").find("ul."+$(this).attr("id")).show();
	});
</script>
<script type="text/javascript">

function ranklist(id,ele,elename,elechild,start_ele,cur_ele){
    var obj_id=document.getElementById(id);
    var obj_ele=$tag(obj_id,ele);
    for(i=0;i<obj_ele.length;i++){
        if(obj_ele[i].className.indexOf(elename) == -1) continue;
        var objlist=$tag(obj_ele[i],elechild);
        for(j=0;j<objlist.length;j++){
            objlist[j].onmouseover=function(){
                var paris=this.parentNode;
                var list=$tag(paris,elechild);
                for(x=0;x<list.length;x++){
                    var thisdiv=$tag(list[x],cur_ele)[0];
                    var thisp=$tag(list[x],start_ele)[0];
                    thisdiv.style.display="none";
                    thisp.style.display="block";
                    }
                var start=$tag(this,start_ele)[0];
                start.style.display='none';
                var cur=$tag(this,cur_ele)[0];
                cur.style.display='block';
            }
        }
    }
}
function $tag(id,tag){return id.getElementsByTagName(tag);}
setTimeout("ranklist('ranklist','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}
setTimeout("ranklist('ranklistx','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}
$(function(){
		window.onload = function()
		{
			var $li = $('#tab a');
			var $ul = $('#content .project_con');
						
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass();
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})
			var $li_2 = $('#switch_tit li');
			var $ul_2 = $('#switch_main .switch_center');
						
			$li_2.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li_2.removeClass();
				$this.addClass('switch_cur');
				$ul_2.css('display','none');
				$ul_2.eq($t).css('display','block');
			})
		}
	});

</script> 

 
<script language="javascript" src="__PUBLIC__/js/home/project/pro_js.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/artDialog.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/jquery.fancybox-1.3.1.pack.js"></script>
<script type="text/javascript" src="http://www.liansuo.com/c.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/qrcode.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/jquery.autocomplete.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/ypst.js"></script>

</html>