<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>【<{$brandinfo.brandname}>】<{$brandinfo.brandname}>加盟店报道,<{$brandinfo.brandname}>加盟条件,加盟费用-中国连锁网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/baodao/<{$brandinfo.memberid}>.html">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="Keywords" content="<{$brandinfo.brandname}>加盟,<{$brandinfo.brandname}>加盟费多少钱,<{$brandinfo.brandname}>加盟条件">
<meta name="Description" content="<{$description|mb_substr=0,120,'utf-8'}>">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<script type="text/javascript" src="__PUBLIC__/js/home/project/jquery.js"></script>
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/project/style_list2.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/home/project/swiper.min.css" rel="stylesheet" type="text/css">
<base target="_blank" />
</head>
<body>
<script>//移动端自动跳转
var mob_url = "http://m.liansuo.com/baodao/<{$brandinfo.memberid}>.html"; 
 var __nid = <{$brandinfo.memberid}>;
</script>
<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script>
<div class="head">
<div class="lsgb_header_bj">
  <div class="center">
	<include file="../Public/html/home/tag/header.html" />
    <div class="space10 clear"></div>
    <div class="space10 clear"></div>
    <div class="lsgb_logo"> 
			<a href="http://www.liansuo.com/" class="floatL m_r">
				<img width="210" height="55" src="__PUBLIC__/image/home/project/logo_11.png" alt="中国连锁网">
			</a>
            <div class="floatL title_pro">
            	<h1><{$brandinfo.brandname}>加盟</h1>
                <p><a target="_blank" href="www.liansuo.com/baodao/<{$brandinfo.memberid}>.html">www.liansuo.com/baodao/<{$brandinfo.memberid}>.html</a></p>
            </div>
			<div class="floatR ad_pic">
				<adlist item="one" cid="817" row="3">
					<a href="<{$one.httpurl}>"  target="_blank"><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
				</adlist>	
			</div>
		</div>
    
  </div>
</div>
<div class="space10 clear"></div>
<div class="space10 clear"></div>
<div class="pro_nav">
	  <div class="pro_nav_con"> 
			<a href="http://www.liansuo.com">首页</a>
			<a href="http://www.liansuo.com/<{$industry.pathname}>/jmzn/" target="_self">加盟指南</a><a href="http://www.liansuo.com/<{$industry.pathname}>/xzcb/" target="_self">选址筹备</a>
			<a href="http://www.liansuo.com/<{$industry.pathname}>/rcjy/" target="_self">日常经营</a><a href="http://www.liansuo.com/<{$industry.pathname}>/xmzx/" target="_self">项目资讯</a>
			<a href="http://www.liansuo.com/<{$industry.pathname}>/jdal/" target="_self">经典案例</a><a href="http://www.liansuo.com/<{$industry.pathname}>/rwzf/" target="_self">人物专访</a>
			<a href="http://www.liansuo.com/<{$industry.pathname}>/czxx/" target="_self">参展信息</a><a href="http://www.liansuo.com/<{$industry.pathname}>/hydt/" target="_self">行业动态</a>
	  </div>
</div>    
</div>
<div class="breadcrumbs center"> <span>当前位置 : </span>
	   <span class="breadcrumbs-links"><a href="http://www.liansuo.com">连锁网</a>＞</span> 
	   <span class="breadcrumbs-links">
	   <span class="breadcrumbs-links"><a href="http://<{$industry.pathname}>.liansuo.com"><{$industry.industryname}></a>＞</span>
	   </span>
	   <span class="breadcrumbs-links"><a href="http://<{$subindustry.pathname}>.liansuo.com"><{$subindustry.industryname}></a>＞	
	   <span class="breadcrumbs-links"><a>项目报道</a>＞	 
	   <span class="breadcrumbs-links"><a href="<{$brandinfo.ypurl}>"><{$brandinfo.brandname}></a></span>  
	   </span>
</div>
<div class="center">
<div class="container clearfix">
       <div id="left">
            <img src="http://img.liansuo.com/html/images/<{$brandinfo.logo}>" alt="authorImg">
            <a href="<{$brandinfo.ypurl}>"><{$brandinfo.brandname}></a>
            <p class="author_intro">所属行业：<a href="http://<{$industry.pathname}>.liansuo.com"><{$industry.industryname}></a>><a href="http://<{$subindustry.pathname}>.liansuo.com"><{$subindustry.industryname}></a></p>
            <p class="author_intro">基本投资：<{$brandinfo.joinlinemin}>万元  ~ <{$brandinfo.joinlinemax}>万元</p>
            <p class="author_intro">企业地址：<{$brandinfo.address}></p>
        </div>
        <div id="article">
            <div class="title">
                 <h2> <{$brandinfo.brandname}></h2>
            </div>
                <div class="daoyu clearfix">
                    <span id="daodu">导读</span>
                    <div class="dao_content">
                 	    <p><{$brandinfo.brandname}>报道为互联网转载信息，报道中的数字数据仅供参考，详细情况可以在留言板留言获取<{$brandinfo.brandname}>加盟官网咨询</p>
                    </div>
                    <div class="clear"></div>
                </div>
            <div class="left-b article" id="articleContent">
                <p data-page-model="text"><?php echo $this->msubstr($brandinfo['projectintro'], $start=0,553, $charset="utf-8", $suffix=false);?></p>
                <p data-page-model="text"><?php echo $this->msubstr($brandinfo['pc_contents2'], $start=0,553, $charset="utf-8", $suffix=false);?></p>
                <p data-page-model="text"><?php echo $this->msubstr($brandinfo['pc_contents1'], $start=0,553, $charset="utf-8", $suffix=false);?></p>
                <p data-page-model="text"><?php echo $this->msubstr($brandinfo['pc_contents3'], $start=0,553, $charset="utf-8", $suffix=false);?></p>
            </div>
            <div class="editor">更多项目信息请关注微信：【创富加盟网】</div>
              <div class="hasc" style="display: none;"></div>
          	          	<div class="isShow">
               <style type="text/css">
            .copyright {
                background-color: #f7f7f7;
                padding: 20px 20px 10px;
                margin: 20px 0;
            }
            .copyright h3 {
                color: #666;
                font-size: 16px;
                padding-bottom: 10px;
            }
            .copyright p {
                font-size: 14px;
                color: #888;
                line-height:26px;
            }
</style>
			<div class="copyright">
                <h3> 注意 ：</h3>
                <p> 本文的<{$brandinfo.brandname}>所涉及项目投资金额、加盟店数量、招商地区和经营模式，请以最新咨询为准！
					我们建议您在 【留言板留言】 或致电咨询，您即可与客服免费通话并及时获得项目最新动态！</p>
			</div>






			<div class="block_outer">
	            <p class="title mt40"><strong>精品项目推荐</strong>
	                <i></i>
	            </p>
	            <div class="content">
		            <div class="swiper-container">
			        	<div class="swiper-wrapper">
			            	<div class="swiper-slide">
			                     <ul class="ul-list clearfix">
			                     	 <plist item="one" row="10" cid="$brandinfo['industry']">
				                         <li>
				                            <a href="<{$one.ypurl}>" title="<{$one.brandname}>" target="_blank">
				                            <img width="122" height="92" src="http://img.liansuo.com/html/images/<{$one.logo}>" alt="<{$one.brandname}>"></a>
				                             <p class="w150 h90">
				                                 <a class="title" href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a><br>
				                                 <span class="c-999 lh30">投资：</span> <span><{$one.joinlinemin}>万-<{$one.joinlinemax}>万</span><br>
				                                 <if condition="!empty($one['wap_introduction'])">
				                                 <span class="lh20">
				                                 <?php echo $this->msubstr($one['wap_introduction'], $start=0,18, $charset="utf-8", $suffix=true);?>
				                                 </span>
				                                 <a href="<{$one.ypurl}>"  rel="nofollow" target="_blank">[详细]</a>
				                                 </if>
				                             </p>
				                         </li>
				                     </plist>
			                     </ul>
			                </div> 
			            	<div class="swiper-slide">
			                     <ul class="ul-list clearfix">
			                     	 <plist item="one" row="10,10" cid="$brandinfo['industry']"> 
				                         <li>
				                            <a href="<{$one.ypurl}>" title="<{$one.brandname}>" target="_blank">
				                            <img width="122" height="92" src="http://img.liansuo.com/html/images/<{$one.logo}>" alt="<{$one.brandname}>"></a>
				                             <p class="w150 h90">
				                                 <a class="title" href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a><br>
				                                 <span class="c-999 lh30">投资：</span> <span>5万-10万</span><br>
				                               	 <if condition="!empty($one['wap_introduction'])">
				                                 <span class="lh20">
				                                 <?php echo $this->msubstr($one['wap_introduction'], $start=0,18, $charset="utf-8", $suffix=true);?>
				                                 </span>
				                                 <a href="<{$one.ypurl}>"  rel="nofollow" target="_blank">[详细]</a>
				                                 </if>
				                             </p>
				                         </li>
				                     </plist>
			                     </ul>
			                </div>
			        	</div>
		    		</div>
	            </div>
            </div>
            <div class="space10"></div>
            <div class="Related_information">
                    <h3>相关报道</h3>
                    <div class="Related_information_con">
                        <ul class="clearfix">
                        	<plist upload="1" item="one" cid="$brandinfo['industry']" row="20">
	                             <li><a href="<{$one.ypurl}>" target="_blank" title="<{$one.brandname}>" alt="<{$one.brandname}>"><{$one.brandname}></a></li>                                                   
                        	</plist>
                        </ul>      
                    </div>
                </div>
            <div class="space10"></div>
          	</div>
          	<script>
          		var has = $(".hasc").text();
                if(has=="hide"){
                  $(".isShow").hide();
                }
              	$(".hasc").hide();
          	</script>
            <!-- pinglun/S --> 
            <div class="pinglun" id="xz_comment" name="xz_comment">  
				<div id="SOHUCS" sid="<{$brandinfo.memberid}>"></div> 
				<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
				<script type="text/javascript">
					window.changyan.api.config({
					appid: 'cysGOkL4P',
					conf: 'prod_eea3a83b8cfa147fe403201b4f0f8946'
					});
				</script>
            </div>
             <!-- pinglun/E -->
        </div>
<div id="right" class="grid230 fl ml10">
	<div class="ads " id="Ranking_Ads">
	<a href="http://map.liansuo.com"><img src="__PUBLIC__/image/home/project/230-110.jpg" width="230" height="110"></a>
	</div>
<div id="general" class="general mt10">
<div class="fd-hr"></div> 
<div class="g-hd cf">
<ul>
<li> <span class="num"><b><{$brandinfo.visit_sum}>0</b>人</span> <span class="txt">关注加盟</span> </li>
<li> <span class="num"><b><{$brandinfo.msg_sum}></b>人</span> <span class="txt">咨询加盟</span> </li>
</ul>
</div>
<div class="g-bd cf">
<div id="person_sc" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 275px;">
	<ul class="list-msg" style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 825px; top: -275px;">
		<plist item="one" ispay="1" row="20">
		<?php
			$surname = array('郝先生','冯先生','任先生','聂先生','刘先生','张先生','段先生','张先生','苏先生','丁先生','曹女士','陈女士','王女士','贾女士','周女士');
			$province = array('成都','北京','上海','深圳','青岛','唐山','合肥');
			shuffle($surname);
			shuffle($province);		
		?>
		<li style="overflow: hidden; float: none; width: 198px; height: 44px;">
		 来自<?php echo $province[0] ?>的<?php echo $surname[0] ?>咨询了
		品牌
		<a href="<{$one.ypurl}>"><{$one.brandname}></a>
		</li>
		</plist>
	</ul>
</div>
</div>
<div class="ads_reg">
<p><b>注册会员</b>-关注品牌-线下推荐-深层交流-确定成交 找项目就是这么高效</p>
<a href="https://u.liansuo.com/Home/Register/register" target="_blank" rel="nofollow">注&nbsp;&nbsp;册</a> </div>
</div>
<div class="brand_con_rx">
          <div class="phb" id="ranklist">
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>本周好项目</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
					<plist row="10" item="one" cid="$cidd"> 
					<if condition="$one['oid']==1"><li class="active"><else/><li></if>
	                    	  <a href="<{$one.ypurl}>" target="_blank"><i><{$one.oid}></i><{$one.title}></a>
			                  <div class="add_div">
				                  	<div class="floatL"><a title="<{$one.title}>" href="<{$one.ypurl}>"><img title="<{$one.title}>" alt="<{$one.title}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
				                    <div class="floatR text_pro">
	                                	<p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.title}></a></p>
				                    	<p class="hangye">行业：<a href="http://search.liansuo.com/0-0-0--1.html"><{$one.industryname}></a></p> 
				                        <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
				                        <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
				                    </div>
			               	  </div>
	                    </li>
	                </plist> 			               	  
              </ul> 
          </div> 
        </div>
<div id="rk_click" class="mt10 bg-gray"> 
	<div class="fd-hr"></div>
	<div class="hd"> 点击排行
		<div class="tab">
			<ul class="cf"></ul>
		</div>
	</div>
	<div class="bd">
		<ul class="cf">
			<arclist item="one" cid="$cidd" row="10">
				<li><span><{$one.oid}></span><a title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
			</arclist>
		</ul>
	</div>
</div>
<div class="r-acc cf mt10">
	<ul>
		<plist cid="$cidd" item="one" picture="1" row="4">
			<li>
				<a title="<{$one.brandname}>" href="<{$one.ypurl}>" style="background: url(http://img.liansuo.com/html/images/<{$one.logo}>) no-repeat 0 0;background-size:110px 80px;">
				<span><{$one.brandname}></span> 
				</a>
			</li>
		</plist>
	</ul>
</div>
<div id="tag_box" class="mt10 bg-gray">
<div class="fd-hr"></div>
<div class="hd">加盟热搜</div>
<div class="bd">
	<ul class="cf">
		<modlist name="tag" item="one"  row="10">
			<li class="hot">
				<a href="<{$one.url}>" target="_blank" title="<{$one.tag}>"><{$one.tag}></a>
			</li>
		</modlist>  
	</ul>
<!-- 	<div id="tag_search" class="cf">
		<input id="mq" class="ipt" onclick="if (this.value=='请输入关键字') {this.value=''}" onblur="if (this.value=='') {this.value='请输入关键字'}" value="请输入关键字" type="text">
		<button type="button" onclick="if($('#mq').val()=='请输入关键字') {window.open('http://www.jiameng.com/tag/news?keyword=');return;};var word=$('#mq').val();window.open('http://www.jiameng.com/tag/news?keyword='+$URL.encode(word));" class="submit">
		搜 索
		</button>
	</div> -->
</div>
</div><div id="last_news" class="mt10 bg-gray">
<div class="fd-hr"></div>
<div class="hd"><span><a href="http://www.liansuo.com/news/" target="_blank">更多<b>&gt;</b></a></span>最新资讯</div>
<div class="bd">
	<ul class="list-news_1">
		<arclist item="one" cid="$cidd" row="5"> 
		<li><a href="<{$one.url}>" title="<{$one.title}>" target="_blank"><{$one.title}></a></li>
		</arclist>
	</ul>
</div>
</div>
<div id="newBrand_r" class="mt10 bg-gray">
	<div class="fd-hr"></div>
	<div class="hd">
	<span><a href="http://www.liansuo.com/top.html" target="_blank">更多 <b>&gt;</b></a></span>
	<a target="_blank">好项目推荐</a>
	</div>
	<div class="bd">
		<div class="linkslist" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 144px;">
			<ul>
				<plist item="one" cid="$cidd" row="30">
					<li style="overflow: hidden; float: none; width: 188px; height: 24px;">
						[<{$industry.industryname}>]<a href="<{$one.ypurl}>" title="<{$one.brandname}>" target="_blank"><{$one.brandname}></a>
					</li>
				</plist>
			</ul>
		</div>
	</div>
</div>
</div>
</div>
</div>
	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->
<script type="text/javascript" src="__PUBLIC__/js/home/project/jcarousellite_1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: true
    });
    </script>
<script type="text/javascript">

function ranklist(id,ele,elename,elechild,start_ele,cur_ele){
    var obj_id=document.getElementById(id);
    var obj_ele=$tag(obj_id,ele);
    for(i=0;i<obj_ele.length;i++){
        if(obj_ele[i].className.indexOf(elename) == -1) continue;
        var objlist=$tag(obj_ele[i],elechild);
        for(j=0;j<objlist.length;j++){
            objlist[j].onmouseover=function(){
                var paris=this.parentNode;
                var list=$tag(paris,elechild);
                for(x=0;x<list.length;x++){
                    var thisdiv=$tag(list[x],cur_ele)[0];
                    var thisp=$tag(list[x],start_ele)[0];
                    thisdiv.style.display="none";
                    thisp.style.display="block";
                    }
                var start=$tag(this,start_ele)[0];
                start.style.display='none';
                var cur=$tag(this,cur_ele)[0];
                cur.style.display='block';
            }
        }
    }
}
function $tag(id,tag){return id.getElementsByTagName(tag);}
setTimeout("ranklist('ranklist','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}

$(function(){
		window.onload = function()
		{
			var $li = $('#tab a');
			var $ul = $('#content .project_con');
						
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass();
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})
		}
	});

</script>
<script type="text/javascript" src="http://www.liansuo.com/c.js"></script>
</body>
</html>