<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><{$industry_pid.industryname}>加盟品牌,<{$industry_pid.industryname}>加盟店,<{$industry_pid.industryname}>加盟好项目-中国连锁网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="Keywords" content="<{$industry_pid.industryname}>加盟品牌,<{$industry_pid.industryname}>加盟店,<{$industry_pid.industryname}>加盟项目">
<meta name="Description" content="中国连锁网立志打造全网首家<{$industry_pid.industryname}>加盟定制信息平台,为广大创业者提供实时的<{$industry_pid.industryname}>加盟品牌大全,<{$industry_pid.industryname}>加盟店推荐,<{$industry_pid.industryname}>加盟项目分析等<{$industry_pid.industryname}>加盟讯息,帮助广大招商加盟创业者找到最适合自己的<{$industry_pid.industryname}>加盟项目。">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/p/<{$industry}>/">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/home/project/style_hylist.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/js/home/project/jquery1.js"></script>
<base target="_blank"/>
</head>
<body>
<script>//移动端自动跳转 
var mob_url = "http://m.liansuo.com/p/<{$industry}>/";
</script>
<script type="text/javascript" src="/Public/js/home/news/ismob.js"></script>
<div class="head">
	<div class="lsgb_header_bj">
		<div class="center">
			<include file="../Public/html/home/tag/header.html"/>
			<div class="space10 clear">
			</div>
			<div class="space10 clear">
			</div>
			<div class="lsgb_logo">
				<a href="http://www.liansuo.com/" class="floatL m_r">
				<img width="210" height="55" src="__PUBLIC__/image/home/project/logo_11.png" alt="中国连锁网">
				</a>
				<div class="floatL title_pro">
					<h1><{$industry_pid.industryname}>加盟项目</h1>
					<p>
						<a target="_blank" href="http://www.liansuo.com/p/<{$industry_pid.pathname}>/">www.liansuo.com/p/<{$industry_pid.pathname}>/</a>
					</p>
				</div>
				<div class="floatR ad_pic">
					<adlist item="one" cid="817" row="3">
					<a href="<{$one.ypurl}>" target="_blank"><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
					</adlist>
				</div>
			</div>
		</div>
	</div>
	<div class="space10 clear">
	</div>
	<div class="space10 clear">
	</div>
	<div class="pro_nav">
		<div class="pro_nav_con">
			<a href="http://www.liansuo.com/p/">首页</a>
			<volist name="industry_class" id="vo">
				<a href="http://www.liansuo.com/p/<{$vo.pathname}>/"><{$vo.industryname}></a>
			</volist>
		</div>
	</div>
</div>
<div class="breadcrumbs center">
	<span>当前位置 : </span>
	<span class="breadcrumbs-links"><a href="http://www.liansuo.com">连锁网</a>＞</span>
	<span class="breadcrumbs-links"><a href="http://www.liansuo.com/p/">加盟项目</a>＞</span>
	<span class="breadcrumbs-links"><a href="http://www.liansuo.com/p/<{$industry_pid.pathname}>/"><{$industry_pid.industryname}>加盟项目</a></span>
</div>
<if condition="count($industry_name)">
<div class="center">
	<div class="hy-box clearfix">
		<span><if condition="$industry_pid.parentid eq 0"><{$industry_pid.industryname}><else /><{$industry_pid.parent.industryname}></if>类别:</span>
		<div class="hy-box-content">
			<volist name="industry_name" id="two">
					  <a href="http://www.liansuo.com/p/<{$two.pathname}>/" title="<{$two.industryname}>加盟" class="abs"><{$two.industryname}></a>
					</volist>
		</div>
	</div>
</div>
</if>
<div class="center">
  <div class="leftBox">
    <div class="wp980">
                    <div class="screening clearfix">
                        <h2 class="detailetit detailetit1 cur">推荐项目</h2>
                                            </div>
                    <div class="newlist">
                        
                        <ul class="product-list">
							<plist row="$p_row" item="one" cid="$industry_pid.id"> 
								<li class="">
                                <div class="pro-pic">
                                    <a title="<{$one.brandname}>" href="<{$one.ypurl}>"><img src="http://img.liansuo.com/html/images/<{$one.logo}>" alt="<{$one.brandname}>" width="120" height="90"></a>
                                    <p>投资金额：<em><{$one.joinlinemin}>万-<{$one.joinlinemax}>万</em></p>
                                </div>
                                <div class="pro-info">
                                    <h4><a title="<{$one.brandname}>" href="<{$one.ypurl}>"><{$one.brandname}></a></h4>
                                    <p class="pro-com clearfix"><span class="c-9"><a title="<{$one.brandname}>" href="http://www.liansuo.com/top10/<{$one.memberid}>.html"><{$one.companyname}></a></span></p>
                                    <p class="pro-desc">
										<?php 
											//去除html标签和首尾空格（包含全角空格）
											$str=trim(strip_tags($one["projectbrief"]));
											$str = mb_ereg_replace('^(　| )+', '', $str);
											$str = mb_ereg_replace('(　| )+$', '', $str);
											echo mb_ereg_replace('　　', "\n　　", $str); 
										?>...
									</p>
                                    <p class="pro-addr">所在地区：<em><{$one.cradle}></em></p>
                                </div>

										<a title="<{$one.brandname}>" href="<{$one.ypurl}>" class="view-detail" rel="nofollow" title="查看详情">查看详情</a>
								</li>
							</plist>
                      </ul>
                    </div>
					<div class="re_page2">
					<!--<div>  <span class="current">1</span><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p2.html">2</a><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p3.html">3</a><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p4.html">4</a><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p5.html">5</a> <a target="_self" class="next" href="http://www.liansuo.com/canyin/jmzn/p2.html">下一页</a> <a target="_self" class="end" href="http://www.liansuo.com/canyin/jmzn/p541.html">541</a></div>-->
	<{$page}>
</div>
                </div>
  </div>
<div class="rightBox g-bb">
	<div class="brand_con_rx">
		<div class="phb" id="ranklist">
			<h3><a rel="nofollow" class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>本周<{$industry_pid.industryname}>好项目</h3>
			<p>
				排名&nbsp;&nbsp;&nbsp;加盟品牌
			</p>
			<ul class="list listNav">
				<plist row="10" item="one" cid="$industry_pid.id" order="orderid desc"> 
					<if condition="$one['oid']==1"><li class="active"><a href="<{$one.ypurl}>" target="_blank" style="display: none;"><i><{$one.oid}></i><{$one.title}></a><else/><li><a href="<{$one.ypurl}>" target="_blank"><i><{$one.oid}></i><{$one.title}></a></if>
						<div class="add_div">
							<div class="floatL"><a title="<{$one.title}>" href="<{$one.ypurl}>"><img title="<{$one.title}>" alt="<{$one.title}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
								<div class="floatR text_pro">
									<p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.title}></a></p>
									<p class="hangye">行业：<a href="http://search.liansuo.com/<{$industry_pid.id}>-0-0-0_0_0-1.html"><{$one.industryname}></a></p> 
									<p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
									<p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
								</div>
							</div>
						</li>
				</plist> 			         
			</ul>
		</div>
	</div>
		<div class="recom-right">
					<h3><{$industry_pid.industryname}>热门标签</h3>
					<div id="scroll-tag">
						<volist name="tagArrayrmbq" id="one">
							<a href="http://www.liansuo.com/tag/<{$one.id}>/" target="_self" title="<{$one.tag}>" class="c2"><{$one.tag}></a>
						</volist>
						<volist name="tagArrayrmbq" id="one">
							<a href="http://www.liansuo.com/tag/<{$one.id}>/" target="_self" title="<{$one.tag}>" class="c1"><{$one.tag}></a>
						</volist>
					</div>
					<script type="text/javascript" src="__PUBLIC__/js/home/project/zzsc.js"></script>
		</div>
		<div class="fc_right">
			<h3><span>VIP</span>会员专区</h3>
        	<ul>
				 <plist item="one" row="12">
				 	<if condition="$one['oid']==4 || $one['oid']==8 || $one['oid']==12">
	              	    <li class="last-row text-red">
	                <else/>
	               	    <li class=""> 
	                </if>
	                     <a target="_blank" title="<{$one.s_3_1}>" data-ad="1663" stat="ad-1663" href="<{$one.ypurl}>" class="block"><{$one.s_3_1}></a>
	                </li> 
				  </plist>
            </ul>
        </div>
		<div class="fc_right">
			<h3><{$industry_pid.industryname}>行业资讯</h3>
        	<ul>
				<arclist item="one" cid="$industry_pid.id" row="12" brandinfo="1">
					<if condition="$one['oid']==4 || $one['oid']==8 || $one['oid']==12">
	              	    <li class="last-row text-red">
	                <else/>
	               	    <li class=""> 
	                </if>
	                     <a target="_blank" title="<{$one.title}>" data-ad="1663" stat="ad-1663" href="<{$one.url}>" class="block"><{$one.title}></a>
	                </li> 
                  </arclist>

            </ul>
        </div>
</div>
</div>

<div class="space10"></div>
<div class="space10"></div>
<div class="center">
<div class="wp wp0114">
                <div class="today-hot">
                    <dl >
                        <dt>今日最热</dt>
                        <div id="today-hot">
							<volist name="industry_class" id="vo">
								<if condition="$industry_pid.parentid eq 0">
									<dd <if condition="$vo['id']==$industry_pid['id']">class="current"</if>><a href="http://<{$vo.pathname}>.liansuo.com/"><{$vo.industryname}></a></dd>
								<else />
									<dd <if condition="$vo['id']==$industry_pid['parentid']">class="current"</if>><a href="http://<{$vo.pathname}>.liansuo.com/"><{$vo.industryname}></a></dd>
								</if>
							</volist>
                        </div>
                        </dl>
                </div>
                <div id="today-pic" class="today-pic clearfix">
					<volist name="industry_class" id="vo">
						 <ul <if condition="$industry_pid.parentid eq 0"><if condition="$vo['id']==$industry_pid['id']">style="display:block"</if><else /><if condition="$vo['id']==$industry_pid['parentid']">style="display:block"</if></if>>
								<plist row="6" item="one" cid="$vo.id" order="orderid desc"> 
									<li>
										<a title="<{$one.title}>" href="<{$one.ypurl}>">
											<img src="http://img.liansuo.com/html/images/<{$one.logo}>" alt="<{$one.title}>" width="178" height="150">
											<span><{$one.title}></span>
										</a>
									</li>
								</plist>
						</ul>
					</volist>
                </div>
            </div>
<div class="space10"></div>
<div class="space10"></div>      
<div class="wordsbox">
    <div class="wbox1">
        <h3>创业商机导航</h3>
        <div class="wbox-wrap">
			<volist name="industry_class" id="vo">
				 <dl>
					<dt><a href="http://<{$vo.pathname}>.liansuo.com/"><{$vo.industryname}></a></dt>
					<dd>
						<volist name="vo.subclass" id="v">
							 <a href="http://<{$v.pathname}>.liansuo.com/"><{$v.industryname}></a>
						</volist>
					</dd>
				</dl>
			</volist>
        </div>
    </div>
    </div>
<div class="bottxt">连锁网创业项目库<{$industry_pid.industryname}>项目频道,为您提供专业,详尽的开<{$industry_pid.industryname}>店,<{$industry_pid.industryname}>项目,<{$industry_pid.industryname}>店加盟,<{$industry_pid.industryname}>热门投资项目,<{$industry_pid.industryname}>投资项目,<{$industry_pid.industryname}>创业投资项目,<{$industry_pid.industryname}>店加盟小本投资创业项目,上连锁网创业项目库<{$industry_pid.industryname}>项目频道,轻松创业,诚信推荐 !</div>
</div>
<div class="center">
<div class="category hao_border" style="margin-top:10px;">
<div class="hd"><em class="ico_ask"></em><a herf="#" style="cursor:hand;">热门关键词</a></div>
<ul class="list">
	<modlist name="newssearch" cid="$industry_pid.id" item="one" row="15">
		</li><a href="/hot/<{$one.id}>.html" title="<{$one.word}>"><{$one.word}></a><li>
	</modlist>
</ul>
<div class="fd-clear"></div>
</div>
</div>
<div class="space10"></div>
<div class="space10"></div>

		<!-- 公共页脚部分 -->
		<include file="../Public/html/public/navfoot_project.html" />
		<!-- 公共页脚部分end -->

<div class="toolbar">
	<a href="###" class="toolbar-item toolbar-item-weixin">
	<span class="toolbar-layer"></span>
	</a>
	<a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
	<a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
	</a>
	<div onclick="window.scroll(0,0)" style="cursor:pointer;" id="top" class="toolbar-item toolbar-item-top"></div>
</div>
<script type="text/javascript">
function ranklist(id,ele,elename,elechild,start_ele,cur_ele){
    var obj_id=document.getElementById(id);
    var obj_ele=$tag(obj_id,ele);
    for(i=0;i<obj_ele.length;i++){
        if(obj_ele[i].className.indexOf(elename) == -1) continue;
        var objlist=$tag(obj_ele[i],elechild);
        for(j=0;j<objlist.length;j++){
            objlist[j].onmouseover=function(){
                var paris=this.parentNode;
                var list=$tag(paris,elechild);
                for(x=0;x<list.length;x++){
                    var thisdiv=$tag(list[x],cur_ele)[0];
                    var thisp=$tag(list[x],start_ele)[0];
                    thisdiv.style.display="none";
                    thisp.style.display="block";
                    }
                var start=$tag(this,start_ele)[0];
                start.style.display='none';
                var cur=$tag(this,cur_ele)[0];
                cur.style.display='block';
            }
        }
    }
}
function $tag(id,tag){return id.getElementsByTagName(tag);}
setTimeout("ranklist('ranklist','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}
$(function(){
		window.onload = function()
		{
			var $li = $('#today-hot dd');
			var $ul = $('#today-pic ul');
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass();
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})
		}
	});
</script>
<script type="text/javascript">
        	$(document).ready(function(){
        		$('.product-list li').hover(function() {
                    $(this).addClass('bg-gray');
                },function() {
                    $(this).removeClass('bg-gray');
                });
        	});
        </script>
</body>
</html>