<!DOCTYPE html>
<html lang="en">
	<head>
	    <block name="yellowTDK"></block> 
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta http-equiv="Cache-Control" content="no-transform">
	    <meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/p/<{$brandinfo.memberid}>/">
		<script type="text/javascript" src="http://www.liansuo.com/html/js/ismob.js"></script>
		<link rel="stylesheet" href="http://cdn.bootcss.com/normalize/3.0.2/normalize.min.css" />
		<link rel="stylesheet" href="http://www.liansuo.com/html/css/yp-reset.css">
		<link rel="stylesheet" href="http://www.liansuo.com/html/css/yp-slick.css">
		<link rel="stylesheet" href="http://www.liansuo.com/html/css/yp-style.css">
		<link rel="stylesheet" href="http://www.liansuo.com/html/js/plugins/fancybox/fancybox.css">
		<script type="text/javascript" src="http://www.liansuo.com/html/js/jquery-1.8.3.min.js"></script>
		<script language="javascript" src="http://www.liansuo.com/html/js/gb_hb.js"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/project/style.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/project/bottom_nav.css" />
	    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/project/pro_css.css" />
	    <script type="text/javascript" src="__PUBLIC__/js/home/project/jquery.smint.js"></script>
		<script type="text/javascript">
		$(document).ready( function() { 
		    $('.subMenu').smint({
		    	'scrollSpeed' : 1000
		    });
		});
		</script>
		<base target="_blank" /> 
	</head>
<body id="top">
	
	<div class="space5 clear"></div>
    <block name="yellowSP"></block> 
	<!---头部开始---> 
	<include file="../Public/html/public/yel_header.html" />
	<!-- 头部结束 -->
	<div class="space5 clear"></div>
	<script>(function(){    var bp = document.createElement('script'); bp.src = '//push.zhanzhang.baidu.com/push.js';    var s = document.getElementsByTagName("script")[0];    s.parentNode.insertBefore(bp, s);})();</script><!-- 隐藏值 用于表单提交 -->
	<input id="hidval" type="hidden" value="148553" /> 
	<input id="jsindustry" type="hidden" value="8" /> 
	<input id="jssubindustry" type="hidden" value="148" /> 

<!-- 主题内容   -->
<div class="container"> 
	  <span style="font-size:18px"><a href="http://www.liansuo.com">首页</a>>
	  <a target="_blank" href="http://<{$industry.pathname}>.liansuo.com" title="<{$industry.industryname}>加盟" ><{$industry.industryname}>加盟</a>&gt;
	  <if condition="$subindustry['industryname'] !== '其他'"><a target="_blank" href="http://<{$subindustry.pathname}>.liansuo.com" title="<{$subindustry.industryname}>加盟"><{$subindustry.industryname}>加盟</a>></if>
	  
	  <a target="_blank" href="http://www.liansuo.com/p/<{$industry.pathname}>/" title="<{$industry.industryname}>加盟品牌" ><{$industry.industryname}>加盟品牌</a>>
	  <a href="<{$url}>" title="<{$brandinfo.brandname}>加盟" target="_blank" ><{$brandinfo.brandname}>加盟</a>
      
	  <div class="banner">
			<img style="cursor:default" class="banner-a"  src="http://img.liansuo.com/html/images/<{$brandinfo.logo}>" alt="<{$brandinfo.brandname}>加盟" />
			<block name="banner"></block>
			<p class="banner-info">
			       加盟品牌：【<{$brandinfo.brandname}>】<br>
			       所属行业：<a href="http://search.liansuo.com/<{$brandinfo.industry}>-0-0-0-1.html" title="<{$industry.industryname}>加盟"><{$industry.industryname}></a> ><a href="http://search.liansuo.com/<{$brandinfo.subindustry}>-0-0-0-1.html" title="<{$subindustry.industryname}>加盟"><{$subindustry.industryname}></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基本投资：<{$brandinfo.joinlinemin}>万元  ~ <{$brandinfo.joinlinemax}>万元 <br>
			  <if condition="$brandinfo['isupload'] eq 3 || $brandinfo['isupload'] eq 1">招商加盟：<a href="<{$brandinfo.hburl}>"><{$brandinfo.hburl}></a></if>
			</p>
				<if condition="$brandinfo['mancheck'] eq 0">
					<p class="banner-phone">请登录后查看
				<else /> 
					<if condition="!empty($brandinfo['BigCode'])">
					<p class="banner-phone">
						400-091-
					<if condition="!empty($brandinfo['BigCode'])">
						<?php echo str_replace('091','',$brandinfo['BigCode']);?>
					<else/>
						1181
					</if>
					<if condition="$brandinfo['BigCode'] eq '0911181'">
					   	<if condition="!empty($brandinfo['ExtCode'])"> 
					     	<if condition="$brandinfo['BigCode'] !== ''"> 转 <{$brandinfo.ExtCode}></if>
					    </if>
					</if> 
					</if>
				</if>
				</p>	
	  </div>
    <div id="" class="main-nav2">
		<ul class="clearfix">
			<li><a href="http://www.liansuo.com/p/<{$brandinfo.memberid}>/" target="_self" title="<{$brandinfo.brandname}>项目介绍">项目介绍</a></li>
            <if condition="!empty($brandinfo['vcr_href'])"><li><a id="showdiv" href="#inline" target="_self" title="<{$brandinfo.brandname}>品牌VCR">品牌VCR</a></li></if>
            <if condition="strlen($brandinfo['pc_contents1']) gt 100"><li><a href="scqj.html" target="_self" title="<{$brandinfo.brandname}>市场前景">市场前景</a></li></if>
           <if condition="strlen($brandinfo['pc_contents2']) gt 100"><li><a href="jmys.html" target="_self" title="<{$brandinfo.brandname}>加盟优势">加盟优势</a></li></if>
            <if condition="strlen($brandinfo['contents3']) gt 100"><li><a href="jyfx.html" target="_self" title="<{$brandinfo.brandname}>经营分析">经营分析</a></li></if>
            <if condition="strlen($brandinfo['pc_contentsr']) gt 100"><li><a href="jmlc.html" target="_self" title="<{$brandinfo.brandname}>加盟流程">加盟流程</a></li></if>
            <if condition="!empty($brandinfo['allpicture']['cptp'])"><li><a href="cpzs.html" title="<{$brandinfo.brandname}>产品展示" target="_self">产品展示</a></li></if>
			<if condition="$newshas"><li><a href="ppxw.html" target="_self" title="<{$brandinfo.brandname}>品牌新闻" >品牌新闻</a></li></if>
            <if condition="$brandinfo['lsrw'][0]['title']"><li><a href="<{$brandinfo.lsrw.0.outsideurl}>" title="<{$brandinfo.brandname}>领军人物" target="_blank">领军人物</a></li></if>
			<li><a href="lxfs.html" target="_self" title="<{$brandinfo.brandname}>联系方式">联系方式</a></li>
			<if condition="$brandinfo['isupload'] eq 1 || $brandinfo['isupload'] eq 3">
				<li>
					<a href="<{$brandinfo.hburl}>" title="<{$brandinfo.brandname}>招商海报"  target="_blank">招商海报
						<i ><img src="http://img.liansuo.com/html/images/hto.gif"></i>
					</a>  
				</li>
			</if>
		</ul>
    </div>
      <div class="clear"></div>
      <div class="space10"></div>
      <div class="section01 clearfix">
    <div class="floatL">
	      <div class="slide slider1">
      			<volist name="brandinfo.allpicture.cptp" offset="0" id="one" length="3">
      				<div><a><img width="390" height="270" src="http://img.liansuo.com/html/images/<{$one}>"></a></div>
      			</volist>
	      </div>
          <script type="text/javascript">
			$(function(){
				$("#sc").click(function(){
					var url = window.location.href;
					var title = $("#name").html();
					try{
						window.external.addFavorite(url, title);
					}catch (e){
					try{
						window.sidebar.addPanel(title, url, "");
					}catch (e){
						alert("加入收藏失败，请CTRL+D手动添加!");
					}
					}
				})
			})
		</script>
		
          <div class="section01-middle">
		       <div class="row01 clearfix share">
			        <!-- 二维码 -->
	                <div id="detail">
						<pre><div id="qrcode"></div></pre>
	                </div>
			        <span class="row01-title lf">
			        	<b id="name">
				        	<!-- 模板继承  start-->
				        	<block name="row01-title"></block>
				        	<!-- 模板继承  end-->
			        	</b>
			        </span>
	               <p class="row01-handle rf"><div class="p_top1_right_js syltongji_t_jisuanqi" onclick="z_tan_jsq_touzi();">
	                            <div class="p_top1_rjsqi"></div>
	                            <div class="p_top1_rjsqt">投资计算器</div>
	               	</div>
	               </p>
		            <ul class="share-contents" id="share_contents">
							<li class="s_wx"><i class="icon-s_wx"></i><a>微信好友</a></li>
							<li class="msQQ"><i class="icon-msQQ"></i><a>QQ好友</a></li>
							<li class="msQzone"><i class="icon-msQzone"></i><a>QQ空间</a></li>
							<li class="msSina"><i class="icon-msSina"></i><a>新浪微博</a></li>
							<li class="msWeibo"><i class="icon-msWeibo"></i><a>腾讯微博</a></li>
				    </ul>          
			    </div>
			    
			    
			    
		        <div class="row02 clearfix">
			          <p>
					            成立时间：<span><{$brandinfo.createtime}>年</span><br>
					            经营产品：<span><{$industry.industryname}></span><br>
					            投资额度：<span><b class="big"><{$brandinfo.joinlinemin}>~<{$brandinfo.joinlinemax}></b>万</span><br>
					            品牌源地：<span><{$brandinfo.cradle}></span><br>
                                申请加盟：<span><b class="big"><{$brandinfo.msg_sum}></b>人次</span>
			          </p>
			          <!--<p>
					            加盟店数：<span><b><{$brandinfo.jmnum}></b>家</span><br> 
					            直营店总数：<span><b><{$brandinfo.zydnum}></b>家</span><br>
					            门店总数：<span><b><if condition="$brandinfo['storesnum'] == 0">审核中<else /><{$brandinfo.storesnum}></if></b>家</span><br>
					            加盟区域：<span><{$brandinfo.joinregion}></span><br>
			          </p>-->
			          <!--<div class="rf">
			            <h3 class="rf-h3"><b><{$brandinfo.joinlinemin}>万</b><br><span>投资金额</span></h3>
			            <a href="<{$url}>lxfs.html" rel="nofollow" target="_self">申请加盟</a>
			          </div>-->
		        </div>
		        <p>适合人群：<span>自由创业者、在岗投资、毕业生创业</span></p>
		        <!--<p>意向加盟：<b class="big"><{$brandinfo.visit_sum}>0</b><span>人次</span> &nbsp;&nbsp;&nbsp;申请加盟：<b class="big"><{$brandinfo.msg_sum}></b><span>人次</span>  &nbsp;&nbsp;&nbsp;好评率：<b class="big">99%</b></p>-->
				<div class="btn_area">
					<a onclick="$('html, body').animate({scrollTop: $('#qusfal').offset().top-$('.smint').height()}, 500);" class="zixun_btn">立即咨询</a>
					<a onclick="$('html, body').animate({scrollTop: $('#qusfal').offset().top-$('.smint').height()}, 500);" class="suoyao_btn">索要资料</a>
                    <a href="<{$url}>lxfs.html" rel="nofollow" target="_self" class="shenqing_btn">申请加盟</a>
				</div>
      </div>
          <div class="clear"></div> 
          <div class="apply_switch limit_w">
        <div class="ov_h">
              <ul class="switch_tit" id="switch_tit">
            <li  class="switch_cur"><em></em><i class="s_ico1"></i>合法性审查</li>
            <li class=""><em></em><i class="s_ico2"></i>可行性分析</li>
            <li class=""><em></em><i class="s_ico4"></i>连锁网评估</li>
            <li class=""><em></em><i class="s_ico3"></i>100%现场实拍</li>
          </ul>
            </div>
        <div class="switch_main" id="switch_main">
              <div class="switch_center s_c_one" style="display: block;">
            <p class="some_txt"><span>通过国家工商及信用系统平台，对企业资质、信用、经营记录等合法性给出客观依据，无需亲临现场，即可眼见为实！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(1)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="apply_btn" value="立即申请" type="submit">
              </div>
                  <div class="form_ele">
                <p class="check_text">已申请人数<br>
                      <span><{$brandinfo.msg_sum}></span></p>
              </div>
                </form>
          </div>
              <div class="switch_center s_c_two" style="display: none;">
            <p class="some_txt"><span>对项目特色、加盟政策、加盟店调查、消费者评价等分析，对项目的可行性给出客观依据，诚信合法是连锁网的基本底线！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(2)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <button class="apply_btn">立即申请</button>
              </div>
                  <div class="form_ele">
                <p class="check_text">已申请人数<br>
                      <span><{$brandinfo.msg_sum}></span></p>
              </div>
                </form>
          </div>
              <div class="switch_center s_c_three" style="display: none;">
            <p class="some_txt"><span>通过对审查及调查数据的汇总分析，连锁网对项目给出客观的评价与评估，以供创业者参阅，拒绝一切欺骗！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(3)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="apply_btn" value="立即申请" type="submit">
              </div>
                </form>
            <div class="form_ele">
                  <p class="check_text">已申请人数<br>
                <span><{$brandinfo.msg_sum}></span></p>
                </div>
          </div>
              <div class="switch_center s_c_four" style="display: none;">
            <p class="some_txt"><span>通过对总部及加盟店进行现场实拍，对项目真实性和总部实力给出客观依据，努力成为您的项目评估师！</span></p>
            <form method="get" class="sub_zb_form" action="javascript:indexSubZb(4)">
                  <div class="form_ele">
                <input name="chenhu" class="input_type" value="请输入您的姓名" onfocus="if(this.value == '请输入您的姓名'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="input_type" name="phone" value="请输入您的手机号码" onfocus="if(this.value == '请输入您的手机号码'){this.value='';this.style.color='#333';}" onblur="if(this.value==''){this.value='请输入您的手机号码';this.style.color='#999';}" type="text">
              </div>
                  <div class="form_ele">
                <input class="apply_btn" value="立即申请" type="submit">
              </div>
                  <div class="form_ele">
                <p class="check_text">已申请人数<br>
                      <span><{$brandinfo.msg_sum}></span></p>
              </div>
                </form>
          </div>
            </div>
      </div>
        </div>
    <div class="section01-right">
          <div class="comp_info"> <b>公司信息</b>
        <div class="comp_logo"> 
        <img src="http://img.liansuo.com/html/images/<{$brandinfo.logo}>" alt="<{$brandinfo.brandname}>" data-bd-imgshare-binded="1" width="120" height="89">
         </div>
        <div class="comp_info_con">
              <h3 title="<{$brandinfo.companyname}>"><{$brandinfo.companyname}></h3>
              <ul>
            <li title="外商投资企业"><span>企业性质</span><em> 外商投资企业</em></li>
            <li><span>注册资金</span><em><if condition="$brandinfo['funds'] eq '' or $brandinfo['funds'] eq '--'">审核中<else /><{$brandinfo.funds}><if condition="!strpos($brandinfo['funds'],'万')">万</if>元</if></span><br></em></li>
            <li><span>所在地</span><em><{$brandinfo.address}></em></li>
          </ul>
          </div>
        <ul class="renZ_info">
        	<if condition="$brandinfo['mancheck'] eq 1">
              <li><span class="beian1"></span><em>备案企业</em></li>
              <li class="mrl30"><span class="renzheng1"></span><em>企业认证</em></li>
              <li><span class="baozhang1"></span><em>投资保障</em></li>
			<else/>        	
              <li><span class="beian1_no"></span><em>备案企业</em></li>
              <li class="mrl30"><span class="renzheng1_no"></span><em>企业认证</em></li>
              <li><span class="baozhang1_no"></span><em>投资保障</em></li>  
        	</if>
        </ul>
      </div>
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
      
        </div>
  	</div>
      <!-- 主题内容 -->
      <div class="section_contant clearfix"> 
    <!-- 左侧 -->
    <div class="clearfix floatL dingwei" style="width:900px;overflow:hidden;">
    <div class="smint">
		<div class="inner">
			<a href="#" id="sTop" class="subNavBtn">项目介绍</a>
			<if condition="strlen($brandinfo['pc_contents1']) gt 100"><a href="#" id="s1" class="subNavBtn">市场前景</a></if>
			<if condition="strlen($brandinfo['pc_contents2']) gt 100"><a href="#" id="s2" class="subNavBtn">加盟优势</a></if>
			<if condition="strlen($brandinfo['pc_contents3']) gt 100"><a href="#" id="s3" class="subNavBtn">经营分析</a></if>
			<if condition="strlen($brandinfo['pc_contents4']) gt 100"><a href="#" id="s4" class="subNavBtn">加盟流程</a></if>
			<if condition="!empty($brandinfo['allpicture']['cptp'])"><a href="#" id="s5" class="subNavBtn">产品展示</a></if>
			<a href="#" id="s6" class="subNavBtn">联系方式</a>
			<a href="#" id="s7" class="subNavBtn">立即咨询</a>
		</div>
	</div>
	<!-- 项目介绍   -->
    <div class="section02-left sTop" style="padding-top:60px;"> 
	    <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>加盟介绍</h2>
        <hr>
        <div class="section02-left-nr"> 
   			<{$brandinfo.projectintro}>   
        </div> 
    <div class="space10 clear"></div>
    </div>
    <!-- 市场前景   -->
    <if condition="strlen($brandinfo['pc_contents1']) gt 100">
	    <div class="section02-left s1" style="padding-top:60px;"> 
		    <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>加盟市场前景</h2>
	        <hr>
	        <div class="section02-left-nr"> 
	   			<{$brandinfo.pc_contents1}>   
	        </div> 
	    <div class="space10 clear"></div>
	    </div>
    </if>
    <!-- 加盟优势   -->
    <if condition="strlen($brandinfo['pc_contents2']) gt 100">
	    <div class="section02-left s2" style="padding-top:60px;"> 
		    <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>加盟优势</h2> 
	        <hr>
	        <div class="section02-left-nr"> 
	   			<{$brandinfo.pc_contents2}>   
	        </div> 
	    <div class="space10 clear"></div>
	    </div>
    </if> 
    <!-- 经营分析   -->
    <if condition="strlen($brandinfo['pc_contents3']) gt 100">
	    <div class="section02-left s3" style="padding-top:60px;">
		    <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>加盟经营分析</h2>  
	        <hr>
	        <div class="section02-left-nr">
	   			<{$brandinfo.pc_contents3}>
	        </div>
	    <div class="space10 clear"></div>
	    </div>
    </if>
	
	<!-- 加盟流程 -->
    <if condition="strlen($brandinfo['pc_contents4']) gt 100">
	    <div class="section02-left s4" style="padding-top:60px;"> 
		    <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>加盟流程</h2>
	        <hr>
	        <div class="section02-left-nr"> 
	   			<{$brandinfo.pc_contents4}>
	        </div> 
	    <div class="space10 clear"></div>
	    </div>     	 
	    </if>
    <!-- 加盟流程 end-->    
    <!-- 加盟展示图 -->
    <if condition="!empty($brandinfo['allpicture']['cptp'])">
    <div class="section02-left s5" style="padding-top:60px;"> 
	    <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>加盟展示图</h2>
        <hr>
        <div class="product-show-body clearfix">
		                      <div class="product-show-body-left lf">
							<a target="_blank"  rel="group" href="http://img.liansuo.com/html/images/<{$brandinfo.allpicture.cptp.0}>" title="<{$brandinfo.brandname}>"><img src="http://img.liansuo.com/html/images/<{$brandinfo.allpicture.cptp.0}>" height="278" width="446" alt="<{$brandinfo.brandname}>"></a>
						</div>
						<div class="product-show-body-right rf clearfix">
							<volist name="brandinfo.allpicture.cptp" id="one" offset="1" length="4">
								<img style="cursor:pointer;" src="http://img.liansuo.com/html/images/<{$one}>" height="134" width="214">
							</volist>
						</div>   			
        </div> 
    <div class="space10 clear"></div>
    </div>  
    </if>
    <!-- 加盟展示图 end-->
    <!-- 联系方式   -->
    <div class="section02-left s6" style="padding-top:60px;"> 
        <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>加盟电话</h2>
        <hr>
        <div class="section02-left-nr">
   			<div class="G_hy_pic_P">
			    <div class="space10"></div> 
			    <div class="G_hy_lxfs"> 
					<ul>
						<li class="lxfs_cfrx">项目名称：<{$brandinfo['brandname']}></li>
						<li class="lxfs_cfrx">公司名称：<{$brandinfo['companyname']}></li>
						<li class="lxfs_cfrx">成立时间：<{$brandinfo['createtime']}></li>
						<li class="lxfs_cfrx">品牌发源地：<{$brandinfo['cradle']}></li>
						<li class="lxfs_cfrx">门店总数：<{$brandinfo['storesnum']}></li>
						<li class="lxfs_cfrx">公司地址：<{$brandinfo['address']}></li>
						<li class="lsfs_lrx">联系姓名：<{$brandinfo['linker']}></li>
						<li class="lxfs_cfrx">联系电话：400-091-1181
						</li>
						<li class="lsfs_email">Email：<{$brandinfo['linkeremail']}></li>
					</ul>
				</div>
			</div>
        </div>
    <div class="space10 clear"></div>
    </div>
        </div>
    <!-- 左侧end --> 
    <!-- 右侧 -->
    <div class="clearfix floatR" style="width:280px;">
          <div class="section02-right-title clearfix">
       		    <h3> 热门搜索  </h3>
        	    <a href="http://zhaoshang.liansuo.com/" rel="nofollow">MORE</a>
          </div>
          <hr id="red_line">
          <div class="quick_entrance">
          <div class="quick_entrance_con">
          	   <modlist name="tag" item="one" row="8" cid="$brandinfo['subindustry']">
	               <a href="<{$one.url}>" title="tag" ><{$one.tag}></a> 
          	   </modlist>
          </div>
      	  </div>
          <div class="brand_con_rx">
        <div class="phb" id="ranklist">
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" rel="nofollow" target="_blank">完整榜单</a><{$industry.industryname}>加盟项目推荐</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
              	   <plist item="one" cid="$brandinfo['industry']" row="10" >
		               <li> 
			               <a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
			               <div class="add_div" style="display: none;">
				               <div class="floatL">
					               <a href="<{$one.ypurl}>">
					               	    <img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>">
					               </a>
				               </div>
				               <div class="floatR text_pro">
                                	<p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.title}></a></p>
			                    	<p class="hangye">行业：<a href="http://search.liansuo.com/0-0-0--1.html"><{$one.industryname}></a></p> 
			                        <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
			                        <p class="anniu"><a href="<{$one.ypurl}>" rel="nofollow">申请加盟</a></p>
				               </div>
			              </div>
		              </li>
	              </plist>
         	 </ul>
            </div>
      </div>
          <div class="clear"></div>
          <div class="space10"></div>
          <div class="brand_con_rx">
	          <div class="phb" id="ranklistx">
	              <h3>本周好项目</h3> 
	              <ul class="list  listNav">
	                <plist item="one" row="10" >
		               <li> 
			               <a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
			               <div class="add_div" style="display: none;">
				               <div class="floatL">
					               <a href="<{$one.ypurl}>">
					               	    <img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>">
					               </a>
				               </div>
				               <div class="floatR text_pro">
	                               	<p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.title}></a></p>
			                    	<p class="hangye">行业：<a href="http://search.liansuo.com/0-0-0--1.html"><{$one.industryname}></a></p> 
			                        <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
			                        <p class="anniu"><a href="<{$one.ypurl}>">申请加盟</a></p>
				               </div>
			              </div>
		              </li> 
		              </plist>
	              </ul>
	            </div>
            </div>
          <div class="clear"></div>
          <div class="space10"></div>
        <!--  <div class="section02-right">
					<div class="section02-right-title clearfix"><h3>
						<if condition="empty($brandinfo['vcr_href'])">
							连锁网
						<else/>
							<{$brandinfo.brandname}>
						</if>VCR</h3>
						<a href="http://zhaoshang.liansuo.com/" rel="nofollow">MORE</a></div>
						<hr>
					<div id="inline" class="video">
						<if condition="empty($brandinfo['vcr_href'])">
				    		<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high"  width="277" height="188" align="middle" allowScriptAccess="always" flashvars="uu=ac4dc4f583&vu=f2b0c717f5&auto_play=0&gpcflag=1&width=640&height=360" type="application/x-shockwave-flash"></embed>
				    	<else/>
				    		<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high"  width="277" height="188" align="middle" allowScriptAccess="always" flashvars="<{$brandinfo.vcr_href|substr=11,-1}>" type="application/x-shockwave-flash"></embed>
				    	</if>
					</div>
		  </div> -->
          <!--PPWD--> 
          <!-- 品牌问答 -->
          <div class="clear"></div>
          <div class="space10"></div>
        
        
        
          <div class="hot_rank article_rela">
		        <div class="title1"> <a id="new">相关文章</a> | <a id="hot">相关报道</a> | <a id="rec">相关企业</a></div>
		        <ul class="new">
		        	<if condition="empty($jmjj)">
			        	<arclist item="one" row="10">
			                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}> "><{$one.title}> </a></li>
			        	</arclist>
		        	<else/>
			        	<volist name="jmjj" id="v">
			                 <li><a href="<{$v.url}>" target="_blank" title="<{$v.title}> "><{$v.title}> </a></li>
			        	</volist>
					</if>
		        </ul>
		        <ul class="hot" style="display: none;">
		            <plist item="one" row="10"  industry="$brandinfo['industry']">
		                 <li><a href="http://www.liansuo.com/baodao/<{$one.memberid}>.html" target="_blank" title="<{$one.brandname}>"><{$one.brandname}></a></li>
		        	</plist>
		        </ul>
		        <ul class="rec"  style="display: none;">
		        	<plist item="one" row="20,10"  industry="$brandinfo['industry']">
		                 <li><a href="http://www.liansuo.com/top10/<{$one.memberid}>.html" target="_blank" title="<{$one.brandname}>"><{$one.companyname}></a></li>
		        	</plist>
		        </ul>
	      </div>        
         
         
          <div class="hot_rank article_rela">
        <div class="title1"> <a id="new">最新资讯</a> | <a id="hot">热门资讯</a> | <a id="rec">推荐资讯</a></div>
        <ul class="new" >
        	<arclist item="one" row="10" nomid="1" industry="$brandinfo['industry']">
                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
        	</arclist>
        </ul>
        <ul class="hot" style="display: none;">
            <arclist item="one" row="10" nomid="1" industry="$brandinfo['industry']">
                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
        	</arclist>
        </ul>
        <ul class="rec" style="display: none;">
        	<arclist item="one" row="10" nomid="1" industry="$brandinfo['industry']">
                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
        	</arclist>
        </ul>
      </div>
          <div class="hot_rank article_rela">
        <div class="title1"> <a id="new">项目新闻</a> | <a id="hot">品牌新闻</a> | <a id="rec">行业新闻</a></div>
        <ul class="new">
        	<arclist item="one" row="10" brandinfo="1" industry="$brandinfo['industry']">
                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
        	</arclist>
         </ul>
        <ul class="hot" style="display:none;">
        	<arclist item="one" row="10" brandinfo="1" industry="$brandinfo['industry']">
                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
        	</arclist>
        </ul>
        <ul class="rec" style="display:none;">
        	<arclist item="one" row="10" brandinfo="1" industry="$brandinfo['subindustry']">
                 <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
        	</arclist>	
		</ul> 
      </div>
	   <div class="hot_rank article_rela">
        <div class="title1"> <a id="new">创业知识</a> | <a id="hot">创业分享</a> | <a id="rec">创业秘籍</a></div>
        <ul class="new">
			<arclist item="one" row="15" tag="暴利">
	            <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
	        </arclist>  
         </ul>
        <ul class="hot" style="display:none;">
        	<arclist item="one" row="15" tag="赚钱">
	            <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
	        </arclist> 
        </ul>
        <ul class="rec" style="display:none;">
        	<arclist item="one" row="15" tag="创业">
	            <li><a href="<{$one.url}>" target="_blank" title="<{$one.title}>"><{$one.title}></a></li>
	       </arclist>  	
		</ul> 
      </div>
        <div class="newFixedBox"  id="float">
      		<iframe marginheight="0" marginwidth="0" noresize="" style="margin:0 auto; margin-top:0px;" src="__PUBLIC__/html/home/project/jsq/index.html" scrolling="no" width="100%" height="540" frameborder="0">	</iframe>
		</div>   
        </div>
  </div>
      <!-- 主题内容end -->
      
      <div class="clear space10"></div>
      <div class="space10"></div>
      <div class="center phb_xgb"> 
  </div>
      <div class="clear space10"></div>
      <div class="space10"></div>
      <div class="center"> 
    <div class="p_jiameng2 s7"  id="qusfal">
       <div class="p_jmwid"> 
        <div class="p_jm_content" >
	          <div class="p_fx_tit" >
		             <div class="p_fj_xmfx_1">
		                  <div class="p_fj_xmfx1"></div>
		                  <div class="p_fj_xmfx4" style="margin-left:210px;">我对<{$brandinfo.brandname}>感兴趣，马上免费通话或留言</div>
		             </div>
		             <div class="p_zx_jmf" style="margin:0 auto;width:300px;float:none;text-align:center;">
		            	 <div class="p_top1_right_js syltongji_t_jisuanqi" onclick="z_tan_jsq_touzi();">
		                            <div class="p_top1_rjsqi"></div>
		                            <div class="p_top1_rjsqt">投资计算器</div>
		                 </div>
		             </div> 
	          </div>
						<iframe id="iframeid" marginheight="0" marginwidth="0" noresize="" style="margin:0 auto; margin-top:0px;"
							src="https://g.liansuo.com/gbook/gbook_dialogboxchild_7781.php?mid=<{$brandinfo.memberid}>" scrolling="no" 
							frameborder="0" height="345" width="100%">
						</iframe>
						<script>
						    var url = window.location.href;
						    var pattern = /(\w+)=(\w+)/ig;//定义正则表达式
						    var parames = {};//定义数组
						    url.replace(pattern, function(a, b, c){
						        parames[b] = c;
						    });
						    var bannerID = parames['bannerID'];//返回这个数组.
						  if (bannerID) {
						    document.getElementById('iframeid').src +='&bannerID='+bannerID;
						  }else{
						    document.getElementById('iframeid').src +='&bannerID=0';
						  }
						</script>	
	         <div class="p_jm_buzhou">
		            <div class="p_jm_bz_jt">
		                  <div class="p_jm_bzjt_img"></div>
		                  <div class="p_jm_bzjt_img2"></div>
		                  <div class="p_jm_bzjt_img2"></div>
		            </div>
		            <div class="p_jm_buzhou_top">
		                  <div class="p_jm_bz_ximg1"></div>
		                  <div class="p_jm_bz_txt1"><span>了解项目</span> <br>
		                1.通过<{$brandinfo.brandname}>详细了解项目审查报告、真实实拍及加盟依据等。</div>
		                  <div class="p_jm_bz_ximg2"></div>
		                  <div class="p_jm_bz_txt2"><span>咨询项目</span> <br>
		                2.通过<{$brandinfo.brandname}>免费呼叫系统和帮我选服务进行详细了解</div>
		                  <div class="p_jm_bz_ximg3"></div>
		                  <div class="p_jm_bz_txt1"><span>签署合同</span> <br>
		                3.考察满意与总部签署加盟合同，同时享受<{$brandinfo.brandname}>创业扶持。</div>
		                  <div class="p_jm_bz_ximg4"></div>
		                  <div class="p_jm_bz_txt1"><span>装修开业</span> <br>
		                4.总部指导选址、装修、培训等开业大吉，财源滚滚!</div>
		            </div>
	          </div> 
              <div class="space10 clear"></div>
              <div class="space10"></div>
            </div>
     	 </div>
    <a name="a_xiangmuzixun"></a>
  </div>
  </div>
  
 <div class="space10"></div>
  <div class="center phb_xgb">
	    <div class="floatL canyin_l">
				<div class="section02-right-title clearfix"><h3>综合排行榜</h3><a rel="nofollow" href="http://www.liansuo.com/top.html" target="_blank">MORE</a></div>
				<hr>
				<div class="phb_con">
					<p class="phb_title"><a>项目名称</a><a>投资金额</a><a>所属行业</a></p>
					<ul class="phb_list">
						<volist name="phbCom" id="v" key="k" offset="0" length="10">
							<li>
								<a href="http://www.liansuo.com/p/<{$v.memberid}>/" title="<{$v.brandname}>"><i class="bg_red"><{$k}></i><{$v.brandname}></a>
								<a class="red" rel="nofollow" target="_blank" href="http://search.liansuo.com/0-0-<{$v.joinlinemin}>,<{$v.joinlinemax}>--1.html" ><{$v.joinlinemin}>-<{$v.joinlinemax}>万</a>
								<a><{$v.industryname}></a>
							</li>	
						</volist>
					</ul>
				</div>		
		</div>
	    <div class="floatL canyin_l">
			<div class="section02-right-title clearfix"><h3><{$industry.industryname}>加盟排行榜</h3><a rel="nofollow" href="http://www.liansuo.com/top-<{$brandinfo.industry}>-0-1.html" target="_blank">MORE</a></div>
			<hr> 
			<div class="phb_con">
				<p class="phb_title"><a>项目名称</a><a>投资金额</a><a>所属行业</a></p>
				<ul class="phb_list">
					<volist name="phbMax" id="v" key="k" offset="0" length="10">
						<li>
							<a href="http://www.liansuo.com/p/<{$v.memberid}>/" title="<{$v.brandname}>"><i class="bg_red"><{$k}></i><{$v.brandname}></a>
							<a class="red" rel="nofollow" target="_blank" href="http://search.liansuo.com/0-0-<{$v.joinlinemin}>,<{$v.joinlinemax}>--1.html" ><{$v.joinlinemin}>-<{$v.joinlinemax}>万</a>
							<a><{$v.industryname}></a>
						</li>	
					</volist>
				</ul>
			</div>		
		</div>
	    <div class="floatL canyin_l">
			<div class="section02-right-title clearfix"><h3><a></a><{$subindustry.industryname}>加盟排行榜</h3><a rel="nofollow" href="http://www.liansuo.com/top-<{$brandinfo.subindustry}>-0-1.html" target="_blank">MORE</a></div>
			<hr>
			<div class="phb_con">
				<p class="phb_title"><a>项目名称</a><a>投资金额</a><a>所属行业</a></p>
				<ul class="phb_list">
					<volist name="phbMin" id="v" key="k" offset="0" length="10">
						<li>
							<a href="http://www.liansuo.com/p/<{$v.memberid}>/" title="<{$v.brandname}>"><i class="bg_red"><{$k}></i><{$v.brandname}></a>
							<a class="red" rel="nofollow" target="_blank" href="http://search.liansuo.com/0-0-<{$v.joinlinemin}>,<{$v.joinlinemax}>--1.html" ><{$v.joinlinemin}>-<{$v.joinlinemax}>万</a>
							<a><{$v.industryname}></a>
						</li>	
					</volist>
				</ul>
			</div>		
		</div>
  </div>
	<div class="clear space10"></div> 
      <div class="clear space10"></div>
      <div class="space10"></div>
      <div class="center">
		<div class="all_city">
			<div class="section02-right-title clearfix"><h3>全国地区加盟站</h3></div>
			<hr>
			<div class="border_div">
				<div class="all_city_contant">
					<include file="../Public/html/public/allcity.html" />
				</div>
			</div>
		</div>
    <script type="text/javascript">
	$(function(){
		$('.all_city_contant li').find('ul').addClass("hid");
		$('#hid').removeClass("hid");
		$('.all_city_contant li').click(function(){
			$('.all_city_contant li').removeClass("current");
			$(this).addClass("current");
			$('.all_city_contant li').find('ul').addClass("hid");
			$(this).find('ul').removeClass("hid");
		})
	})
	</script>
    <div class="clear space10"></div> 
  </div>
  <div class="clear space10"></div>
</div>
	<!-- 引入页脚 -->
	<div class="clear space10"></div>
		<include file="../Public/html/public/navfoot_news.html" />
	<script type="text/javascript" src="__PUBLIC__/js/home/project/slick.js"></script>
	

	<div class="toolbar">
	   <a href="###" class="toolbar-item toolbar-item-weixin">
	   <span class="toolbar-layer"></span>
	   </a>
	   <a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
	   <a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
	   </a>
	   <div onclick="window.scroll(0,0)" style="cursor:pointer;" id="top" class="toolbar-item toolbar-item-top"></div>
	</div>

<script type="text/javascript" src="__PUBLIC__/js/home/project/jQuery.hhShare.min.js"></script>
<script type="text/javascript">
$(function(){
	//图片滚动特效
	$('#asid_share').hhShare({
		cenBox     : 'asid_share_box',  //里边的小层
		icon       : 'adid_icon',
		addClass   : 'red_bag',
		titleClass : 'asid_title',
		triangle   : 'asid_share_triangle', //鼠标划过显示图层，边上的小三角
		showBox    : 'asid_sha_layer' //鼠标划过显示图层
	});
});
</script>
<div class="p_jsq_tz" style="display:none">
    <div class="p_jsq_tzwid p_z_pie">
        <div class="p_jsq_title">
            投资计算器
            <div class="p_jsq_close p_z_pie" onclick="z_close_jsq()"> × </div>
        </div>
        <div class="p_jsq_scroll">
            <div class="p_jsq_tzcon">
                <div class="p_tz_ctop">
                    <div class="p_tz_ctops">
                        <div class="p_tz_ctops1">加盟费用：</div>
                        <input class="p_tz_ctops2 p_z_pie z_jisuan_num" type="text">
                        <div class="p_tz_ctops3">元</div>
                        <div class="p_tz_ctops4">向企业招商经理了解费用详情</div>
                        <div class="p_tz_ctops5 p_z_pie  p_fl_tcth_kf_t  ">点击免费通话</div>
                    </div>
                    <div class="p_tz_ctops">
                        <div class="p_tz_ctops1">店面租金：</div>
                        <input class="p_tz_ctops2 p_z_pie z_jisuan_num" type="text">
                        <div class="p_tz_ctops3">元</div>
                        <div class="p_tz_ctops4">（按月或季度计算）</div>
                    </div>
                    <div class="p_tz_ctops">
                        <div class="p_tz_ctops1">装修费用：</div>
                        <input class="p_tz_ctops2 p_z_pie z_jisuan_num" type="text">
                        <div class="p_tz_ctops3">元</div>
                    </div>
                    <div class="p_tz_ctops">
                        <div class="p_tz_ctops1">采购成本：</div>
                        <input class="p_tz_ctops2 p_z_pie z_jisuan_num" type="text">
                        <div class="p_tz_ctops3">元</div>
                        <div class="p_tz_ctops4">（包含设备和原材料等）</div>
                    </div>
                    <div class="p_tz_ctops">
                        <div class="p_tz_ctops1">其他费用：</div>
                        <input class="p_tz_ctops2 p_z_pie z_jisuan_num" type="text">
                        <div class="p_tz_ctops3">元</div>
                        <div class="p_tz_ctops4">（可预见的其他费用）</div>
                    </div>
                </div>
                <div class="p_tz_cbot">
                    <div class="p_tz_cbot1">预计总投资： </div>
                    <input class="p_tz_cbot2 p_z_pie" id="z_jisuan_sum" disabled="disabled" type="text">
                    <div class="p_tz_cbot3">元</div>
                </div>
            </div>
            <div class="p_jsq_bot">
                <div class="p_jsq_btit">符合我的投资预算，马上了解加盟详情</div>
                <div class="p_jsq_bbut">
                    <div class="p_jsq_btonghua p_z_pie  p_fl_tcth_kf_t ">免费通话</div>
                    <div class="p_jsq_bliuyan p_z_pie p_fl_tcth_kf_i">马上留言</div>
                </div>
                <div class="p_jsq_bnum">
                    <div class="p_jsq_bnum1">(最近259人通话)</div>
                    <div class="p_jsq_bnum2">(最近259人留言)</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
	<script type="text/javascript" src="http://www.liansuo.com/html/js/plugins/artDialog/artDialog.js?skin=default"></script>
	<script type="text/javascript" src="http://www.liansuo.com/html/js/plugins/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
	<script type="text/javascript" src="http://www.liansuo.com/html/js/slick.js"></script>
	<script type="text/javascript" src="http://www.liansuo.com/c.js"></script>
	<script type="text/javascript" src="http://www.liansuo.com/html/js/qrcode.js"></script>
	<script src="http://www.liansuo.com/html/js/jquery.autocomplete.js"></script>
    <script type="text/javascript">
		(function(){
		    var bp = document.createElement('script');
		    var curProtocol = window.location.protocol.split(':')[0];
		    if (curProtocol === 'https'){
		   bp.src = "https://zz.bdstatic.com/linksubmit/push.js";
		  }
		  else{
		  bp.src = "http://push.zhanzhang.baidu.com/push.js";
		  }
		    var s = document.getElementsByTagName("script")[0];
		    s.parentNode.insertBefore(bp, s);
		})();
	</script> 
<script type="text/javascript">

function ranklist(id,ele,elename,elechild,start_ele,cur_ele){
    var obj_id=document.getElementById(id);
    var obj_ele=$tag(obj_id,ele);
    for(i=0;i<obj_ele.length;i++){
        if(obj_ele[i].className.indexOf(elename) == -1) continue;
        var objlist=$tag(obj_ele[i],elechild);
        for(j=0;j<objlist.length;j++){
            objlist[j].onmouseover=function(){
                var paris=this.parentNode;
                var list=$tag(paris,elechild);
                for(x=0;x<list.length;x++){
                    var thisdiv=$tag(list[x],cur_ele)[0];
                    var thisp=$tag(list[x],start_ele)[0];
                    thisdiv.style.display="none";
                    thisp.style.display="block";
                    }
                var start=$tag(this,start_ele)[0];
                start.style.display='none';
                var cur=$tag(this,cur_ele)[0];
                cur.style.display='block';
            }
        }
    }
}
function $tag(id,tag){return id.getElementsByTagName(tag);}
setTimeout("ranklist('ranklist','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}
setTimeout("ranklist('ranklistx','ul','listNav','li','a','div')",0);
function b(){	
  t = parseInt(x.css('top'));
  y.css('top','30px');	
  x.animate({top: t - 30 + 'px'},'slow');	//19为每个li的高度
  if(Math.abs(t) == h-30){ //19为每个li的高度
    y.animate({top:'0px'},'slow');
    z=x;
    x=y;
    y=z;
  }
  setTimeout(b,3000);//滚动间隔时间 现在是3秒
}
$(function(){
		window.onload = function()
		{
			var $li = $('#tab a');
			var $ul = $('#content .project_con');
						
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass();
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})
			var $li_2 = $('#switch_tit li');
			var $ul_2 = $('#switch_main .switch_center');
						
			$li_2.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li_2.removeClass();
				$this.addClass('switch_cur');
				$ul_2.css('display','none');
				$ul_2.eq($t).css('display','block');
			})
		}
	});

</script> 
<script>
$(".title1 a").click(function(){
		$(this).parents(".article_rela").find("ul").css("display", "none");
		$(this).parents(".article_rela").find("ul."+$(this).attr("id")).show();
	});
</script>
<script  type="text/javascript"> 
 $(window).scroll(function()
    {	
    	//newFixedBox跟随滚动
    	var h = $(window).height();
        var top = $(window).scrollTop();
    	var newFixedBox = $('.newFixedBox').prev().offset();
        var fixedTop = newFixedBox.top;
		
        if(top>=fixedTop + 400)
        {
			var h1 = parseInt($('.section_contant').height());
			if(parseInt(top) - 270 < h1){
				$('.newFixedBox').css({'position':'fixed','top': 0});
			}else{
				$('.newFixedBox').css({'position':'absolute','top': h1+270});
			}
        }
        else
        {
            $('.newFixedBox').css({'position':'static', 'top':0});   
        }	
       /* return true;*/
    });
</script> 
<script language="javascript" src="__PUBLIC__/js/home/project/pro_js.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/project/ypst.js"></script>
</html>