<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>地区代理项目_全国加盟店排行_地区代理品牌大全-中国连锁网</title>
<meta name="keywords" content="地区代理项目排行,地区代理品牌排行,全国加盟店排行,加盟店排行">
<meta name="description" content="地区代理项目大全,2017年全国加盟店排行,地区代理品牌大全,上中国连锁网,获取海量加盟赚钱好项目">
<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/top/city/style_list.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/home/top/city/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://www.liansuo.com/html/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Public/js/home/top/koala.min.1.5.js"></script>
</head>
<body>
<div class="head">
  <div class="lsgb_header_bj">
    <div class="center">
    <include file="../Public/html/home/tag/header.html" />


      <div class="space10 clear"></div>
      <div class="space10 clear"></div>
      <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r"> <img width="210" height="55" src="__PUBLIC__/image/home/top/all/logo_11.png" alt="中国连锁网"> </a>
        <div class="floatL title_pro">
          <h1>全国加盟店排行</h1>
          <p><a target="_blank" href="">www.liansuo.com/news/zhinan/</a></p>
        </div>
                <div class="floatR ad_pic"> 
            <adlist item="one" order="rand()" cid="817" row="3">
                <a href="<{$one.httpurl}>"  target="_blank"><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>" alt="<{$one.title}>"></a>
            </adlist> 
        </div>
      </div>
    </div>
  </div>
  <div class="space10 clear"></div>
  <div class="space10 clear"></div>
  <div class="pro_nav">
    <div class="pro_nav_con"> 
        <a href="http://www.liansuo.com">首页</a>
        <a href="http://www.liansuo.com/top/zixun/" target="_self">加盟时讯</a>
        <a href="http://www.liansuo.com/top/all/" target="_self">行业榜单</a>
        <a href="http://www.liansuo.com/top/city/" target="_self">地区榜单</a>
        <a href="http://www.liansuo.com/top/money/" target="_self">全部金额</a>
        
    </div>
  </div>
</div>
<div class="breadcrumbs center"> <span>当前位置 : </span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com">连锁网</a>＞</span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com/top/">排行榜</a>＞</span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com/top/city/">地区排行榜</a></span></div>
<div class="center">
<div class="c_l">
<div class="recom-left">
            <h3>热门标签</h3>
            <div id="scroll-tag">
			 <modlist name="tag" item="one" row="10">
                                    <a class="c2" href="<{$one.url}>" target="_blank"><{$one.tag}></a>
			</modlist>
			 <modlist name="tag" item="one" row="10,10">
                                    <a class="c1" href="<{$one.url}>" target="_blank"><{$one.tag}></a>
			</modlist>
                                </div>
          <script type="text/javascript" src="__PUBLIC__/js/home/top/city/zzsc.js"></script>
        </div>
</div>
<div class="c_r">
<div id="bd">
  <div class="section news">
    <div class="focus" id="slider-content">
      <div class="slider-content" id="D1fBt">
	                    <arclist item="one" row="8" picture="1">
                                  <a href="<{$one.url}>" class="slider-item" target="_blank">                               
                                  <img src="http://img.liansuo.com/html/images/<{$one.picture}>" alt="<{$one.title}>">
								   <span class="title"><{$one.title}></span>
                                  </a>
                              </arclist>
		</div>
      <a href="javascript:;" class="controller prev"></a><a href="javascript:;" class="controller next"></a>
     </div>
    <div class="text-news" monkey="xw">
		<arclist item="one" row="12">
            <a class="headline" href="<{$one.url}>" target="_blank">                               
                <{$one.title}>
            </a>
			<php>break;</php>
        </arclist>
      <ul class="list">
	     <arclist item="one" row="13">
            <li><a href="<{$one.url}>" target="_blank">                               
                <{$one.title}>
            </a></li>
        </arclist>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
<div class="space10"></div>
<div class="center">
	<ul class="wrapper">
		<li>
		<div class="ui-widget">
		</div>
		<!--<input placeholder="搜索城市" id="tags" class="inputBox ui-autocomplete-input" autocomplete="off"><button disabled="" class="icon-search icon-searchO"></button>-->
		<h5>热门城市</h5>
		<ul>
			<volist name="hot_arealist" id="one">
			<li><a href="http://www.liansuo.com/top/<{$one.provice_py|strtolower}>/"><{$one.provice}></a></li>
			</volist>
		</ul>
		</li>
		<php>$tag='';</php>
		<volist name="arealist" id="one"> 
			
			<if condition="strcasecmp($tag,$one['provice_py'][0]) neq 0">
			<if condition="$key neq 0">
				</ul>
			</li>
			</if>
			<php>$tag=$one["provice_py"][0];</php>
			<li>
			<h5><{$one.provice_py.0}></h5>
			<ul>
			</if>
				<li><a href="http://www.liansuo.com/top/<{$one.provice_py|strtolower}>/"><{$one.provice}></a></li>
			<if condition="strcasecmp($tag,$one['provice_py'][0]) neq 0">
			</ul>
			</li>
			</if>
							
		</volist>
		</ul>
			</li>
		


	</ul>
</div>

	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->

<div class="toolbar">
   <a href="###" class="toolbar-item toolbar-item-weixin">
   <span class="toolbar-layer"></span>
   </a>
   <a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
   <a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
   </a>
   <div onclick="window.scroll(0,0)" style="cursor:pointer;" id="top" class="toolbar-item toolbar-item-top"></div>
</div>
<script type="text/javascript">
Qfast.add('widgets', { path: "/Public/js/home/top/terminator2.2.min.js", type: "js", requires: ['fx'] });  
Qfast(false, 'widgets', function () {
	K.tabs({
		id: 'bd',   //焦点图包裹id  
		conId: "slider-content",  //** 大图域包裹id  
		tabId:"D1fBt",  
		tabTn:"a",
		conCn: '.slider-item', //** 大图域配置class       
		auto: 1,   //自动播放 1或0
		effect: 'fade',   //效果配置
		eType: 'click', //** 鼠标事件
		pageBt:true,//是否有按钮切换页码
		bns: ['.prev', '.next'],//** 前后按钮配置class                          
		interval: 3000  //** 停顿时间  
	}) 

})  
</script>
</body>
</html>