<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟店排行榜_<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟品牌大全-中国连锁网</title>
<meta name="keywords" content="2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟店排行榜,2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟品牌大全,2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟排行">
<meta name="description" content="2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟排行榜,中国连锁网提供<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟品牌大全,<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟排行榜等10大品牌加盟店,更多加盟赚钱好项目尽在Liansuo.com">
<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/top/money/style_list.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/home/top/money/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://www.liansuo.com/html/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/top/koala.min.1.5.js"></script>

</head>
<body>
<div class="head">
  <div class="lsgb_header_bj">
    <div class="center">

<include file="../Public/html/home/tag/header.html" />


      <div class="space10 clear"></div>
      <div class="space10 clear"></div>
      <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r"> <img width="210" height="55" src="__PUBLIC__/image/home/top/money/logo_11.png" alt="中国连锁网"> </a>
        <div class="floatL title_pro">
          <h1>全部金额</h1>
          <p><a target="_blank" href="">www.liansuo.com/top/money/</a></p>
        </div>
        <div class="floatR ad_pic"> 
				<adlist item="one" cid="817" row="3">
					<a href="<{$one.ypurl}>" target="_blank"><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
				</adlist>		
		</div>
      </div>
    </div>
  </div>
  <div class="space10 clear"></div>
  <div class="space10 clear"></div>
  <div class="pro_nav">
    <div class="pro_nav_con"> <a href="http://www.liansuo.com">首页</a>
        <a href="http://www.liansuo.com/top/zixun/" target="_self">加盟时讯</a>
        <a href="http://www.liansuo.com/top/all/" target="_self">行业榜单</a>
        <a href="http://www.liansuo.com/top/city/" target="_self">地区榜单</a>
        <a href="http://www.liansuo.com/top/money/" target="_self">全部金额</a>
   </div>
  </div>
</div>
<div class="breadcrumbs center"> <span>当前位置 : </span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com">连锁网</a>＞</span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com/top/">排行榜</a>＞</span><span class="breadcrumbs-links"><a href="http://www.liansuo.com/top/money/">金额排行榜</a></span></div>
<div class="center">
<div class="c_l">
<div id="flist" class="l_150">
            <div class="hblock">
                <ul>
                      <li><a class="bb se">行业榜单</a></li>
                    <volist name="inarr" id="vo" >                                         
                      <li>
                          <a class="odd" href="/top/<{$vo.prpathname}>/" title="<{$vo.prpathname}>加盟"><{$vo.prindustryname}>加盟排行榜</a>
                      </li>
                    </volist>   
                </ul>
            </div>
	            </div>
</div>
<div class="c_m">
<div class="phb">
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>0~5万排行榜</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
				<plist item="one" row="10" money="0-5">
                      <li <if condition="$one.oid eq '1'"> class="active"</if>><a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
                        <div class="add_div">
                          <div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
                          <div class="floatR text_pro">
                                  <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
                            <p class="hangye">行业：<a href="http://search.liansuo.com/<{$one.industry}>-<{$one.subindustry}>-,-_0_0-1.html"><{$one.subindustryname}></a></p> 
                              <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
                              <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
                          </div>
                        </div>
                      </li>
                      </plist>        
              </ul> 
          </div>
         <div class="phb">
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>5~10万排行榜</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
				<plist item="one" row="10" money="5-10">
                       <li <if condition="$one.oid eq '1'"> class="active"</if>><a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
                        <div class="add_div">
                          <div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
                          <div class="floatR text_pro">
                                  <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
                            <p class="hangye">行业：<a href="http://search.liansuo.com/<{$one.industry}>-<{$one.subindustry}>-,-_0_0-1.html"><{$one.subindustryname}></a></p> 
                              <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
                              <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
                          </div>
                        </div>
                      </li>
                      </plist>        
              </ul> 
          </div>
          <div class="phb" >
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>10~20万排行榜</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
					<plist item="one" row="10" money="10-20">
                       <li <if condition="$one.oid eq '1'"> class="active"</if>><a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
                        <div class="add_div">
                          <div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
                          <div class="floatR text_pro">
                                  <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
                            <p class="hangye">行业：<a href="http://search.liansuo.com/<{$one.industry}>-<{$one.subindustry}>-,-_0_0-1.html"><{$one.subindustryname}></a></p> 
                              <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
                              <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
                          </div>
                        </div>
                      </li>
                      </plist>     
              </ul> 
          </div>
          <div class="phb" >
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>20~50万排行榜</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
						<plist item="one" row="10" money="20-50">
                       <li <if condition="$one.oid eq '1'"> class="active"</if>><a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
                        <div class="add_div">
                          <div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
                          <div class="floatR text_pro">
                                  <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
                            <p class="hangye">行业：<a href="http://search.liansuo.com/<{$one.industry}>-<{$one.subindustry}>-,-_0_0-1.html"><{$one.subindustryname}></a></p> 
                              <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
                              <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
                          </div>
                        </div>
                      </li>
                      </plist> 
              </ul> 
          </div>
          <div class="phb" >
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>50~100万排行榜</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
					<plist item="one" row="10" money="50-100">
                       <li <if condition="$one.oid eq '1'"> class="active"</if>><a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
                        <div class="add_div">
                          <div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
                          <div class="floatR text_pro">
                                  <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
                            <p class="hangye">行业：<a href="http://search.liansuo.com/<{$one.industry}>-<{$one.subindustry}>-,-_0_0-1.html"><{$one.subindustryname}></a></p> 
                              <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
                              <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
                          </div>
                        </div>
                      </li>
                      </plist> 
              </ul> 
          </div>
          <div class="phb" >
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>100万以上排行榜</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
					<plist item="one" row="10" money="100-9999">
                       <li <if condition="$one.oid eq '1'"> class="active"</if>><a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
                        <div class="add_div">
                          <div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
                          <div class="floatR text_pro">
                                  <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
                            <p class="hangye">行业：<a href="http://search.liansuo.com/<{$one.industry}>-<{$one.subindustry}>-,-_0_0-1.html"><{$one.subindustryname}></a></p> 
                              <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
                              <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
                          </div>
                        </div>
                      </li>
                      </plist> 
              </ul> 
          </div>
</div>
<div class="c_r">
<div class="w300 fl">
<div class="attention_rank clearfix">
<div class="title clearfix"><span>最受关注的行业排行榜</span></div>
<div class="attention_rank_con">
<ul>
<li class="mr10"><span class="rank_icon1"></span><a href="http://www.liansuo.com/top/canyin/" target="_blank">餐饮</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon2"></span><a href="http://www.liansuo.com/top/fuzhuang/" target="_blank">服装</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon3"></span><a href="http://www.liansuo.com/top/jiafang/" target="_blank">家纺</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon4"></span><a href="http://www.liansuo.com/top/jiaoyu/" target="_blank">教育</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon5"></span><a href="http://www.liansuo.com/top/ganxi/" target="_blank">干洗</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon6"></span><a href="http://www.liansuo.com/top/meirong/" target="_blank">美容</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon7"></span><a href="http://www.liansuo.com/top/zhubao/" target="_blank">珠宝</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon8"></span><a href="http://www.liansuo.com/top/shipin/" target="_blank">饰品</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon9"></span><a href="http://www.liansuo.com/top/yingtong/" target="_blank">母婴</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon10"></span><a href="http://www.liansuo.com/top/qiche/" target="_blank">汽车</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon11"></span><a href="http://www.liansuo.com/top/jiaju/" target="_blank">家居</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon12"></span><a href="http://www.liansuo.com/top/jiancai/" target="_blank">建材</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon13"></span><a href="http://www.liansuo.com/top/jinrong/" target="_blank">金融</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon14"></span><a href="http://www.liansuo.com/top/jiudian/" target="_blank">酒店</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon15"></span><a href="http://www.liansuo.com/top/huanbao/" target="_blank">环保</a><em class="arrow_d"></em></li>
<li class="mr10"><span class="rank_icon16"></span><a href="http://www.liansuo.com/top/tese/" target="_blank">特色</a><em class="arrow_d"></em></li>

</ul>
</div>
</div>
<div class="rankNews">
<div class="title clearfix"><span class="colorea0000">榜单<em>资讯</em></span><a target="_blank" href="http://www.liansuo.com/news/">更多<b></b></a></div>
<ul>
 <arclist item="one" row="7" >
                    <li> <em></em><a target="_blank" title="<{$one.title}>" href="<{$one.url}>"><{$one.title}></a></li>
              </arclist>
</ul>
</div>
<div class="hot_tag clearfix">
<div class="title clearfix"><span class="colorea0000">热门<em>标签</em></span></div>
<div class="hot_tagCon">
 <modlist name="tag" item="one" row="11">
                     <a href="<{$one.url}>" target="_blank"><{$one.tag}></a>
            	  </modlist>
</div>
</div>
</div>
</div>
</div>
<div class="space10"></div>

	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->

<div class="toolbar">
   <a href="###" class="toolbar-item toolbar-item-weixin">
   <span class="toolbar-layer"></span>
   </a>
   <a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
   <a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
   </a>
   <div onclick="window.scroll(0,0)" style="cursor:pointer;" id="top" class="toolbar-item toolbar-item-top"></div>
</div>
<script type="text/javascript">
Qfast.add('widgets', { path: "/Public/js/home/top/terminator2.2.min.js", type: "js", requires: ['fx'] });  
Qfast(false, 'widgets', function () {
	K.tabs({
		id: 'bd',   //焦点图包裹id  
		conId: "slider-content",  //** 大图域包裹id  
		tabId:"D1fBt",  
		tabTn:"a",
		conCn: '.slider-item', //** 大图域配置class       
		auto: 1,   //自动播放 1或0
		effect: 'fade',   //效果配置
		eType: 'click', //** 鼠标事件
		pageBt:true,//是否有按钮切换页码
		bns: ['.prev', '.next'],//** 前后按钮配置class                          
		interval: 3000  //** 停顿时间  
	}) 

})  
</script>
 

<script type="text/javascript">
            $(function(){
                $('.listNav li').on('mouseover',function(){
                    $(this).addClass('active').siblings('.listNav li').removeClass('active');
                });
            });
        </script>
</body>
</html>