<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟店排行榜_<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟品牌大全-中国连锁网</title>
<meta name="keywords" content="2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟店排行榜,2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟品牌大全,2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟排行">
<meta name="description" content="2017年<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟排行榜,中国连锁网提供<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟品牌大全,<{$provice}><{$industry_pid.industryname}><notempty name="money"><{$money}>万</notempty>加盟排行榜等10大品牌加盟店,更多加盟赚钱好项目尽在Liansuo.com">

<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/top/xiangqing/style_list.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/home/top/xiangqing/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://www.liansuo.com/html/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Public/js/home/top/koala.min.1.5.js"></script>

</head>
<body>
<div class="head">
  <div class="lsgb_header_bj">
    <div class="center">
      <include file="../Public/html/home/tag/header.html" />
      <div class="space10 clear"></div>
      <div class="space10 clear"></div>
         <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r"> <img width="210" height="55" src="__PUBLIC__/image/home/top/xiangqing/logo_11.png" alt="中国连锁网"> </a>
		 <div class="floatL title_pro">
          <h1><notempty name="provice"><{$provice}><else /><notempty name="industry_pid.industryname"><{$industry_pid.industryname}><else /><notempty name="money"><{$money}>万</notempty></notempty></notempty>排行榜</h1>
          <p><a target="_blank" href="">www.liansuo.com/top<notempty name="industry">/<{$industry}></notempty><notempty name="money">/<{$money}></notempty><notempty name="addr">/<{$addr}></notempty>/</a></p>
        </div>
        <div class="floatR ad_pic"> 
			<adlist item="one" cid="817" row="3">
				<a href="<{$one.ypurl}>" target="_blank"><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
			</adlist>
		</div>
      </div>
    </div>
  </div>
  <div class="space10 clear"></div>
  <div class="space10 clear"></div>
  <div class="pro_nav">
   <div class="pro_nav">
    <div class="pro_nav_con"> <a href="http://www.liansuo.com/top/">首页</a>
        <a href="http://www.liansuo.com/top/zixun/" target="_self">加盟时讯</a>
        <a href="http://www.liansuo.com/top/all/" target="_self">行业榜单</a>
        <a href="http://www.liansuo.com/top/city/" target="_self">地区榜单</a>
        <a href="http://www.liansuo.com/top/money/" target="_self">全部金额</a>
    </div>
   </div>
  </div>
</div>

<div class="breadcrumbs center"> <span>当前位置 : </span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com">连锁网</a>＞</span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com/top/">排行榜</a></span> <notempty name="provice">&gt;<{$provice}></notempty><notempty name="industry_pid.industryname">&gt;<{$industry_pid.industryname}></notempty><notempty name="money">&gt;<{$money}>万</notempty></div>
<div class="center">
<div class="c_l">
<div class="hrd61216"></div>
<div id="list-crumb" class="list-mod"> <a href="http://paihang.jiameng.com/all/" target="_blank">首页</a> </div>
<div id="list-filter_area" class="list-mod">
<div class="filter_item">
<div class="filter_tit">分类：</div>
<div class="filter_con">
<dl class="filter_dl"> 

<dt class="filter_dt <if condition="$industry_pid eq ''">filter_dt_on</if>"><a href="/top<notempty name="money">/<{$money}></notempty><notempty name="addr">/<{$addr}></notempty>/">不限</a></dt>
<volist name="inarr" id="vo" >       
	<if condition="$industry_pid['parentid'] eq 0">                                  
    <dd class="filter_dt <if condition="$industry_pid['id'] eq $vo['prid']">filter_dt_on</if>">
        <a class="filter_link" href="/top/<{$vo.prpathname}><notempty name="money">/<{$money}></notempty><notempty name="addr">/<{$addr}></notempty>/" title="<{$vo.prpathname}>"><{$vo.prindustryname}></a>
    </dd>
	<else />
	<dd class="filter_dt <if condition="$industry_pid['parentid'] eq $vo['prid']">filter_dt_on</if>">
        <a class="filter_link" href="/top/<{$vo.prpathname}><notempty name="money">/<{$money}></notempty><notempty name="addr">/<{$addr}></notempty>/" title="<{$vo.prpathname}>"><{$vo.prindustryname}></a>
    </dd>
	</if>
</volist>  
<!--<dd class="filter_dt filter_dt_on "><strong>餐饮</strong></dd>
<dd class="filter_dd "><a class="filter_link">服装</a></dd>
<dd class="filter_dd "><a class="filter_link">家纺</a></dd>
<dd class="filter_dd "><a class="filter_link">教育</a></dd>
<dd class="filter_dd "><a class="filter_link">美容</a></dd>
<dd class="filter_dd "><a class="filter_link">家居</a></dd>
<dd class="filter_dd "><a class="filter_link">饰品</a></dd>
<dd class="filter_dd "><a class="filter_link">酒店</a></dd>
<dd class="filter_dd "><a class="filter_link">服务</a></dd>
<dd class="filter_dd "><a class="filter_link">汽车服务</a></dd>
<dd class="filter_dd "><a class="filter_link">新行业</a></dd>
<dd class="filter_dd "><a class="filter_link">建材</a></dd>
<dd class="filter_dd "><a class="filter_link">家具</a></dd>
<dd class="filter_dd "><a class="filter_link">保健</a></dd>
<dd class="filter_dd "><a class="filter_link">珠宝</a></dd>
<dd class="filter_dd "><a class="filter_link">母婴儿童</a></dd>
<dd class="filter_dd "><a class="filter_link">数码</a></dd>
<dd class="filter_dd "><a class="filter_link">家电</a></dd>
<dd class="filter_dd "><a class="filter_link">零售</a></dd>
<dd class="filter_dd "><a class="filter_link">食品</a></dd>
<dd class="filter_dd "><a class="filter_link">酒水</a></dd>
<dd class="filter_dd "><a class="filter_link">箱包</a></dd>
<dd class="filter_dd "><a class="filter_link">娱乐</a></dd>
<dd class="filter_dd "><a class="filter_link">金融</a></dd>-->
<div style="clear:both"></div>
</dl>
<ul class="filter_ul">
 <if condition="$industry_pid.id neq 0"> 
<!--<li class="filter_li filter_li_on">不限</li>-->
</if> 
<volist name="inarr" id="vo" >  
<if condition="$industry_pid['parentid'] eq 0">  
	<if condition="$industry_pid['id'] eq $vo['prid']">
		<volist name="vo.subarr" id="one" >  
		<li class="filter_li"> <a class="filter_link" href="/top/<{$one.pathname}><notempty name="money">/<{$money}></notempty><notempty name="addr">/<{$addr}></notempty>/" title="<{$one.pathname}>"><{$one.industryname}></a></li>
		</volist>		
	</if> 
<else />
	<if condition="$industry_pid['parentid'] eq $vo['prid']">
		<volist name="vo.subarr" id="one" >  
		<li class="filter_li <if condition="$industry_pid['id'] eq $one['id']">filter_li_on</if>"> <a class="<if condition="$industry_pid['id'] eq $one['id']">filter_s_a<else />filter_link</if>" href="/top/<{$one.pathname}><notempty name="money">/<{$money}></notempty><notempty name="addr">/<{$addr}></notempty>/" title="<{$one.pathname}>"><{$one.industryname}></a></li>
		</volist>		
	</if>
</if>  
</volist> 
</ul>

<!--
<ul class="filter_ul">
<li class="filter_li filter_li_on"><strong>不限</strong></li>
<li class="filter_li"><a class="filter_s_a" title="中餐">中餐</a></li>
<li class="filter_li"><a class="filter_s_a" title="西餐">西餐</a></li>
<li class="filter_li"><a class="filter_s_a" title="快餐">快餐</a></li>
<li class="filter_li"><a class="filter_s_a" title="火锅">火锅</a></li>
<li class="filter_li"><a class="filter_s_a" title="小吃">小吃</a></li>
<li class="filter_li"><a class="filter_s_a" title="甜品">甜品</a></li>
<li class="filter_li"><a class="filter_s_a" title="咖啡店">咖啡店</a></li>
<li class="filter_li"><a class="filter_s_a" title="茶馆">茶馆</a></li>
<li class="filter_li"><a class="filter_s_a" title="日韩料理">日韩料理</a></li>
<li class="filter_li"><a class="filter_s_a" title="烧烤">烧烤</a></li>
<li class="filter_li"><a class="filter_s_a" title="饮品">饮品</a></li>
<li class="filter_li"><a class="filter_s_a" title="面包蛋糕店">面包蛋糕店</a></li>
<li class="filter_li"><a class="filter_s_a" title="馄饨">馄饨</a></li>
<li class="filter_li"><a class="filter_s_a" title="拉面">拉面</a></li>
<li class="filter_li"><a class="filter_s_a" title="米线">米线</a></li>
<li class="filter_li"><a class="filter_s_a" title="熟食">熟食</a></li>
<li class="filter_li"><a class="filter_s_a" title="其他">其他</a></li>
<li class="filter_li"><a class="filter_s_a" title="汉堡">汉堡</a></li>
<li class="filter_li"><a class="filter_s_a" title="奶茶">奶茶</a></li>
<div style="clear:both"></div>
</ul>
-->
</div>
<div style="clear:both"></div>
</div>
<div class="filter_item">
<div class="filter_tit">价格：</div>
<div class="filter_con">
<dl class="filter_dl">
<dt class="filter_dt <if condition="$money eq ''">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}></notempty><notempty name="addr">/<{$addr}></notempty>/">不限</a></dt>
<dd class="filter_dd <if condition="$money eq '0-1'">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}>/0-1</notempty><notempty name="addr">/<{$addr}></notempty>/" title="1万以下" class="filter_link">1万以下</a></dd>
<dd class="filter_dd <if condition="$money eq '1-5'">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}></notempty>/1-5<notempty name="addr">/<{$addr}></notempty>/" title="1~5万" class="filter_link">1~5万</a></dd>
<dd class="filter_dd <if condition="$money eq '5-10'">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}>/5-10</notempty><notempty name="addr">/<{$addr}></notempty>/" title="5~10万" class="filter_link">5~10万</a></dd>
<dd class="filter_dd <if condition="$money eq '10-20'">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}>/10-20</notempty><notempty name="addr">/<{$addr}></notempty>/" title="10~20万" class="filter_link">10~20万</a></dd>
<dd class="filter_dd <if condition="$money eq '20-50'">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}>/20-50</notempty><notempty name="addr">/<{$addr}></notempty>/" title="20~50万" class="filter_link">20~50万</a></dd>
<dd class="filter_dd <if condition="$money eq '50-100'">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}>/50-100</notempty><notempty name="addr">/<{$addr}></notempty>/" title="50~100万" class="filter_link">50~100万</a></dd>
<dd class="filter_dd <if condition="$money eq '100-9999'">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}>/100-9999</notempty><notempty name="addr">/<{$addr}></notempty>/" title="100万以上" class="filter_link">100万以上</a></dd>
<div style="clear:both"></div>
</dl>
</div>
<div style="clear:both"></div>
</div>
<div class="filter_item">
<div class="filter_tit">区域：</div>
<div class="filter_con">
<dl class="filter_dl" id="zone-box" style="height: 22px; ">
<dt class="filter_dt <if condition="$addr eq ''">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}></notempty><notempty name="money">/<{$money}></notempty>/">不限</a></dt>
<volist name="arealist" id="one" offset="0" length='10'> 
	<dd class="filter_dt <if condition="strcasecmp($addr,$one['provice_py']) eq 0">filter_dt_on</if>"><a href="/top<notempty name="industry">/<{$industry}></notempty><notempty name="money">/<{$money}></notempty>/<{$one.provice_py|strtolower}>/" class="filter_link"><{$one.provice}></a></dd>
</volist>  
<div style="clear:both"></div>
</dl>
<!--<div class="filter_act"><a href="javascript:void(0);" class="filter_showmore" id="showZone"><i></i><span>更多</span></a></div>-->
</div>
<div style="clear:both"></div>
</div>
</div>
<div class="hrd61216"></div>
<style>.searchText{-moz-text-decoration-color:-moz-use-text-color;-moz-text-decoration-line:underline;-moz-text-decoration-style:solid;font-size:16px;color:red;}</style>
<!--<div class="search_nav">
<div class="search_nav1 clearfix">
<div class="search_nav1_l fl">
<a id="mr" class="defalut_sort">默认排序</a><a id="rq" class="">人气<b class="sort_icon"></b></a><a id="zx" class="">最新<b></b></a></div>
</div>
<div class="search_nav2">
</div>
</div>-->
<div class="listCon">
		<plist item="one" row="$p_row" money="$money" cid="$industry_pid.id" address="$provice" order=" mancheck desc,orderid desc,cindex desc">
			<div class="listCon_mod positionRed clearfix" style="background-color: rgb(255, 255, 255);">
				<div class="listCon_mod_1 fl">
					<a href="<{$one.ypurl}>" target="_blank">
					<img width="128" height="96" title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>" onerror="javascript:this.src='__PUBLIC__/image/zanwu.jpg';">
					<em><b class="b_icon1"></b></em></a>
				</div>
				<div class="listCon_mod_2 fl">
					<h3>
						<a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a>
					</h3>
  <span class="color3">
						<a href="<{$one.ypurl}>" target="_blank" class="vip_link">报道</a>
						<b>|</b>
						<a href="<{$one.ypurl}>ppxw.html" target="_blank">资讯</a>

					</span>
					<span class="color1" title="<{$one.subindustryname}>">经营产品:<{$one.subindustryname}></span>
					<span class="color3" style="color:#666;"><{$one.companyname}></span>
					
					<div class="tip">
						<a href="<{$one.ypurl}>" target="_blank" rel="nofollow"><{$one.brandname}>火爆加盟招商中</a>
					</div>				</div>
				<div class="listCon_mod_5 fr">
					<a href="http://p.qiao.baidu.com//im/index?siteid=6431007&ucid=5368641" target="_blank">立即咨询</a>
					<div class="code-icons">
						<if condition="$one.createtime neq 0">成立时间：<em class="v-ico-vyear"><{$one.createtime}><span>年</span></em></if>
						<em class="v-ico-comCode" title="企业已认证">&nbsp;</em>
						<div style="clear:both"></div>
					</div>
						<div class="code-icons">门店数量：<em class="v-ico-vyear"><if condition="$one['storesnum'] == 0">审核中<else /><{$one.storesnum}><span>家</span></if></em>						
						<em class="v-ico-comCode" title="企业已认证">&nbsp;</em>
						<div style="clear:both"></div>
					</div>
				</div>
				<div class="listCon_mod_3 fr">
					<p><span>投资额：</span><b><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</b></p>
					<p><span>已申请：</span><em><{$one.msg_sum}></em>人</p>
<p class="szd-p"><span>所在地：</span><em><{$one.address}></em></p>
				</div>
			</div>
		
        </plist>   
					  
</div>
<div class="re_page2">
					<!--<div>  <span class="current">1</span><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p2.html">2</a><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p3.html">3</a><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p4.html">4</a><a target="_self" class="num" href="http://www.liansuo.com/canyin/jmzn/p5.html">5</a> <a target="_self" class="next" href="http://www.liansuo.com/canyin/jmzn/p2.html">下一页</a> <a target="_self" class="end" href="http://www.liansuo.com/canyin/jmzn/p541.html">541</a></div>-->
	<{$page}>
</div>
</div>

<div class="c_r">
<div class="recom-left">
            <h3>热门标签</h3>
            <div id="scroll-tag">
<volist name="tagArrayrmbq" id="one">
					<a href="http://www.liansuo.com/tag/<{$one.id}>/" target="_blank" title="<{$one.tag}>" class="c2"><{$one.tag}></a>
				</volist>
				<volist name="tagArrayrmbq" id="one">
					<a href="http://www.liansuo.com/tag/<{$one.id}>/" target="_blank" title="<{$one.tag}>" class="c1"><{$one.tag}></a>
				</volist>

                                </div>
            <script type="text/javascript" src="__PUBLIC__/js/home/top/xiangqing/zzsc.js"></script>
        </div>
<div class="phb">
              <h3><a class="floatR" href="http://www.liansuo.com/top.html" target="_blank">完整榜单</a>本周好项目</h3>
              <p>排名&nbsp;&nbsp;&nbsp;加盟品牌</p>
              <ul class="list  listNav">
					<plist item="one" row="10"  money="$money" cid="$industry_pid.id" address="$provice">
                      <li <if condition="$one.oid eq '1'"> class="active"</if>><a href="<{$one.ypurl}>" target="_blank" style="display: block;"><i><{$one.oid}></i><{$one.brandname}></a>
                        <div class="add_div">
                          <div class="floatL"><a href="<{$one.ypurl}>"><img title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<{$one.logo}>"></a></div>
                          <div class="floatR text_pro">
                                  <p class="name"><a href="<{$one.ypurl}>" target="_blank"><{$one.brandname}></a></p>
                            <p class="hangye">行业：<a href="http://search.liansuo.com/<{$one.industry}>-<{$one.subindustry}>-,-_0_0-1.html"><{$one.subindustryname}></a></p> 
                              <p class="jine">金额：<a href="http://search.liansuo.com/0-0-<{$one.joinlinemin}>,<{$one.joinlinemax}>-_0_0-1.html"><{$one.joinlinemin}>万~<{$one.joinlinemax}>万</a></p>
                              <p class="anniu"><a rel="nofollow" href="<{$one.ypurl}>">申请加盟</a></p>
                          </div>
                        </div>
                      </li>
                      </plist>        
              </ul> 
          </div>
		  <div class="clear"></div>
		  <div id="topzixun">
		        <div class="toplist">
        <div class="tabtop" id="ul_a">
	        <a class="tab-list current frist"><span>加盟指南</span></a>
	        <a class="tab-list"><span>选址筹备</span></a>
	        <a class="tab-list"><span>日常经营</span></a>
	        <a class="tab-list"><span>项目资讯</span></a>
        </div>
        <div class="tabcontent" id="tabcontent">
          <div class="tabs_ul" style="display:block;">
          <arclist item="one" row="10" industry="$industry_pid.id" deflag="e"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
          <div class="tabs_ul">
          <arclist item="one" row="10" industry="$industry_pid.id" deflag="g"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
          <div class="tabs_ul">
          <arclist item="one" row="10" industry="$industry_pid.id" deflag="i,k,o"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
          <div class="tabs_ul">
          <arclist item="one" row="10" industry="$industry_pid.id" deflag="l,q"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
          </div>
        </div>
      </div>
	   </div>
	   
	       <div id="topyingshi" monkey="bangdan" data-rm="server">
      <div class="toplist">
        <div class="tabtop" id="tabtop_2">
	        <a class="tab-list current frist"><span>经典案例</span></a>
	        <a class="tab-list "><span>人物专访</span></a>
	        <a class="tab-list "><span>参展信息</span></a>
	        <a class="tab-list "><span>行业动态</span></a>
        </div>
        <div class="tabcontent"  id="tabcontent_2">
        <div class="tabs_ul" style="display:block;">
              <arclist item="one" row="10" industry="$industry_pid.id" deflag="n"> 
	         	  <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
              </arclist>
         </div>
         <div class="tabs_ul">
          <arclist item="one" row="10" industry="$industry_pid.id" deflag="m"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
         </div>
         <div class="tabs_ul">
          <arclist item="one" row="10" industry="$industry_pid.id" deflag="x"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
         </div>
         <div class="tabs_ul">
          <arclist item="one" row="10" industry="$industry_pid.id" deflag="q,u"> 
	          <p class="textlist-1"><i class="rank"></i><a class="link js_link" href="<{$one.url}>" ><span><{$one.title}></span></a></p>
          </arclist>
         </div>
  
        </div>
      </div>
    </div>
</div>
</div>
<div class="space10"></div>

	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->

<div class="toolbar">
   <a href="###" class="toolbar-item toolbar-item-weixin">
   <span class="toolbar-layer"></span>
   </a>
   <a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
   <a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
   </a>
   <div onclick="window.scroll(0,0)" style="cursor:pointer;" id="top" class="toolbar-item toolbar-item-top"></div>
</div>
<script type="text/javascript">
Qfast.add('widgets', { path: "/Public/js/home/top/terminator2.2.min.js", type: "js", requires: ['fx'] });  
Qfast(false, 'widgets', function () {
	K.tabs({
		id: 'bd',   //焦点图包裹id  
		conId: "slider-content",  //** 大图域包裹id  
		tabId:"D1fBt",  
		tabTn:"a",
		conCn: '.slider-item', //** 大图域配置class       
		auto: 1,   //自动播放 1或0
		effect: 'fade',   //效果配置
		eType: 'click', //** 鼠标事件
		pageBt:true,//是否有按钮切换页码
		bns: ['.prev', '.next'],//** 前后按钮配置class                          
		interval: 3000  //** 停顿时间  
	}) 

})  
</script>
 

<script type="text/javascript">
            $(function(){
                $('.listNav li').on('mouseover',function(){
                    $(this).addClass('active').siblings('.listNav li').removeClass('active');
                });
            });
        </script>
		<script>
	$(function(){
		window.onload = function()
		{
			var $li = $('#ul_a a');
			var $ul = $('#tabcontent .tabs_ul');
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass('current');
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})
		}
		{
			var $li = $('#tabtop_2 a');
			var $ul = $('#tabcontent_2 .tabs_ul');
			$li.mouseover(function(){
				var $this = $(this);
				var $t = $this.index();
				$li.removeClass('current');
				$this.addClass('current');
				$ul.css('display','none');
				$ul.eq($t).css('display','block');
			})
		}
	});
</script>
</body>
</html>