<extend name="Project:index" />
<block name="yellowTDK">
	  <title>如何经营<{$brandinfo.brandname}>_<{$brandinfo.brandname}>经营分析—中国连锁网</title>
	  <meta name="Keywords" content="如何经营分析<{$brandinfo.brandname}>,<{$brandinfo.brandname}>经营分析" />
	  <meta name="Description" content="<{$brandinfo.brandname}>经营分析为您详细介绍如何经营<{$brandinfo.brandname}>,<{$brandinfo.brandname}>选址开店技巧,<{$brandinfo.brandname}>日常经营技巧等.中国连锁网全城指导<{$brandinfo.brandname}>经营技巧,教您如何经营<{$brandinfo.brandname}>赚大钱" />
</block>
<block name="ddddd">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/p/<{$brandinfo.memberid}>/jyfx.html">
</block>
<block name="banner">
 <h1><p class="banner-name"><{$brandinfo.brandname}>加盟经营分析</p></h1>
       <span style="color:white;font-size:14px;line-height:44px;position:absolute;left:160px;top:53px;"><{$brandinfo.brandname}>加盟经营技巧</span>
</block>
<block name="yellowSP">
	<script>//移动端自动跳转
		var mob_url = "http://m.liansuo.com/p/<{$brandinfo.memberid}>/jyfx.html"; 
		var __qid=<{$brandinfo.memberid}>; 		  
	</script> 
	<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script> 
</block> 
<block name="row01-title">
【<{$brandinfo.brandname}>加盟】经营分析
</block> 
<block name="section02-left">
        <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>经营分析</h2>
        <hr>
        <div class="section02-left-nr">
   			<{$brandinfo.contents3}>
        </div>
</block>