<extend name="Project:index" />
<block name="yellowTDK">
	  <title><{$brandinfo.brandname}>加盟店展示_<{$brandinfo.brandname}>产品展示—中国连锁网</title>
	  <meta name="Keywords" content="<{$brandinfo.brandname}>产品展示,<{$brandinfo.brandname}>加盟店展示" />
	  <meta name="Description" content="<{$brandinfo.brandname}>加盟展示为您提供<{$brandinfo.brandname}>加盟店展示,<{$brandinfo.brandname}>产品展示,<{$brandinfo.brandname}>装修效果图展示等,以便您更直观的了解<{$brandinfo.brandname}>店面和产品,放心加盟<{$brandinfo.brandname}>" />
</block>
<block name="ddddd">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/p/<{$brandinfo.memberid}>/lsdt.html">
</block>
<block name="banner">
<h1><p class="banner-name"><{$brandinfo.brandname}>加盟产品展示</p></h1>
       <span style="color:white;font-size:14px;line-height:44px;position:absolute;left:160px;top:53px;"><{$brandinfo.brandname}>加盟实力展示</span>
</block>
<block name="row01-title">
【<{$brandinfo.brandname}>加盟】产品展会
</block>

<block name="section02-left">
				<if condition="$brandinfo['use_map'] eq 1">
				<div class="section-04">
						
						<h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>连锁地图</h2> 
						
						
					<div class="section-04-body">
						<iframe src="http://map.liansuo.com/index.php/Home/Show/index/scd/<{$brandinfo.memberid}>" width="870" height="490" scrolling="no" frameborder="0"></iframe>
					</div>
				</div>
				</if>
</block> 