<extend name="Project:index" />
<block name="yellowTDK">
	  <title><{$brandinfo.brandname}>官网_<{$brandinfo.brandname}>联系电话-中国连锁网</title>
	  <meta name="Keywords" content="<{$brandinfo.brandname}>官网,<{$brandinfo.brandname}>加盟电话,<{$brandinfo.brandname}>联系电话" />
	  <meta name="Description" content="<{$brandinfo.brandname}>官网为您提供<{$brandinfo.brandname}>加盟电话,<{$brandinfo.brandname}>公司介绍,<{$brandinfo.brandname}>联系方式,<{$brandinfo.brandname}>公司地址等公司相关信息." />
</block>
<block name="ddddd">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/p/<{$brandinfo.memberid}>/lxfs.html">
</block>
<block name="banner">
 <h1><p class="banner-name"><{$brandinfo.brandname}>加盟联系方式</p></h1>
       <span style="color:white;font-size:14px;line-height:44px;position:absolute;left:160px;top:53px;"><{$brandinfo.brandname}>加盟电话多少 </span>
</block>
<block name="row01-title">
【<{$brandinfo.brandname}>加盟】联系方式    
</block> 
<block name="yellowSP">
	<script>//移动端自动跳转 
		var mob_url = "http://m.liansuo.com/p/<{$brandinfo.memberid}>/lxfs.html"; 
		var __qid=<{$brandinfo.memberid}>; 		  
	</script> 
	<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script> 
</block>
<block name="section02-left">
        <h2 class="section02-left-title"><span><{$brandinfo.brandname}></span>联系方式</h2>
        <hr>
        <div class="section02-left-nr">
   			<div class="G_hy_pic_P">
			    <div class="space10"></div> 
			    <div class="G_hy_lxfs"> 
					<ul>
						<li class="lxfs_cfrx">项目名称：<{$brandinfo['brandname']}></li>
						<li class="lxfs_cfrx">公司名称：<{$brandinfo['companyname']}></li>
						<li class="lxfs_cfrx">成立时间：<{$brandinfo['createtime']}></li>
						<li class="lxfs_cfrx">品牌发源地：<{$brandinfo['cradle']}></li>
						<li class="lxfs_cfrx">门店总数：<{$brandinfo['storesnum']}></li>
						<li class="lxfs_cfrx">公司地址：<{$brandinfo['address']}></li>
						<li class="lsfs_lrx">联系姓名：<{$brandinfo['linker']}></li>
						<li class="lxfs_cfrx">联系电话：4000-911-181</li>
						<li class="lsfs_email">Email：<{$brandinfo['linkeremail']}></li>
					</ul>
				</div>
			</div>
        </div>
</block>












$a = "<a href='admin/client/kf/cid?cid=$id'>$name</a>";











