<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><{$industry_pid.industryname}>加盟热点,热点<{$industry_pid.industryname}>投资项目,2017年<{$industry_pid.industryname}>加盟什么牌子好-中国连锁网</title>
<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">

<meta name="Keywords" content="<{$industry_pid.industryname}>加盟热点,热点<{$industry_pid.industryname}>投资项目,2017年<{$industry_pid.industryname}>加盟什么牌子好">
<meta name="Description" content="<{$industry_pid.industryname}>加盟热点资讯,汇聚全网热点<{$industry_pid.industryname}>投资项目,率先掌握2017年<{$industry_pid.industryname}>加盟品牌资讯,想要了解2017年<{$industry_pid.industryname}>加盟什么牌子好的相关资讯,欢迎访问中国连锁网!  ">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/hot/<{$industry}>/">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/hot/hotlist/style_list.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://www.liansuo.com/html/js/jquery-1.8.3.min.js"></script>
<base target="_blank"/>
</head>
<body>
<script>//移动端自动跳转
var mob_url = "http://m.liansuo.com/hot/<{$industry}>/";
</script>
<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script>
<div class="head">
  <div class="lsgb_header_bj">
    <div class="center">
      <include file="../Public/html/home/tag/header.html" />
      <div class="space10 clear"></div>
      
      <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r"> <img width="210" height="55" src="__PUBLIC__/image/home/hot/hotlist/logo_11.png" alt="中国连锁网"> </a>
        <div class="floatL title_pro">
          <h1><{$industry_pid.industryname}>加盟热点</h1>
          <p><a target="_blank" href="http://www.liansuo.com/hot/<{$industry}>/">www.liansuo.com/hot/<{$industry}>/</a></p>
        </div>
        <div class="floatR ad_pic"> <a href=""><img src="__PUBLIC__/image/home/hot/hotlist/ban_14745389675770.gif" /></a><a href=""><img src="__PUBLIC__/image/home/hot/hotlist/ban_14745389675770.gif" /></a><a href=""><img src="__PUBLIC__/image/home/hot/hotlist/ban_14745389675770.gif" /></a></div>
      </div>
    </div>
  </div>
  <div class="space10 clear"></div>
  <div class="space10 clear"></div>
  <div class="pro_nav">
    <div class="pro_nav_con"> 
      <a href="http://www.liansuo.com/hot/" target="_blank">首页</a>
      <volist name="industry_class" id="vo">
      <a href="/hot/<{$vo.pathname}>/" target="_blank"><{$vo.industryname}></a>
      </volist>
       
    </div>
  </div>

   <div class="hao-sd-nav">
<div class="layout" style="margin-bottom:0px;">
  <ul>
    <volist name="industry_name" id="two">
      <li><a href="/hot/<{$industry}>/#<{$two.pathname}>" target="_self" title="<{$two.industryname}>加盟"><{$two.industryname}></a></li>
    </volist>
   
  </ul>
<div style="clear:both"></div>
</div>
</div>

</div>
<div class="breadcrumbs center"> <span>当前位置 : </span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com">连锁网</a>＞</span> <span class="breadcrumbs-links"> <a href="http://www.liansuo.com/hot/"> 热门创业项目</a>＞</span><span class="breadcrumbs-links"><a href="javascript:return false;"><{$industry_pid.industryname}>加盟热点</a></span></div>
<div class="center">
<div class="content wrap">
<!-- 内容页左 开始 -->
<div class="matter_left">
<div class="jm_company">
    <div class="head_btn"><h6></h6></div>
    <div class="bk_clothing">
        <h3><{$industry_pid.industryname}></h3>
        <div class="bk_cloth">
             <volist name="industry_name" id="two">
                <h6><span id="<{$two.pathname}>"><{$two.industryname}></span></h6>
                <modlist name="newssearch" cid="$two.id" item="one" row="15">
                    <a href="/hot/<{$one.id}>.html" title="<{$one.word}>"><{$one.word}></a><if condition="$one.oid lt 15"><em>|</em></if>
                </modlist> 
             </volist>     
                       
        </div>

    </div>
</div>
</div>
<!-- 内容页左 开始 -->

<!-- 内容页右 开始 -->
    <div class="mat_right">
            <div class="ma_box">
        <div class="head_chunk">
            <h3><a href="javascript:return false;"><{$industry_pid.industryname}>加盟热点</a></h3>
            <div class="clear"></div>
        </div>
        <div class="jm_hotact">
            <ul>
               <arclist item="one"  cid="$industry_pid.id" row="10">               
                <li class="delbot">
                  <{$one.oid}>、<a href="<{$one.url}>" title="<{$one.title}>"><{$one.title}></a>
                 <!--  <span class="fr">4889</span> -->
                  <div class="clear"></div>
                </li>
                </arclist>                      
            </ul>
        </div>
        <div class="head_hline"></div>
    </div>
    <div class="space_8"></div>
    <div class="ma_box">
        <div class="head_chunk">
            <h3><a href="javascript:return false;"><{$industry_pid.industryname}>最新词条</a></h3>
            <div class="clear"></div>
        </div>
        <div class="bk_entry">
            <modlist name="newssearch" item="one" row="24" cid="$industry_pid.id">
               <a href="/hot/<{$one.id}>.html" title="<{$one.word}>"><{$one.word}></a>
            </modlist>
          
        </div>
        <div class="head_hline"></div>
    </div>
    <div class="space_8"></div>
    
</div><!-- 内容页右 开始 -->
<div class="clear"></div>

</div>
<!--begin 尾部-->﻿
<!-- 合作友链 开始 -->
<div class="content wrap">
    <div class="coop_link">
        <div class="link_hd">
            <span class="clickon">- 友情<em>链接</em>
            <a class="link_lxqq" href="tencent://message/?uin=2384501554&amp;Site=qq&amp;Menu=yes"></a> -</span>
        </div>
        <div class="head_btn"><h6></h6></div>
        <div class="link_cont">
            <div class="link_name">
              <modlist name="seoword" item="one" row="30" cid="$industry_pid.id">
                <a href="/unit/<{$one.id}>.html" title="<{$one.word}>"><{$one.word}></a><if condition="$one.oid lt 30"><em>|</em></if>
              </modlist> 
            </div>
        </div>
    </div>
</div>
<!-- 合作友链 结束 -->
</div>

	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->
<div class="asid_share" id="asid_share">
	<div class="asid_share_box relative">
		<a href="#"><img alt="我有话说" title="我有话说" class="adid_icon" src="__PUBLIC__/image/home/hot/hotlist/imgx/icon_say.png"></a>
	</div>
	<div class="asid_share_box relative">
		<a href="#"><img alt="新版帮助" title="新版帮助" class="adid_icon" src="__PUBLIC__/image/home/hot/hotlist/imgx/icon_help.png"></a>
		<div class="asid_share_triangle" style="display:none;">
			<em class="border_sj">&#9670;</em>
	    <span class="con_sj">&#9670;</span>
    </div>
		<div class="asid_sha_layer" style="display:none;">
			<ul class="asid_help_list" style="width:130px;">
				<li><a href="#">测试数据</a></li>
				<li><a href="#">测试数据</a></li>
				<li><a href="#">测试数据</a></li>
				<li><a href="#">测试数据</a></li>
			</ul>
		</div>
	</div>
	<div class="asid_share_box relative">
		<a href="#"><img alt="扫二微码" title="扫二微码" class="adid_icon" src="__PUBLIC__/image/home/hot/hotlist/imgx/icon_sweep.png"></a>
		<div class="asid_share_triangle" style="display:none;">
			<em class="border_sj">&#9670;</em>
	    <span class="con_sj">&#9670;</span>
    </div>
		<div class="asid_sha_layer" style="width:250px;display:none;">
			<p class="sweep_img"><img src="__PUBLIC__/image/home/hot/hotlist/imgx/weixin.png" width="220"></p>
			<p class="pb6"><b>扫一扫上面的二维码图案，加我微信</b></p>
		</div>
	</div>
	<div class="asid_share_box relative" style="display:none;">
		<a href="#"><img alt="返回顶部" title="返回顶部" class="adid_icon" src="__PUBLIC__/image/home/hot/hotlist/imgx/icon_back.png"></a>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/home/hot/hotlist/jQuery.hhShare.min.js"></script>
<script type="text/javascript">
$(function(){
	//图片滚动特效
	$('#asid_share').hhShare({
		cenBox     : 'asid_share_box',  //里边的小层
		icon       : 'adid_icon',
		addClass   : 'red_bag',
		titleClass : 'asid_title',
		triangle   : 'asid_share_triangle', //鼠标划过显示图层，边上的小三角
		showBox    : 'asid_sha_layer' //鼠标划过显示图层
	});
});
</script>
</body>
</html>