<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>加盟好项目_品牌项目加盟连锁_找项目-中国连锁网</title>
<meta name="keywords" content="找项目,加盟好项目,品牌项目">
<meta name="description" content="中国连锁网品牌项目加盟连锁平台,提供海量加盟好项目,帮助创业者,代理商快速找到创业加盟好项目.">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<script src="http://www.liansuo.com/html/js/dialog_ini.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/so/style.css" />
<base target="__blank" />
</head>
<body>
<!--广告页开始-->
<div class="all_st">
	<!--海报开始-->
	<h2 style="display:none;">搜索</h2>
	<!--head end-->
	<div style="margin: 0 auto; padding: 0; width:100%;background:url(__PUBLIC__/css/home/images/so/search_bg.jpg) no-repeat center top;">
	<div class="lsgb_top">
      <p class="lsgb_index_ul floatL"> 
			<a href="http://www.liansuo.com/"><em class="bg_1">1</em>首页</a>|
            <a href="http://search.liansuo.com/"><em class="bg_2">3</em>找项目</a>| 
			<a href="http://www.liansuo.com/top.html"><em class="bg_3">3</em>排行榜</a>|
			<a href="http://www.liansuo.com/news/"><em class="bg_4">3</em>指南</a>|
			<a href="http://zhanhui.liansuo.com"><em class="bg_5">3</em>展会</a>|
			<a href="http://zhaoshang.liansuo.com"><em class="bg_6">4</em>招商</a>|
			<a href="http://www.liansuo.com/people.html"><em class="bg_7">4</em>人物</a>|
			<a href="http://www.liansuo.com/qa/"><em class="bg_8">8</em>问答</a>
      </p>
      <div style="float:right;" class="Topnav_floatR">
        <div class="top_r_login">
				<a id="dLqq" class="txqq" target="_blank" href="https://u.liansuo.com/Home/QQLogin/qqRedirect">
					<img width="50" height="16" src="http://img.liansuo.com/html/images/918/topnav_qq.png">
				</a>&nbsp;&nbsp;
				<a rel="nofollow" target="_blank" href="https://u.liansuo.com/Home/Login/index">登录</a>&nbsp;
				<a><img src="http://img.liansuo.com/html/images/918/i_linex.png"></a>&nbsp;
				<a rel="nofollow" target="_blank" href="https://u.liansuo.com/Home/Register/register">注册</a>&nbsp;
				<a><img src="http://img.liansuo.com/html/images/918/i_linex.png"></a>&nbsp;
				<a target="_blank" href="http://www.liansuo.com/top10/">十大品牌</a>&nbsp;
				<a><img src="http://img.liansuo.com/html/images/918/i_linex.png"></a>&nbsp;
				<a target="_blank" href="http://yp.liansuo.com">项目库</a>&nbsp;
				<a><img src="http://img.liansuo.com/html/images/918/i_linex.png"></a>&nbsp;
				<a target="_blank" href="http://zhuanti.liansuo.com">专题</a>
        </div>
      </div>
    </div>
        <div class="navs">
	        <a href="http://canyin.liansuo.com">餐饮</a><a href="http://fuzhuang.liansuo.com">服装</a>
	        <a href="http://jiafang.liansuo.com">家纺</a><a href="http://jiaoyu.liansuo.com">教育</a>
	        <a href="http://ganxi.liansuo.com">干洗</a><a href="http://meirong.liansuo.com">美容</a>
	        <a href="http://zhubao.liansuo.com">珠宝</a><a href="http://shipin.liansuo.com">饰品</a>
	        <a href="http://yingtong.liansuo.com">婴童</a><a href="http://qiche.liansuo.com">汽车</a>
	        <a href="http://jiaju.liansuo.com">家居</a><a href="http://jiancai.liansuo.com">建材</a>
	        <a href="http://jinrong.liansuo.com">金融</a><a href="http://jiudian.liansuo.com">酒店</a>
	        <a href="http://huanbao.liansuo.com">环保</a><a href="http://tese.liansuo.com">特色</a>
        </div>
		<div class="w1000">
        	<div class="header">
            	<p class="logo_top"><img src="__PUBLIC__/image/home/so/s_logo.png" /></p>
                <form id="forms" name="form" action="">
                <div class="search-input">          
           		<input type="text" onblur="(this.value=='')?this.value='想找什么项目？':this.value" onfocus="if(this.value=='想找什么项目？'){this.value='';};this.select();" placeholder="想找什么项目？" id="searchInput" name="kw">
                <button target="_blank" onclick="if($('#searchInput').val()!='想找什么项目？'){window.open('http://search.liansuo.com/0-0-0-'+$('#searchInput').val()+'-1.html')}else{window.open('http://search.liansuo.com');}"><img src="__PUBLIC__/image/home/so/btn.png"</button>       
      			</div>
      			</form>
            </div>
            <div class="search-list">
            	<ul>
                	<li><span>热门城市：</span>
	                	<a href="http://search.liansuo.com/0-0-0-_北京_0_0-1.html">北京</a>
	                	<a href="http://search.liansuo.com/0-0-0-_上海_0_0-1.html">上海</a>
	                	<a href="http://search.liansuo.com/0-0-0-_广州_0_0-1.html">广州</a>
	                	<a href="http://search.liansuo.com/0-0-0-_深圳_0_0-1.html">深圳</a>
	                	<a href="http://search.liansuo.com/0-0-0-_苏州_0_0-1.html">苏州</a>
	                	<a href="http://search.liansuo.com/0-0-0-_成都_0_0-1.html">成都</a>
	                	<a href="http://search.liansuo.com/0-0-0-_重庆_0_0-1.html">重庆</a>
	                	<a href="http://search.liansuo.com/0-0-0-_杭州_0_0-1.html">杭州</a>
	                	<a href="http://search.liansuo.com/0-0-0-_武汉_0_0-1.html">武汉</a>
	                	<a href="http://search.liansuo.com/0-0-0-_郑州_0_0-1.html">郑州</a>
                	</li>
                    <li><span>投资金额：</span>
	                    <a href="http://search.liansuo.com/0-0-0,1-_0_0-1.html">1万以下</a>
	                    <a href="http://search.liansuo.com/0-0-1,5-_0_0-1.html">1万~5万</a>
	                    <a href="http://search.liansuo.com/0-0-5,10-_0_0-1.html">5万~10万</a>
	                    <a href="http://search.liansuo.com/0-0-10,20-_0_0-1.html">10万~20万</a>
	                    <a href="http://search.liansuo.com/0-0-20,50-_0_0-1.html">20万~50万</a>
	                    <a href="http://search.liansuo.com/0-0-50,100-_0_0-1.html">50万~100万</a>
	                    <a href="http://search.liansuo.com/0-0-100,9999-_0_0-1.html">100万以上</a>
                    </li>
                    <li><span><i class="red">热门行业</i>：</span>
	                    	<a href="http://search.liansuo.com/1-0-0-_0_0-1.html" title="餐饮">餐饮</a>
	                    	<a href="http://search.liansuo.com/6-0-0-_0_0-1.html" title="教育">教育</a>
	                    	<a href="http://search.liansuo.com/2-0-0-_0_0-1.html" title="家纺">家纺</a>
	                    	<a href="http://search.liansuo.com/3-0-0-_0_0-1.html" title="服装">服装</a>
	                    	<a href="http://search.liansuo.com/4-0-0-_0_0-1.html" title="家居">家居</a>
	                    	<a href="http://search.liansuo.com/5-0-0-_0_0-1.html" title="饰品">饰品</a>
	                    	<a href="http://search.liansuo.com/7-0-0-_0_0-1.html" title="环保">环保</a>
	                    	<a href="http://search.liansuo.com/8-0-0-_0_0-1.html" title="婴童">婴童</a>
                    </li>
                    <li><span>潜力品牌：</span>
                    <plist item="one" row="18,6" >
                    	<a href="<{$one.ypurl}>" title="<{$one.brandname}>"><{$one.brandname}></a>
                    </plist>
                    </li> 
                </ul>
            </div>
            <div class="search-hot">
            	<div class="hot-left">
                	<h2>热门搜索</h2>
                    <ul class="hot-left-rank">
						<plist item="one" row="9,10">
							<if condition="$one['oid'] lt 4">
	                    		<li><a href="<{$one.ypurl}>" alt="<{$one.brandname}>" title="<{$one.brandname}>"><i class="bg_red"><{$one.oid}></i><{$one.brandname}></a></li>
							<else/>
								<li><a href="<{$one.ypurl}>"  alt="<{$one.brandname}>" title="<{$one.brandname}>"><i><{$one.oid}></i><{$one.brandname}></a></li>
							</if>
						</plist>
                    </ul>
                </div>
                <div class="hot-center">
                	<h2>项目推荐</h2>
                    <div class="hot-pic">
                    	<plist item="one" row="1,9">
                    		<a href="<{$one.ypurl}>"  alt="<{$one.brandname}>" title="<{$one.brandname}>"><img width="140" height="70" src="http://img.liansuo.com/html/images/<{$one.s_473_1}>" /></a>
                    	</plist>
                    </div>
                </div>
                <div class="hot-right">
                	<h2>热门频道</h2>
                    <ul>
                    	<li><a href="http://search.liansuo.com/0-0-1,5-_0_0-1.html"><i class="money"></i>1万~5万创业</a></li>
                        <li><a href="http://www.liansuo.com/news/"><i class="guide"></i>投资指南</a></li>
                        <li><a href="http://www.liansuo.com/p/"><i class="project"></i>赚钱项目</a></li>
                        <li><a href="http://www.liansuo.com/top/"><i class="ranking"></i>项目排行榜</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

            <div class="clear space10"></div>
            <div class="newestHot_mod clearfix w825">
	            <div class="newest newsList mr20">
		            <div class="title"><span>最新留言</span><a target="_blank">&nbsp;</a></div>
		            <ul id="wz_div1">
		            	<plist item="one" row="20,20">
		            			<?php
							            $surname = array('刘先生','张先生','林女士','郑先生','段先生','张先生','丁先生','曹女士','陈女士','王女士','贾女士','周女士');
       									shuffle($surname);
							    ?>
				            <li>
				            	<span><?php echo $surname[0];?>咨询了<a href="javascript:;" target="_self"><{$one.industryname}></a>
				            	类品牌<a href="<{$one.ypurl}>"  alt="<{$one.brandname}>" title="<{$one.brandname}>"><{$one.brandname}></a> 
				            	</span>
				            </li>
		            	</plist>
		            </ul>
		        </div>
	            <div class="newsList">
		            <div class="title"><span>热点资讯</span><a href="http://www.liansuo.com/news/" target="_blank">更多&gt;&gt;</a></div>
		            <ul>
		            	<arclist item="one" row="5" tag="赚钱">
			            	<li><span><a href="<{$one.url}>" target="_blank" alt="<{$one.brandname}>" title="<{$one.brandname}>"><{$one.title}></a></span></li>
		            	</arclist>
		            </ul>
	            </div>
            </div>
            <div class="clear space10"></div>
            
            <div class="search-links">
            	<div class="links_left">友情链接：</div>
                <div class="links_right">
                	<modlist name="newssearch" item="one" row="30">
                		<a href="<{$one.url}>"><{$one.word}></a>
                	</modlist>
                </div>
            </div>
            <div class="space10"></div> 
            <div class="official">
				  <a href="http://www.liansuo.com/">首页</a>－
				  <a rel="nofollow" href="http://www.liansuo.com/about/contactus.html">联系我们</a>－
				  <a rel="nofollow" href="http://www.liansuo.com/about/index.html">关于我们</a>－
				  <a rel="nofollow" href="http://www.liansuo.com/about/mediaresources.html">广告服务</a>－
				  <a rel="nofollow" href="http://www.liansuo.com/about/contactus.html#feedback">意见反馈</a>－
				  <a rel="nofollow" href="http://www.liansuo.com/about/hr.html">人才招聘</a>－
				  <a title="招商加盟资讯专题" href="http://www.liansuo.com/hot/">加盟热点</a>－
				  <a rel="nofollow" href="http://www.liansuo.com/about/contactus.html#laws">法律声明</a>－
				  <a href="http://www.liansuo.com/about/sitemap.html">网站地图</a>－
				  <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=24003281&amp;site=qq&amp;menu=yes" rel="nofollow" target="_blank">
				  <img border="0" alt="欢迎和中国连锁网进行软文和友链等资源洽谈" src="http://img.liansuo.com/html/images/021/qq_index.jpg"></a>－
				  <a target="_self" href="#" rel="nofollow">返回页顶</a>
            </div>
		</div>
   <!--海报结束-->
</div>
</div>
<!--广告页结束-->
</body>
</html>