<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><{$areasjs}><{$hangyejs}><{$headmoney}>加盟好项目_<{$areasjs}><{$hangyejs}><{$headmoney}>加盟店_<{$areasjs}><{$hangyejs}><{$headmoney}>加盟品牌合作-中国连锁网</title>
<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/tag/index/tag-47740-1.html">
<meta name="Keywords" content="<{$areasjs}><{$hangyejs}><{$headmoney}>加盟好项目,<{$areasjs}><{$hangyejs}><{$headmoney}>加盟店,<{$areasjs}><{$hangyejs}><{$headmoney}>加盟品牌合作">
<meta name="Description" content="<{$areasjs}><{$hangyejs}><{$headmoney}>加盟好项目,中国连锁网提供<{$areasjs}><{$hangyejs}><{$headmoney}>加盟好项目_<{$areasjs}><{$hangyejs}><{$headmoney}>加盟店_<{$areasjs}><{$hangyejs}><{$headmoneys}>加盟品牌合作平台,更多加盟赚钱好项目尽在Liansuo.com">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/home/so/style_list.css" rel="stylesheet" type="text/css">
<script src="http://www.liansuo.com/html/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="http://www.liansuo.com/html/js/searchs.js"></script>
<script language="javascript" src="http://www.liansuo.com/html/js/gb_hb.js"></script>
<base target="_bland" />
</head>
<body>
<div class="head">
  <div class="lsgb_header_bj">
    <div class="center">
	<include file="../Public/html/home/tag/header.html" />
      <div class="space10 clear"></div>
      <div class="space10 clear"></div>
      <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r">
       <img width="210" height="55" src="__PUBLIC__/css/home/images/logo_11.png" alt="中国连锁网"> </a>
        <div class="floatL title_pro">
          <h1>搜索页面</h1>
          <p><a target="_blank" href="">search.liansuo.com</a></p>
        </div>
        <div class="header-middle lf">
             	<div id="form1" class="header-middle-search">
     				<input type="hidden" value="" name="industry" id="industry">
     				<input type="hidden" value="" name="subindustry" id="subindustry">
     				<input type="hidden" value="0" id="language_mac" name="joinline">
                 	<input type="text" onblur="if(this.value=='')this.value='请输入要搜索的关键字';" onfocus="if(this.value=='请输入要搜索的关键字')this.value='';" id="search_input" name="keywd" class="search search_input"><input type="submit" value="搜索" class="search-go" id="submessage">
             	</div>
		 <script type="text/javascript" language=JavaScript charset="UTF-8">
			$(function(){
				$(document).keyup(function(event){
					if(event.keyCode ==13){
						submit();
					}
					$('#submessage').click(function(){
						submit();
					});  
				});
				function submit(){
					var tempstr1=$("#search_input").val();
					var kwd = $("#search_input").val()||0;
					if(tempstr1=='请输入要搜索的关键字') {
						$("#search_input").val("");
						kwd=0;
					}
					var ind = $('#industry').val()||0;
					var jline = encodeURI($('#language_mac').val())||0;
					var subid = $('#subindustry').val()||0;  
					if(ind==0&&jline==0&&kwd==0){
						window.open('/so/p1.html?keyword='+kwd,'_self');
					}else {
						window.open('/so/p1.html?keyword='+kwd,'_self');
						console.log('/so/p1.html?keyword='+kwd);
					}
				}
			})
		</script>
        <script language="javascript" src="http://www.liansuo.com/html/js/search_form.js"></script>
        <p class="header-middle-hot">
          	<b>热门搜索:</b>
			<plist item="one" row="1,4">
				<a href="<{$one.ypurl}>" onclick="BIDF(24425)"><{$one.brandname}></a>
			</plist>
        </p>
      </div>
        <div class="floatR ad_pic">
    		<adlist item="one" cid="817" row="1">
				<a href="<{$one.httpurl}>" target="_blank"><img src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
			</adlist>        
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumbs center">
            <if condition="!empty($headhangye) || !empty($headareas)">
	            <div class="map_dh">
	            	<a href="http://www.liansuo.com/">首页</a><if condition="!empty($headareas)">&nbsp;&gt;&nbsp;<a href=""><{$headareas}></a></if><if condition="!empty($headhangye)">&nbsp;&gt;&nbsp;<a href=""><{$headhangye}></a></if><if condition="!empty($headmoney)">&nbsp;&gt;&nbsp;<a href=""><{$headmoney}></a></if>
	            </div>
            </if>
</div>
<div class="container">
    <div class="sub-nav">
      <div class="container sub-nav-border">
        <div class="sub-nav-item clearfix">
          <div class="sub-nav-item-left lf">
            行业分类：
          </div>
          <div class="sub-nav-item-right rf">
	            <div class="row clearfix">
		              <div class="row-left lf">
		            	    <a href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if>" >全部</a>
		              </div>
		              <div class="row-right lf">
			              	<volist name="industryDa" id="v">
			             	    <a <if condition="$redbrand['industry']==$v['industryname']">class="active"</if> <if condition="$v['pathname']==$hangye">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><{$v.pathname}>/<if condition='empty($money)'><else/><{$money}>/</if>"><{$v.industryname}></a>
			               	</volist>
		              </div>
	            </div>
	            <if condition="!empty($hangye) && !strstr($hangye,'.html')">
		            <div class="row clearfix">                                   
			              <div class="row-left lf">
			                	子分类
			              </div>
			              <div class="row-right lf">
				              	<volist name="industryXiao" id="v">
				             	    <a <if condition="$v['pathname']==$hangye">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><{$v.pathname}>/<if condition='empty($money)'><else/><{$money}>/</if>"><{$v.industryname}></a>
				               	</volist>
			              </div>
		            </div>
		        </if>
          </div>
        </div>
       	<script type="text/javascript">
		 $(function(){
			  var o = $("#big_div").prev();
			  if(o.attr('class') == 'row clearfix'){
					$("#big_div").attr('class','row-right lf sub-classify');
			  }
		 })
		
        </script>
        <div class="sub-nav-item clearfix">
          <div class="sub-nav-item-left lf">
            投资金额：
          </div>
          <div class="sub-nav-item-right rf">
            <div class="row clearfix">
              <div class="row-left lf">
               <a href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>" >全部</a>
              </div>
              <div class="row-right lf">
              		<a <if condition="$money == 'y1'">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>y1/">1万元以下(2274)</a>
					<a <if condition="$money == 'y2'">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>y2/">1万-5万(10434)</a>
					<a <if condition="$money == 'y3'">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>y3/">5万-10万(11040)</a>
					<a <if condition="$money == 'y4'">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>y4/">10万-20万(14055)</a>
					<a <if condition="$money == 'y5'">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>y5/">20万-50万(10315)</a>
					<a <if condition="$money == 'y6'">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>y6/">50万-100万(4495)</a>
					<a <if condition="$money == 'y7'">class="active"</if> href="/so/<if condition='empty($areas)'><else/><{$areas}>/</if><if condition='empty($hangye)'><else/><{$hangye}>/</if>y7/">100万以上(1902)</a>   
              </div>
            </div>
          </div>
        </div>
        <div class="sub-nav-item clearfix">
          <div class="sub-nav-item-left lf">
            区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域：
          </div>
          <div class="sub-nav-item-right rf">
            <div class="row clearfix">
              <div class="row-left lf">
                		<a href="/so/<if condition='empty($hangye)'><else/><{$hangye}>/</if><if condition='empty($money)'><else/><{$money}>/</if>" >全部</a>
              </div>
              <div class="row-right lf">
              	  <volist name="moneyarea" id="v">
                		<a <if condition="$v['provice']==$headareas">class="active"</if> href="/so/<{$v.pinyin}>/<if condition='empty($hangye)'><else/><{$hangye}>/</if><if condition='empty($money)'><else/><{$money}>/</if>"><{$v.provice}></a>  
              	  </volist> 
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div class="section02 clearfix">
      <div class="section02-left lf">
		<if condition="empty($brandinfo)">
		        <div class="not-found  clearfix ">
		          <div class="left"><img src="http://www.liansuo.com/html/images/not-found.jpg" alt=""></div>
		          <div class="right if">
		        	    抱歉，没有找到"输入的关键词"相关加盟品牌，<br>
		         	    建议<br>
		            1,看看输入的文字是否有误<br>
		            2,下面我们为您推荐
		          </div>
		        </div>
		        <plist item="infolist" row="10">
				<div class="section02-left-ietm clearfix section02-left-ietm-active">
		          <div class="left lf">
		            <a href="<if condition="$infolist['isupload'] gt '0'"><{$infolist.hburl}><else /><{$infolist.ypurl}></if>">
		            <img style="width:130px;height:100px;"  onerror="javascript:this.src='http://img.liansuo.com/html/images/yp/default_logo.jpg';" src="http://img.liansuo.com/html/images/<{$infolist.logo}>"  alt="<{$infolist.brandname}>"></a>
		            <p class="star">项目星级：<span><{$infolist.str}></span></p>
		            <p>单店投资<span class="num">：<if condition="$infolist['joinlinemax'] neq '0'">
		           		 <{$infolist.joinlinemin}>~<{$infolist.joinlinemax}>万<else /><{$infolist.joinvalue}></if></span><br>综合指数<span class="num">：<{$infolist.cindex}></span>
		            </p>
		          </div>
		          <div class="middle lf">
		            <div class="middle-header clearfix">
		              <h2 class="middle-header-h2 lf"><{$infolist.brandname}><span>[ <{$infolist.industryname}>><{$infolist.subindustryname}> ]</span></h2>
		              <div class="middle-header-right rf"><span>(<b class="red"><{$infolist.msg_sum}></b>)</span>申请加盟<span>(<b class="red"><{$infolist.visit_sum}>0</b>)意向加盟</span></div>
		            </div>
		            <div class="middle-message clearfix">
		              <p>品牌源地：<{$infolist.cradle}><br>企业名称：<{$infolist.companyname}></p>
		              <p>成立时间：<if condition="$infolist['createtime'] eq  '0000' ">无记录<else /><{$infolist.createtime}></if><br>注册资金：<if condition="$infolist['funds'] eq '' ">无记录<else /><{$infolist.funds}></if></p>
		              <p>加盟区域：<{$infolist.joinregion}><br>公司地址：<if condition="$infolist['city'] eq '' ">无记录<else /><{$infolist.city}></if></p>
		              <a href="<{$infolist.ypurl}>lxfs.html" id="Jpopup" class="<{$infoList.memberid}>"><p class="rf"><i class="icon icon2"></i>快捷咨询</p></a>
		            </div>
		            <h3 class="middle-h3">项目介绍</h3>
		            <p class="middle-intro"><a href="<{$infolist.ypurl}>" target=_blank>
		            	品牌名称:<{$infolist.brandname}>   
		            	保证金:<{$infolist.guarantee_money}> 
		            	营业条件:<{$infolist.shop_conditions}>
						区域授权:<{$infolist.regioaut}> 
						经营产品:<{$infolist.bisproduct}></a><a href="<{$infolist.ypurl}>" class="searcha" target="_blank">
						<{$infolist.projectbrief}></a>[<a href="<{$infolist.ypurl}>">点击查看详情</a>]</p>
		            <div class="middle-detail clearfix">
		              <a target="_blank" href="<{$infolist.ypurl}>">项目介绍</a>
		              <if condition="$infolist['contents1'] neq ''">
					  <a target="_blank" href="<{$infolist.ypurl}>/scqj.html">市场前景</a>
					  </if>           
		              <a target="_blank" href="<{$infolist.ypurl}>/jmys.html">加盟优势</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/lrfx.html">经营分析</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/tpzs.html">产品展示</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/jiameng.html">招商海报</a>
		            </div>
		          </div>
		          <div class="right rf">
		            <p class="right-row01">
		              <span class="right-span"><{$infolist.joinlinemin}>万</span>
		         		     投资金额
		            </p>
		            <p class="right-row02"><a href="<{$infolist.ypurl}>lxfs.html"   class="callphone"><i class="icon icon3"></i>快捷咨询</a></p>
		            <p class="right-row03"><a href="<{$infolist.ypurl}>" target="_blank"><i class="icon icon4"></i>了解详情</a></p>
		          </div>
		        </div>		        
		        </plist>
		<else/> 
		      <volist name="brandinfo" id="infolist">
		        <div class="section02-left-ietm clearfix section02-left-ietm-active">
		          <div class="left lf">
		            <a href="<if condition="$infolist['isupload'] gt '0'"><{$infolist.hburl}><else /><{$infolist.ypurl}></if>">
		            <img style="width:130px;height:100px;"  onerror="javascript:this.src='http://img.liansuo.com/html/images/yp/default_logo.jpg';" src="http://img.liansuo.com/html/images/<{$infolist.logo}>"  alt="<{$infolist.brandname}>"></a>
		            <p class="star">项目星级：<span><{$infolist.str}></span></p>
		            <p>单店投资<span class="num">：<if condition="$infolist['joinlinemax'] neq '0'">
		           		 <{$infolist.joinlinemin}>~<{$infolist.joinlinemax}>万<else /><{$infolist.joinvalue}></if></span><br>综合指数<span class="num">：<{$infolist.cindex}></span>
		            </p>
		          </div>
		          <div class="middle lf">
		            <div class="middle-header clearfix">
		              <h2 class="middle-header-h2 lf"><{$infolist.brandname}><span>[ <{$infolist.industryname}>><{$infolist.subindustryname}> ]</span></h2>
		              <div class="middle-header-right rf"><span>(<b class="red"><{$infolist.msg_sum}></b>)</span>申请加盟<span>(<b class="red"><{$infolist.visit_sum}>0</b>)意向加盟</span></div>
		            </div>
		            <div class="middle-message clearfix">
		              <p>品牌源地：<{$infolist.cradle}><br>企业名称：<{$infolist.companyname}></p>
		              <p>成立时间：<if condition="$infolist['createtime'] eq  '0000' ">无记录<else /><{$infolist.createtime}></if><br>注册资金：<if condition="$infolist['funds'] eq '' ">无记录<else /><{$infolist.funds}></if></p>
		              <p>加盟区域：<{$infolist.joinregion}><br>公司地址：<if condition="$infolist['city'] eq '' ">无记录<else /><{$infolist.city}></if></p>
		            </div>
		            <h3 class="middle-h3">项目介绍</h3>
		            <p class="middle-intro"><a href="<{$infolist.ypurl}>" target=_blank>
		            	品牌名称:<{$infolist.brandname}>   
		            	保证金:<{$infolist.guarantee_money}> 
		            	营业条件:<{$infolist.shop_conditions}>
						区域授权:<{$infolist.regioaut}> 
						经营产品:<{$infolist.bisproduct}></a><a href="<{$infolist.ypurl}>" class="searcha" target="_blank">
						<{$infolist.projectbrief}></a>[<a href="<{$infolist.ypurl}>">点击查看详情</a>]</p>
		            <div class="middle-detail clearfix">
		              <a target="_blank" href="<{$infolist.ypurl}>">项目介绍</a>
		              <if condition="$infolist['contents1'] neq ''">
					  <a target="_blank" href="<{$infolist.ypurl}>/scqj.html">市场前景</a>
					  </if>           
		              <a target="_blank" href="<{$infolist.ypurl}>/jmys.html">加盟优势</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/lrfx.html">经营分析</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/tpzs.html">产品展示</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/jiameng.html">招商海报</a>
		            </div>
		          </div>
		          <div class="right rf">
		            <p class="right-row01">
		              <span class="right-span"><{$infolist.joinlinemin}>万</span>
		         		     投资金额
		            </p>
		            <p class="right-row02"><a href="<{$infolist.ypurl}>lxfs.html"  class="callphone" ><i class="icon icon3"></i>快捷咨询</a></p>
		            <p class="right-row03"><a href="<{$infolist.ypurl}>" target="_blank"><i class="icon icon4"></i>了解详情</a></p>
		          </div>
		        </div>
	        </volist>
	        <if condition="count($brandinfo) lt 15">
	        <div class="not-found  clearfix ">
		          <div class="left"><img src="http://www.liansuo.com/html/images/3.png" alt=""></div>
		          <div class="right if">
		         	精品连锁为您推荐，更多精彩尽在连锁项目大全<br>
		            1,连锁网项目优势：连锁加盟项目更精准更可靠<br>
		            2,连锁项目加盟流程：选项目——&gt;留言——&gt;等待项目方回电——&gt;与项目方洽谈——&gt;成功加盟
		          </div>
       	    </div>
       	    </if>
 		    <plist item="infolist" row="15-count($brandinfo)">
				<div class="section02-left-ietm clearfix section02-left-ietm-active">
		          <div class="left lf">
		               <a href="<if condition="$infolist['isupload'] gt '0'"><{$infolist.hburl}><else /><{$infolist.ypurl}></if>">
		               <img style="width:130px;height:100px;"  onerror="javascript:this.src='http://img.liansuo.com/html/images/yp/default_logo.jpg';" src="http://img.liansuo.com/html/images/<{$infolist.logo}>"  alt="<{$infolist.brandname}>"></a>
		               <p class="star">项目星级：<span><{$infolist.str}></span></p>
		               <p>单店投资<span class="num">：<if condition="$infolist['joinlinemax'] neq '0'">
		           		   <{$infolist.joinlinemin}>~<{$infolist.joinlinemax}>万<else /><{$infolist.joinvalue}></if></span><br>综合指数<span class="num">：<{$infolist.cindex}></span>
		               </p>
		          </div>
		          <div class="middle lf">
		            <div class="middle-header clearfix">
		              <h2 class="middle-header-h2 lf"><{$infolist.brandname}><span>[ <{$infolist.industryname}>><{$infolist.subindustryname}> ]</span></h2>
		              <div class="middle-header-right rf"><span>(<b class="red"><{$infolist.msg_sum}></b>)</span>申请加盟<span>(<b class="red"><{$infolist.visit_sum}>0</b>)意向加盟</span></div>
		            </div>
		            <div class="middle-message clearfix">
		              <p>品牌源地：<{$infolist.cradle}><br>企业名称：<{$infolist.companyname}></p>
		              <p>成立时间：<if condition="$infolist['createtime'] eq  '0000' ">无记录<else /><{$infolist.createtime}></if><br>注册资金：<if condition="$infolist['funds'] eq '' ">无记录<else /><{$infolist.funds}></if></p>
		              <p>加盟区域：<{$infolist.joinregion}><br>公司地址：<if condition="$infolist['city'] eq '' ">无记录<else /><{$infolist.city}></if></p>
		              <a href="<{$infolist.ypurl}>lxfs.html" id="Jpopup" class="<{$infoList.memberid}>"><p class="rf"><i class="icon icon2"></i>快捷咨询</p></a>
		            </div>
		            <h3 class="middle-h3">项目介绍</h3>
		            <p class="middle-intro"><a href="<{$infolist.ypurl}>" target=_blank>
		            	品牌名称:<{$infolist.brandname}>   
		            	保证金:<{$infolist.guarantee_money}> 
		            	营业条件:<{$infolist.shop_conditions}>
						区域授权:<{$infolist.regioaut}> 
						经营产品:<{$infolist.bisproduct}></a><a href="<{$infolist.ypurl}>" class="searcha" target="_blank">
						<{$infolist.projectbrief}></a>[<a href="<{$infolist.ypurl}>">点击查看详情</a>]</p>
		            <div class="middle-detail clearfix">
		              <a target="_blank" href="<{$infolist.ypurl}>">项目介绍</a>
		              <if condition="$infolist['contents1'] neq ''">
					  <a target="_blank" href="<{$infolist.ypurl}>/scqj.html">市场前景</a>
					  </if>           
		              <a target="_blank" href="<{$infolist.ypurl}>/jmys.html">加盟优势</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/lrfx.html">经营分析</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/tpzs.html">产品展示</a>
		              <a target="_blank" href="<{$infolist.ypurl}>/jiameng.html">招商海报</a>
		            </div>
		          </div>
		          <div class="right rf">
		            <p class="right-row01">
		              <span class="right-span"><{$infolist.joinlinemin}>万</span>
		         		     投资金额
		            </p>
		            <p class="right-row02"><a href="<{$infolist.ypurl}>lxfs.html"   class="callphone"><i class="icon icon3"></i>快捷咨询</a></p>
		            <p class="right-row03"><a href="<{$infolist.ypurl}>" target="_blank"><i class="icon icon4"></i>了解详情</a></p>
		          </div>
		        </div>		        
		        </plist>       	    
       	    
		</if>
	</div>
      <!-- 主体部分结束 -->
		<div class="section02-right rf">
<iframe src="http://log.liansuo.com/ad.php?cid=9" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" width="290" height="170" frameborder="0"></iframe>
<div class="hot">
  <h2>热门点击</h2>
<hr class="wid">
</div>
<div class="side-key clearfix">
	<plist item="one" row="18">
 		<a title="<{$one.brandname}>" href="<{$one.ypurl}>" onclick="BIDF(35427)" target="_blank"><{$one.brandname}></a>
	</plist>
</div>
<div class="hot">
  <h2>热门文章</h2>
 <hr class="wid">
</div>
<div class="news_list clearfix">
	<ul>
		<arclist item="one" row="12">
	        <if condition="$one['oid'] eq 4 || $one['oid'] eq 8 || $one['oid'] eq 12">
	        	<li class="last-row text-red">
	        <else/>
	        	<li>
	        </if>
	        <a target="_blank" title="<{$one.title}>" data-ad="1663" stat="ad-1663" href="<{$one.url}>" class="block"><{$one.title}></a></li>
		</arclist>
    </ul>
</div>


<div class="news_list clearfix">
	<ul>
				<volist name="ad_er" id="one">
					<a href="<{$one.httpurl}>" style="margin:10px 0"><img src="http://img.liansuo.com/html/images/<{$one.fileurl}>" alt="<{$one.title}>加盟" title="<{$one.title}>加盟" /></a>
				</volist>
	</ul>
</div>








<div class="hot">
  <h2>热门文章</h2>
 <hr class="wid">
</div>
<div class="news_list clearfix">
	<ul>
		<arclist item="one" row="12">
	        <if condition="$one['oid'] eq 4 || $one['oid'] eq 8 || $one['oid'] eq 12">
	        	<li class="last-row text-red">
	        <else/>
	        	<li>
	        </if>
	        <a target="_blank" title="<{$one.title}>" data-ad="1663" stat="ad-1663" href="<{$one.url}>" class="block"><{$one.title}></a></li>
		</arclist>
    </ul>
</div>
<div class="hot">
  <h2>热门项目推荐</h2>
  <hr class="wid">
</div>

<div class="side-item">
<plist item="one" row="10">
	<div class="clearfix">
		<div class="lf"><a href="<{$one.ypurl}>" target="_blank"><img src="http://img.liansuo.com/html/images/<{$one.logo}>" alt="" width="120" height="84"></a></div>
		<div class="rf">
			<p><a href="<{$one.ypurl}>" class="title" target="_blank"><{$one.brandname}></a></p>
			<p class="alone">单店投资：<span class="span-first">0~20万</span></p>
			<p>门店数量：<span>100</span></p>
			<p>综合指数：<span>6381</span></p>
		</div>
	</div>
</plist>
</div>
</div>
      
      <!--主体分页-->
    <div class="section02-paging">
   	<{$fenyeStr}>
    </div>
    <div class="section-03">
      <div class="container">
        <div class="section-03-header">
          <span class="section-title">品牌视界</span>
        </div>
        <div class="section-03-body">
            <div class="section-03-body-col01 clearfix">
	<div class="section-03-body-col01-left lf">
		<plist item="one" row="5,12">
		    <a href="<{$one.hburl}>" onclick="BIDF(<{$one.memberid}>)" target="_blank"><img src="http://img.liansuo.com/html/images/<{$one.s_473_1}>" alt="" width="132" height="92"></a>
		</plist>
	</div>
	<div class="section-03-body-col01-right foreign-brands rf">
		  <span class="section-title">精品项目</span>
		  <div class="foreign-brands-body">
				<plist item="one" source="573" row="2" >
					<div class="foreign-brands-body-item clearfix">
						  <div class="foreign-brands-images lf">
							   <a href="<{$one.ypurl}>" onclick="BIDF(<{$one.memberid}>)" target="_blank"><img src="http://img.liansuo.com/html/images/<{$one.s_473_1}>" alt="<{$one.brandname}>"></a>
						  </div>
						  <div class="foreign-brands-content rf">
								<span class="section-title-able"><a href="<{$one.ypurl}>" onclick="BIDF(<{$one.memberid}>)" target="_blank"><{$one.brandname}></a></span>
								<h2><span>所属行业：<{$one.industryname}></span><span>品牌原地：<{$one.cradle}></span><span>成立时间：<{$one.createtime}></span></h2>
								<p></p><p><{$one.projectbrief}></p><p></p>
						  </div>
					</div>
		  		</plist>
		  </div>
	  </div>
  </div>
          <script type="text/javascript">
          $(function(){
        	  	$(".col02-content-header &gt; a").mouseover(function(){
        	  			var i = $(this).index();
        	  			$(".col02-content-body").css('display','none');
        	  			$(".col02-content-body").eq(i).css('display','block');
        	  	})
        	  	//区域展开
        	  	$(".open-area").click(function(){
        	  			if($(this).html() == '展开'){
        	  				$("#arealist").find("a").css("display",'block');
            	  			$(this).html('关闭');
        	  			}else{
        	  				$("#arealist").find("a").css("display",'none');
            	  			$(this).html('展开');
        	  			}
        	  	})
          })
          </script>
         
          <div class="clear space10"></div>
  <div class="space10"></div>
  <div class="center">
  
  
<div class="all_city">
    <div class="section02-right-titlex clearfix"><h2>全国地区加盟站</h2></div>
    <hr>
    <div class="border_div">
	<div class="all_city_contant">
		<!-- 全国加盟站 -->
<ul>
			<li class="current">
				<!-- 全部 -->
				<ul id="hid" class="">
					<li class="no"><a href="http://beijing.liansuo.com" target="_blank" title="北京加盟">北京加盟</a></li>                       
                    <li class="no"><a href="http://shanghai.liansuo.com/" target="_blank" title="上海加盟">上海加盟</a></li> 
					
                    <li class="no"><a href="http://guangzhou.liansuo.com/" target="_blank" title="广州加盟">广州加盟</a></li>                       
                    <li class="no"><a href="http://shenzhen.liansuo.com/" target="_blank" title="深圳加盟">深圳加盟</a></li>                       
                    <li class="no"><a href="http://xianggang.liansuo.com/" target="_blank" title="香港加盟">香港加盟</a></li>                       
                    <li class="no"><a href="http://guangdong.liansuo.com/" target="_blank" title="广东加盟">广东加盟</a></li>
					
                    <li class="no"><a href="http://taiwan.liansuo.com/" target="_blank" title="台湾加盟">台湾加盟</a></li>                       
                    <li class="no"><a href="http://zhejiang.liansuo.com/" target="_blank" title="浙江加盟">浙江加盟</a></li>                       
                    <li class="no"><a href="http://chongqing.liansuo.com/" target="_blank" title="重庆加盟">重庆加盟</a></li>                       
                    <li class="no"><a href="http://hangzhou.liansuo.com/" target="_blank" title="杭州加盟">杭州加盟</a></li> 
					
					
                    <li class="no"><a href="http://wuhan.liansuo.com/" target="_blank" title="武汉加盟">武汉加盟</a></li>                       
                    <li class="no"><a href="http://shandong.liansuo.com/" target="_blank" title="山东加盟">山东加盟</a></li>                       
                    <li class="no"><a href="http://jiangsu.liansuo.com/" target="_blank" title="江苏加盟">江苏加盟</a></li>                       
                    <li class="no"><a href="http://qingdao.liansuo.com/" target="_blank" title="青岛加盟">青岛加盟</a></li>
					
                    <li class="no"><a href="http://chengdu.liansuo.com/" target="_blank" title="成都加盟">成都加盟</a></li>                       
                    <li class="no"><a href="http://fujian.liansuo.com/" target="_blank" title="福建加盟">福建加盟</a></li>                       
                    <li class="no"><a href="http://nanjing.liansuo.com/" target="_blank" title="南京加盟">南京加盟</a></li>                       
                    <li class="no"><a href="http://jinan.liansuo.com/" target="_blank" title="济南加盟">济南加盟</a></li>  
					
                    <li class="no"><a href="http://xian.liansuo.com" target="_blank" title="西安加盟">西安加盟</a></li>                       
                    <li class="no"><a href="http://dongguan.liansuo.com/" target="_blank" title="东莞加盟">东莞加盟</a></li>                       
                    <li class="no"><a href="http://zhengzhou.liansuo.com/" target="_blank" title="郑州加盟">郑州加盟</a></li>                       
                    <li class="no"><a href="http://tianjin.liansuo.com/" target="_blank" title="天津加盟">天津加盟</a></li> 
					
                    <li class="no"><a href="http://xiamen.liansuo.com/" target="_blank" title="厦门加盟">厦门加盟</a></li>                       
                    <li class="no"><a href="http://foshan.liansuo.com/" target="_blank" title="佛山加盟">佛山加盟</a></li>                       
                    <li class="no"><a href="http://changsha.liansuo.com/" target="_blank" title="长沙加盟">长沙加盟</a></li>                       
                    <li class="no"><a href="http://suzhou.liansuo.com/" target="_blank" title="苏州加盟">苏州加盟</a></li>
				</ul>
			</li> 
	</div>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$(".all_city_contant li").find("ul").addClass("hid");
	$("#hid").removeClass("hid");
	$('.all_city_contant li').click(function(){
		$('.all_city_contant li').removeClass("current");
		$(this).addClass("current");
		$('.all_city_contant li').find('ul').addClass("hid");
		$(this).find('ul').removeClass("hid");
	})
})
</script>
<div class="clear space10"></div>
</div>
<div class="clear space10"></div>
<div class="center">
<div class="section02-right-titlex clearfix"><h2>热门品牌推荐</h2></div>
    <hr>
    <div class="border_div_1">
		<div class="all_city_contant_x">
		    <div class="ls_brand">
				<dl>
					<dd>
						<plist row="40" item="one">
							<a href="<{$one.ypurl}>"><{$one.brandname}></a>
						</plist>
					</dd>
				</dl>
			</div>
		</div>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$('.all_city_contant_x li').click(function(){
		$('.all_city_contant_x li').removeClass("current");
		$(this).addClass("current");
		$('.all_city_contant_x li').find('.ls_brand').addClass("hid");
		$(this).find('.ls_brand').removeClass("hid");
	})
})
</script>
        </div>
      </div>
    </div>
  </div>
</div>
	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->
<div class="toolbar">
   <a href="###" class="toolbar-item toolbar-item-weixin">
   <span class="toolbar-layer"></span>
   </a>
   <a href="https://u.liansuo.com/Home/Register/register" target="_blank" class="toolbar-item toolbar-item-feedback"></a>
   <a href="http://www.liansuo.com/about/contactus.html" target="_blank" class="toolbar-item toolbar-item-app">
   </a>
   <div onclick="window.scroll(0,0)" style="cursor:pointer;" id="top" class="toolbar-item toolbar-item-top"></div>
</div>
<style>
#Jtarget input.wrong {
    border: 1px solid red;
    padding-left: 5px;
}                                                             
</style>                        
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
 <script>
    $('.slider').slick({
        slidesToShow: 1,//显示多少个图片
        slidesToScroll:1,//每次滚动几张图片
        arrows: false,//是否显示两边的箭头
        autoplay:true,//是否自动滚动
        dots: true
    });
  </script>

  <script language="javascript" src="http://www.liansuo.com/c.js"></script>
</body>
</html>