<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><{$keyword.word}>-中国连锁网</title>
<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/unit/<{$keyword.id}>.html">
<meta name="Keywords" content="<{$keyword.word}>">
<meta name="Description" content="<{$keyword.word}>相关加盟资讯,助您快速了解<modlist name="seoword" item="one" cid="$industry" row="3"><{$one.word}>,</modlist><{$keyword.word}>等相关加盟项目,第一时间掌握加盟商机资讯,全国热门加盟品牌,加盟项目,加盟商机尽在中国连锁网！">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link rel="stylesheet" href="__PUBLIC__/css/home/unit/zong_style.css">
<script type="text/javascript" src="/Public/js/home/unit/jquery-1.js"></script>
<script type="text/javascript" src="/Public/js/home/unit/jqueryx.js"></script>
<script type="text/javascript" src="/Public/js/home/unit/koala.min.1.5.js"></script>
<script type="text/javascript"> 
$(function(){
	$('#news1').tab();
	$('#news2').tab();
	$('#news3').tab();
	$('#news4').tab(); 
	$('.many_jiaMLbtCon .jsNav_bottom:first .p1_huoG a').css('margin-right','7px');
})
</script>
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link href="/Public/css/home/unit/style_list.css" rel="stylesheet" type="text/css">
<base target="_blank" />  
</head>
<body>
		<script>//移动端自动跳转
		var mob_url = "http://m.liansuo.com/unit/<{$keyword.id}>.html";
		</script>
		<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script>
<div class="head">
  <div class="lsgb_header_bj">
    <div class="center">
<include file="../Public/html/home/tag/header.html" />
      <div class="space10 clear"></div>
      <div class="space10 clear"></div>
      <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r"> <img width="210" height="55" src="__PUBLIC__/css/home/images/logo_11.png" alt="中国连锁网"> </a>
        <div class="floatL title_pro">
          <h1><{$keyword.word}></h1>
          <p><a  href="">www.liansuo.com/unit/<{$keyword.id}>.html/</a></p>
        </div>
			<div class="floatR ad_pic">
						<adlist item="one"  order="rand()" cid="817" row="3">
							<a href="<{$one.httpurl}>"  target="_blank"><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
						</adlist>		
			</div>
      </div>
    </div>
  </div>
  <div class="space10 clear"></div>
  <div class="space10 clear"></div>
<div id="nav_select" class="pr" style="z-index:10;">
		<div class="zong_nav_bg">   
			<ul class="wrap_mar zong_nav"> 
				<li class="li1_home"><a href="http://www.liansuo.com/unit/" target="_self">首页</a></li>
				<volist name="inarr" id="one" offset="0" length="15">
					<li class="li1"><a href="http://<{$one.prpathname}>.liansuo.com"  title="<{$one.prindustryname}>"><{$one.prindustryname}></a></li>
				</volist> 
				<li class="pr li_more" style="width:67px;"><a style="padding-right:0;">更多<i class="zong_icon i12"></i></a>
				<p class="more_j pa"><img src="__PUBLIC__/image/home/unit/sanJ.png" alt=""></p>
					<div class="moreUl dis_n pa"> 
						<ul class="clear">  
						</ul>
					</div>
				</li> 
			</ul>
		</div>
		<div class="down_nav pa" style="display: none;"> 
			<div class="down_zi wrap_mar pr f14"> 
				<p style="display: none;"></p>
				<p style="display: none;"> 
					<volist name="inarr.1.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p> 
				<p style="display: none;"> 
					<volist name="inarr.2.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p style="display: none;"> 
					<volist name="inarr.3.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p style="display: none;"> 
					<volist name="inarr.4.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 18%; display: none;">
					<volist name="inarr.5.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 15%; display: none;">
					<volist name="inarr.6.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 18%; display: none;">
					<volist name="inarr.7.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 24%; display: none;">
					<volist name="inarr.8.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 46%; display: block;"> 
					<volist name="inarr.9.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 38%; display: none;"> 
					<volist name="inarr.10.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 42%; display: none;"> 
					<volist name="inarr.11.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 55%; display: none;"> 
					<volist name="inarr.12.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="right: 0px; display: none;"> 
					<volist name="inarr.13.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="right: 0px; display: none;"> 
					<volist name="inarr.15.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>  
				<p class="pa" style="right: 0px; display: none;"> 
					<volist name="inarr.16.subarr" id="two"> 
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
			</div>
		</div>
	</div>
</div>
<div id="tab" class="gd_nav"><a href="">首页</a>><a href="http://www.liansuo.com/unit/">连锁加盟代理</a>><a href=""><{$keyword.word}></a></div>
<div class="center">
  <div class="subnavgroup">
    <dl class="subnav1" _hover-ignore="1">
	      <dt>主题:</dt>
	      <dd _hover-ignore="1"> 
		      <modlist name="seoword" cid="$industry" item="one" row="5">  
		       	  <a href="http://www.liansuo.com/unit/<{$one.id}>.html"  wbury="1" _hover-ignore="1"><{$one.word}></a>
		      </modlist>
		      <modlist name="seoword" item="one" row="25"> 
		       	  <a href="http://www.liansuo.com/unit/<{$one.id}>.html"  wbury="1" _hover-ignore="1"><{$one.word}></a>
		      </modlist>
	      </dd>
    </dl>
    <dl class="subnav2" _hover-ignore="1">
     	  <dt _hover-ignore="1">推荐:</dt>
	      <dd _hover-ignore="1"> 
	      	  <modlist name="tag" item="one" row="35">
		           <a href="http://www.liansuo.com/tag/<{$one.id}>/"  wbury="1"><{$one.tag}></a>
	      	  </modlist>
	      </dd>
    </dl>
  </div>
</div>
<div class="center">
<div class="pinPai">
    <div class="p_tuijian clear">
       <h2 class="fl f22"><{$keyword.word}>品牌推荐</h2>
    </div>
    <div class="clear mb20 tuijian_dl">
       <div class="clear tuijian_dl">
	 	   <plist cid="$industry" row="8" item="one">
		         <dl class="fl" style="margin-left:0;">
		            <dt class="pr"> 
		        	    <a href="<{$one.ypurl}>"  title="<{$one.brandname}>">
		        	        <img width="285" height="190" title="<{$one.brandname}>" alt="<{$one.brandname}>" src="http://img.liansuo.com/html/images/<if condition="$one.s_421_1 neq '' "><{$one.s_421_1}><else/><{$one.allpicture.cptp.0}></if>" alt="<{$one.brandname}>">
				            <p class="p_black pa"></p>
				            <p class="p_black2 pa f14" style="width:275px;"><{$one.s_3_1}></p>
			            </a>
			            <span id="advert" style="height: 13px;width: 24px;position: absolute;top: 0;right: 0;overflow:hidden;">
			          	   <a href="<{$one.ypurl}>">
			          	   	   <img src="/Public/image/home/unit/gg.png" style="float: left; width: auto;height: auto;" alt="广告"><{$one.s_3_1}>
			          	   </a>
			            </span>
		            </dt>
		            <dd class="dd2 clear"> 
		          		<a href="<{$one.ypurl}>"  title="<{$one.s_3_1}>" ad_need_click="true" ad_id="21224">
			            	<p class="fl p_money f12"><span class="span_red">￥<em> <{$one.joinlinemin}>-<{$one.joinlinemax}></em>万 </span></p>
			            </a>
			            <a href="<{$one.ypurl}>"><p class="fr f14 p_iCan">我要加盟</p></a>
		            </dd>
		         </dl>
		  </plist> 
       </div>
    </div>
</div>
</div>
<div class="center"> 
  <!-- 加盟资讯推荐 -->
  <div class="ziXun_JM">
    <div class="p_zhuanQ clear">
	    <h2><span class="fl p1"><a href="http://www.liansuo.com/news/"  style="color:#333;"><{$keyword.word}>资讯推荐</a></span></h2>
    </div>
    <div class="ziXun_all clear">
      <div class="ziXun_first fl" id="news1">
	        <ul class="tit clear">
		          <li class=""><a title="项目点评">项目点评</a></li>
		          <li class=""><a title="品牌动态">品牌动态</a></li>
		          <li class="xian_select"><a title="加盟快讯">加盟快讯</a></li>
	        </ul> 
	        <!-- 滑过图片显示说明 --> 
	        <div class="jiuLinH pr"> 
		          <div class="jiuL_pic1 pr">
			            <p class="blackPic">
			            	<arclist item="one" picture="1" cid="$keyword['subindustry']"  row="1">
					            <a style="color: #fff;" href="<{$one.url}>" ad_need_click="true" ad_id="21231">
						            <img title="<{$one.title}>"  alt="<{$one.title}>"  width="260" height="195" src="http://img.liansuo.com/html/images/<{$one.picture}>" onerror="javascript:this.src='http://img.liansuo.com/html/images/news/news_deflat.jpg';"  alt="<{$one.title}>">
						            <span id="advert" style="height: 13px;width: 24px;position: absolute;bottom: 0;left: 0;overflow:hidden;"> 
						           	    <img src="/Public/image/home/unit/gg.png" style="float: left; width: auto;height: auto;" alt="广告"><{$one.title}>加盟 
						            </span>
					            </a>			            	 
			            	</arclist>  
			            </p>
		          </div>
	        </div>
	        <!-- 选项卡 -->
	        <div class="tit_con">
		          <ul class="f14 dis_b" style="display: none;">
						<foreach name="data1" item="one" key="k" >
							<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
						</foreach>           
		          </ul>
		          <ul class="f14 dis_n" style="display: none;">
			            <foreach name="data2" item="one" key="k" >
							<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
						</foreach>    
		          </ul>
		          <ul class="f14 dis_n" style="display: block;">
			           <foreach name="data3" item="one" key="k" >
						    <li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
					   </foreach>    
		          </ul>
	        </div>
      </div>
      <div class="ziXun_first fl" id="news2">
        <ul class="tit clear">
          <li class=""><a title="加盟聚焦">加盟聚焦</a></li>
          <li class="xian_select"><a title="招商专题">招商专题</a></li>
          <li class=""><a title="商机在线">商机在线</a></li>
        </ul>
        <!-- 滑过图片显示说明 -->
        <div class="jiuLinH pr">
          <div class="jiuL_pic1 pr">
	            <p class="blackPic">
	            	<arclist item="one" picture="1" cid="$keyword['subindustry']" row="1">
			            <a style="color: #fff;" href="<{$one.url}>" ad_need_click="true" ad_id="21231">
				            <img title="<{$one.title}>"  alt="<{$one.title}>"  width="260" height="195" src="http://img.liansuo.com/html/images/<{$one.picture}>" onerror="javascript:this.src='http://img.liansuo.com/html/images/news/news_deflat.jpg';" alt="<{$one.title}>">
				            <span id="advert" style="height: 13px;width: 24px;position: absolute;bottom: 0;left: 0;overflow:hidden;"> 
				           	    <img src="/Public/image/home/unit/gg.png" style="float: left; width: auto;height: auto;" alt="广告"><{$one.title}>加盟 
				            </span>
			            </a>			            	 
	            	</arclist>
	            </p>
            <div class="pa show_black">
              <div class="jiuLinH_black pa"></div>
            </div>
          </div>
        </div>
        <!-- 选项卡 -->
        <div class="tit_con">
          <ul class="f14 dis_b" style="display: none;">
           <foreach name="data4" item="one" key="k" >
			<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
			</foreach>    
          </ul>
          <ul class="f14 dis_n" style="display: block;">
            <foreach name="data5" item="one" key="k" >
			<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
			</foreach>    
          </ul>
          <ul class="f14 dis_n" style="display: none;">
          <foreach name="data6" item="one" key="k" >
			<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
			</foreach>    
          </ul>
        </div>
      </div>
      <div class="ziXun_first fl" id="news3">
        <ul class="tit clear">
          <li class=""><a title="品牌营销">品牌营销</a></li>
          <li class=""><a title="开店指南">开店指南</a></li>
          <li class="xian_select"><a title="如何选项目">如何选项目</a></li>
        </ul>
        <!-- 滑过图片显示说明 -->
        <div class="jiuLinH pr">
          <div class="jiuL_pic1 pr">
            <p class="blackPic">
            	<arclist item="one" picture="1" cid="$keyword['subindustry']" row="1">
		            <a style="color: #fff;" href="<{$one.url}>" ad_need_click="true" ad_id="21231">
			            <img width="260" title="<{$one.title}>" alt="<{$one.title}>"  height="195" src="http://img.liansuo.com/html/images/<{$one.picture}>" onerror="javascript:this.src='http://img.liansuo.com/html/images/news/news_deflat.jpg';" alt="<{$one.title}>">
			            <span id="advert" style="height: 13px;width: 24px;position: absolute;bottom: 0;left: 0;overflow:hidden;"> 
			           	    <img src="/Public/image/home/unit/gg.png" style="float: left; width: auto;height: auto;" alt="广告"><{$one.title}>加盟 
			            </span>
		            </a>			            	
            	</arclist>
            </p>
          </div>
        </div>
        
        <!-- 选项卡 -->
        <div class="tit_con">
          <ul class="f14 dis_b" style="display: none;">
           <foreach name="data7" item="one" key="k" >
			<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
			</foreach>    
          </ul>
          <ul class="f14 dis_n" style="display: none;">
           <foreach name="data8" item="one" key="k" >
			<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
			</foreach>    
          </ul> 
          <ul class="f14 dis_n" style="display: block;">
         <foreach name="data9" item="one" key="k" >
			<li class="clear"><a href="<{$one.url}>" class="fl" title="<{$one.title}>" ><{$one.title}></a> <span class="fr f12"><{$one.counthits}>人关注</span></li>
			</foreach>    
          </ul>
        </div>
      </div>
      <div class="ziXun_first fl" id="news4" style="margin-right: 0px;">
        <ul class="tit clear">
          <li class=""><a title="创业故事">创业故事</a></li>
          <li class=""><a title="创业播报">创业播报</a></li>
          <li class="xian_select"><a title="看谁在找项目">看谁在找项目</a></li>
        </ul>
        <!-- 滑过图片显示说明 -->
        <div class="jiuLinH pr">
          <div class="jiuL_pic1 pr"> 
            <p class="blackPic">
            	<arclist item="one" picture="1"  cid="$keyword['subindustry']" row="1"> 
		            <a style="color: #fff;" href="<{$one.url}>" ad_need_click="true" ad_id="21231">
			            <img title="<{$one.title}>" alt="<{$one.title}>"  width="260" height="195" src="http://img.liansuo.com/html/images/<{$one.picture}>" alt="<{$one.title}>" onerror="javascript:this.src='http://img.liansuo.com/html/images/news/news_deflat.jpg';">
			            <span id="advert" style="height: 13px;width: 24px;position: absolute;bottom: 0;left: 0;overflow:hidden;"> 
			           	    <img src="/Public/image/home/unit/gg.png" style="float: left; width: auto;height: auto;" alt="广告"><{$one.title}>加盟 
			            </span>
		            </a>			            	
            	</arclist> 
            </p> 
          </div>
        </div>
        <!-- 选项卡 -->
        <div class="tit_con" style="overflow:hidden; "> 
          <ul class="f14 dis_b" style="display: none;">
          		<plist item="one" cid="$keyword['subindustry']" row="1,4">
					<li class="clear"><a href="<{$one.ypurl}>" class="fl" title="<{$one.brandname}>" ><{$one.brandname}></a> <span class="fr f12"><{$one.msg_sum}>人关注</span></li>
				</plist>
          </ul>
          <ul class="f14 dis_n from_where" style="display: none;">
            <div id="cydemo">
              <ul id="cydemo1">
					<plist item="one" cid="$keyword['industry']" row="10">
						<?php
			                 $surname = array('郝先生','冯先生','任先生','聂先生','刘先生','张先生','段先生','张先生','丁先生','曹女士','陈女士','王女士','贾女士','周女士');
        					 $province = array('成都','北京','上海','深圳','青岛','唐山','合肥');
       						 shuffle($surname);
        					 shuffle($province);
						?>
		                <div class="league-dynamic">
		                	来自<span><?php echo $province[0] ?>的用户<?php echo $surname[0] ?></span>通过电话联系咨询了<a href="<{$one.ypurl}>"  class="a_name"><{$one.brandname}></a>
		                 </div>
					</plist>
              </ul>
              <div id="cydemo2">
              </div>
            </div>
          </ul>
          <ul class="f14 dis_n from_where" style="display: block;">
            <div id="demo">
              <ul id="demo1">
              		<volist name="indusArray" id="one">
						<?php
			                 $surname = array('郝先生','冯先生','任先生','聂先生','刘先生','张先生','段先生','张先生','丁先生','曹女士','陈女士','王女士','贾女士','周女士');
        					 $province = array('成都','北京','上海','深圳','青岛','唐山','合肥');
       						 shuffle($surname);
        					 shuffle($province);
						?>
		                <div class="league-dynamic">
		                	意向创业者
			                	<a href="https://u.liansuo.com/Home/Login/index" rel="nofollow" class="a_name"><?php echo $surname[0] ?></a>
			                	正在寻找
			                	<span><a href="http://<{$one.pathname}>.liansuo.com" class="a_name"><{$one.industryname}></a></span>加盟项目，中国连锁网祝您早日加盟成功 
		                 </div>
					</volist>
              </ul>
              <div id="demo2">
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center">
	  <div class="main_wrap">
		    <div class="activities">
			      <h3>以下项目正在火爆加盟中</h3> 
			      <div class="activities_con">
				        <ul class="clearfix">
							<plist ispay="1" row="8" order="rand()"  item="one">
						          <li><a title="<{$one.brandname}>" alt="<{$one.brandname}>" href="<{$one.ypurl}>"><img src="http://img.liansuo.com/html/images/<{$one.s_421_1}>" onerror="javascript:this.src='http://img.liansuo.com/html/images/news/news_deflat.jpg';" width="290" height="200"></a>
						          	  <p><span class="fr"><a href="<{$one.ypurl}>" class="">去看看&gt;</a></span><a href="<{$one.ypurl}>"><{$one.brandname}></a></p>
						          </li>
							</plist>
				        </ul> 
			      </div> 
		    </div> 
		    <div class="footerbo">
			      <ul class="clearfix"> 
				      <modlist name="tag" item="one" row="13" num="7">
				      	 <if condition="$one['oid'] eq 1 || $one['oid'] eq 4|| $one['oid'] eq 6|| $one['oid'] eq 9|| $one['oid'] eq 11 ">
					        <li> 
					     </if>
					     	 <a title="<{$one.tag}>" href="http://www.liansuo.com/tag/<{$one.id}>/"  wbury="1" 
					     	 <if condition="$one['oid'] eq 1">style="color:#009900"
					     	 <elseif  condition="$one['oid'] eq 2"  />style="color:#333333"
					     	 <elseif  condition="$one['oid'] eq 3"  />style="color:#42d3ff"
					     	 <elseif  condition="$one['oid'] eq 4"  />style="color:#ff0066"
					     	 <elseif  condition="$one['oid'] eq 5"  />style="color:#ff9900" class="common2"
					     	 <elseif  condition="$one['oid'] eq 6"  /> style="color:#333333" 
					     	 <elseif  condition="$one['oid'] eq 7"  />style="color:#333333"
					     	 <elseif  condition="$one['oid'] eq 8"  />style="color:#333333"
					     	 <elseif  condition="$one['oid'] eq 9"  />style="color:#ff3399" class="common2"
					     	 <elseif  condition="$one['oid'] eq 10"  />style="color:#009900" 
					     	 <elseif  condition="$one['oid'] eq 11"  />style="color:#333333"
					     	 <elseif  condition="$one['oid'] eq 12"  />style="color:#333333"
					     	 <elseif  condition="$one['oid'] eq 13"  />style="color:#ff6f9a"
					     	 </if>
					     	   _hover-ignore="1"><{$one.tag}></a> 
					    <if condition="$one['oid'] eq 3 || $one['oid'] eq 5|| $one['oid'] eq 8|| $one['oid'] eq 10 || $one['oid'] eq 13 ">
					        </li> 
					     </if>
					   </modlist>
			      </ul>
		    </div>
	  </div> 
</div>
<div class="class_tab">
  <ul class="class_tabtt">
    <li onmouseover="HoverLi(1,1,3);" class="normaltab" id="tb_11">合作媒体</li>
    <li onmouseover="HoverLi(1,2,3);" class="tabcurrent" id="tb_12">合作品牌</li>
    <li onmouseover="HoverLi(1,3,3);" class="normaltab" id="tb_13">相关专题</li>
  </ul>
  <div class="ctt">
    <div class="undis" id="tbc_11">
      <div class="xpadd10">
        <ul class="class_tabcc">
        	<plist item="one" row="40">
	             <li><a href="<{$one.ypurl}>" alt="<{$one.brandname}>"><{$one.brandname}></a></li>
        	</plist>
        </ul>
      </div>
      <div class="clear marginb10"></div>
    </div>
    <div class="dis" id="tbc_12">
      <div class="xpadd10">
        <ul class="class_tabcc">
        	<plist item="one" row="40,40">
	             <li><a href="<{$one.ypurl}>" alt="<{$one.brandname}>"><{$one.brandname}></a></li>
        	</plist>        
        </ul>
      </div>
      <div class="clear marginb10"></div>
    </div>
    <div class="undis" id="tbc_13">
      <div class="xpadd10">
        <ul class="class_tabcc">
        	<modlist name="seoword" item="one" cid="$keyword['industry']" row="5">
	             <li><a  href="http://www.liansuo.com/unit/<{$one.id}>.html"><{$one.word}></a></li>
        	</modlist>
        	<modlist name="seoword" item="one" row="35">
	             <li><a  href="http://www.liansuo.com/unit/<{$one.id}>.html"><{$one.word}></a></li>
        	</modlist>
          <div class="clear marginb10"></div>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="http://www.liansuo.com/html/js/918/sub_footer.js" language="javascript" type="application/javascript"></script>
	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->
		<script type="text/javascript" src="/Public/js/home/unit/js.js"></script>  
		<script src="http://www.liansuo.com/c.js" type="text/javascript"></script>
</body>
</html>