<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>连锁加盟代理_加盟商机在线<if condition="!empty($pagehou)">-第<{$pageurl}>页</if>-中国连锁网</title>
<meta name="searchtitle" content="连锁加盟网">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="mobile-agent" content="format=html5;url=http://m.liansuo.com/unit/<{$pagehou}>">
<meta name="Keywords" content="连锁加盟代理">
<meta name="Description" content="连锁代理加盟网提供全国各行各业热门加盟品牌,加盟项目,加盟商机资讯，助您理性投资加盟项目。">
<link rel="shortcut icon" href="http://www.liansuo.com/favicon.ico">
<link href="http://www.liansuo.com/html/style/liansuo_ini.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/css/home/unit/zong_style.css">
<link href="__PUBLIC__/css/home/unit/style_list_index.css" rel="stylesheet" type="text/css">
<base  target="_blank"/>
</head>
<body>
<script>//移动端自动跳转
var mob_url = "http://m.liansuo.com/unit/<{$pagehou}>"; 
</script>
<script type="text/javascript" src="__PUBLIC__/js/home/news/ismob.js"></script>
<div class="head">
  <div class="lsgb_header_bj">
    <div class="center">
        <include file="../Public/html/home/tag/header.html" />
      <div class="space10 clear"></div>
      <div class="space10 clear"></div>
      <div class="lsgb_logo"> <a href="http://www.liansuo.com/" class="floatL m_r"> <img width="210" height="55" src="__PUBLIC__/image/home/project/logo_11.png" alt="中国连锁网"> </a>
        <div class="floatL title_pro">
          <h1>连锁加盟代理</h1>
          <p><a  href="">
          		<if condition="$pageurl==1">
          			www.liansuo.com/unit/
          		<else/>
          			www.liansuo.com/unit/p<{$pageurl}>.html 
          		</if>
          	 </a>
          </p>
        </div>
        <div class="floatR ad_pic"> 
			<adlist item="one" cid="817" order="rand()" row="3">
				<a href="<{$one.httpurl}>"  ><img width="226" height="55" src="http://img.liansuo.com/html/images/<{$one.fileurl}>"></a>
			</adlist>		
        </div>
      </div>
    </div>
  </div>
  <div class="space10 clear"></div>
  <div class="space10 clear"></div>
<div id="nav_select" class="pr" style="z-index:10;">
		<div class="zong_nav_bg">   
			<ul class="wrap_mar zong_nav"> 
				<li class="li1_home"><a href="http://www.liansuo.com/unit/" target="_self">首页</a></li>
				<volist name="inarr" id="one" offset="0" length="15">
					<li class="li1"><a href="http://<{$one.prpathname}>.liansuo.com"  title="<{$one.prindustryname}>"><{$one.prindustryname}></a></li>
				</volist> 
				<li class="pr li_more" style="width:67px;"><a style="padding-right:0;">更多<i class="zong_icon i12"></i></a>
				<p class="more_j pa"><img src="__PUBLIC__/image/home/unit/sanJ.png" alt=""></p>
					<div class="moreUl dis_n pa"> 
						<ul class="clear">  
						</ul>
					</div>
				</li> 
			</ul>
		</div>
		<div class="down_nav pa" style="display: none;"> 
			<div class="down_zi wrap_mar pr f14"> 
				<p style="display: none;"></p>
				<p style="display: none;"> 
					<volist name="inarr.1.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p> 
				<p style="display: none;"> 
					<volist name="inarr.2.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p style="display: none;"> 
					<volist name="inarr.3.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p style="display: none;"> 
					<volist name="inarr.4.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 18%; display: none;">
					<volist name="inarr.5.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 15%; display: none;">
					<volist name="inarr.6.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 18%; display: none;">
					<volist name="inarr.7.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 24%; display: none;">
					<volist name="inarr.8.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 46%; display: block;"> 
					<volist name="inarr.9.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 38%; display: none;"> 
					<volist name="inarr.10.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 42%; display: none;"> 
					<volist name="inarr.11.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="left: 55%; display: none;"> 
					<volist name="inarr.12.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="right: 0px; display: none;"> 
					<volist name="inarr.13.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
				<p class="pa" style="right: 0px; display: none;"> 
					<volist name="inarr.15.subarr" id="two">
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>  
				<p class="pa" style="right: 0px; display: none;"> 
					<volist name="inarr.16.subarr" id="two"> 
						<a href="http://<{$two.pathname}>.liansuo.com"  title="<{$two.industryname}>"><{$two.industryname}></a>
					</volist> 
				</p>
			</div>
		</div>
	</div>
</div>
<div class="space10"></div>

<style>
.main_wrap .title{margin-bottom:0;}
.div_a{width:1199px;height:auto !important;border-left:1px solid #ccc;order-top:1px solid #ccc;}
.div_a a{display:block;width:299px;height:30px;line-height:30px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;overflow:hidden;float:left;text-align:center;}
.div_a a:nth-child(4n+1){width:298px;}
</style> 
<div class="main_wrap">
	<p class="title">连锁加盟代理 </p> 
		<div class="div_a">
			<modlist name="seoword" item="one" row="$pagenum">
				<a href="http://www.liansuo.com/unit/<{$one.id}>.html"  wbury="1"><{$one.word}></a> 
			</modlist>
			<div style="clear:both;"></div>
		</div>
<br> 
   	<style>
		.re_page2{ width:auto; height:30px; padding-right:368px; padding-top:10px; float:right;}
		.re_page2 a { text-decoration: none;display:inline-block;border: 1px solid #CCC; padding:5px 10px; margin-right:10px;}
		.re_page2 span { inline-block;border: 1px solid #ccc; padding: 5px 12px; background: #CCC; color: #853645;margin-right:10px; }
		.re_page2 span.current{border: 1px solid #eb6100; padding: 5px 10px;background: #fff; margin-right:10px;color:#eb6100;}
	</style>
   	<div class="re_page2">
		<{$page}>
	</div>
</div>
	<!-- 公共页脚部分 -->
		<include file="../Public/html/public/footer.html" />
		<!-- 公共页脚部分end -->
		<script type="text/javascript" src="/Public/js/home/unit/jquery-1.js"></script>
		<script type="text/javascript" src="/Public/js/home/unit/js.js"></script>  
		<script src="http://www.liansuo.com/c.js" type="text/javascript"></script>
</body>
</html>