<div class="sf-box">
	<div class="content-box">
		<div class="sf_img"><img src="__PUBLIC__/image/home/fifty/mt.jpg" width="1088" height="259"></div>
	</div>
</div>
<div class="gd-box">
	<div class="content-box-hs">
		<div class="floatL pic_ewm"><a href=""><img width="262" height="263" src="__PUBLIC__/image/home/fifty/ewm_1.jpg"></a><a href=""><img src="__PUBLIC__/image/home/fifty/ewm_2.jpg"></a></div>
        <div class="floatR gb_text">
        	<p>活动报名以及招商电话</p>
            <p><i><img src="__PUBLIC__/image/home/fifty/phone.png"></i>400-091-1181</p>
            <p><i><img src="__PUBLIC__/image/home/fifty/qq.png"></i>1793891110</p>
            <p>★本活动最终解释权归中国连锁网所有</p>
        </div>	
	</div> 
</div>