<include file="Fifty/header"/>
<div class="sp-box">
	<div class="content-box-rel">
		<div class="rel_div"><img src="__PUBLIC__/image/home/fifty/tmpp/tmpp_01.jpg" width="1093" height="142" alt=""></div>
	<div class="rel_div"><img src="__PUBLIC__/image/home/fifty/tmpp/tmpp_02.jpg" width="1093" height="76" alt="">
    <h3 class="rel_h3">连锁人物提名</h3>
    </div>
    <div class="contant_rw">
<dl>
	        	<dt><a href="http://klmfzw.liansuo.com/lsrw.html"><img src="http://img.liansuo.com/html/images/20160907/sou_14732475606066.jpg" width="170" height="126"><i>1</i></a></dt>
	            <dd>
		            <span>快乐魔方</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(553539)" class="btn">票数：（<em id="numNy_553539"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://www.liansuo.com/v-aiqinmuying/lsrw.html"><img src="http://img.liansuo.com/html/images/20160817/sou_14714270157757.jpg" width="170" height="126"><i>2</i></a></dt>
	            <dd>
		            <span>爱亲母婴生活馆</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(542987)" class="btn">票数：（<em id="numNy_542987"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://yogurt.liansuo.com/wangxiaodong.html"><img src="http://img.liansuo.com/html/images//20150729/14381619808251.jpg" width="170" height="126"><i>3</i></a></dt>
	            <dd>
		            <span>优格花园冰淇淋</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(424985)" class="btn">票数：（<em id="numNy_424985"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://www.liansuo.com/v-jyenyyesy/lifeng.html"><img src="http://img.liansuo.com/html/images/20161116/sou_14792979778605.jpg" width="170" height="126"><i>4</i></a></dt>
	            <dd>
		            <span>家有儿女婴幼儿水育</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(589225)" class="btn">票数：（<em id="numNy_589225"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://www.liansuo.com/p/136376/jiameng.html"><img src="http://img.liansuo.com/html/images/20151125/sou_14484203388583.jpg" width="170" height="126"><i>5</i></a></dt>
	            <dd>
		            <span>小资生活</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(461279)" class="btn">票数：（<em id="numNy_461279"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://yiganxi.liansuo.com/aochuanjun.html"><img src="http://img.liansuo.com/html/images/20161102/sou_14780679021811.jpg" width="170" height="126"><i>6</i></a></dt>
	            <dd>
		            <span>伊蔻干洗</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(583613)" class="btn">票数：（<em id="numNy_583613"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://www.liansuo.com/v-qihaodian/lsrw.html"><img src="http://img.liansuo.com/html/images/20161026/sou_14774691736131.jpg" width="170" height="126"><i>7</i></a></dt>
	            <dd>
		            <span>漆号店</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(580759)" class="btn">票数：（<em id="numNy_580759"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://bawangge.liansuo.com/longxiaofei.html"><img src="http://img.liansuo.com/html/images/20161019/sou_14768454577219.jpg" width="170" height="126"><i>8</i></a></dt>
	            <dd>
		            <span>重庆八旺火锅串串</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(575275)" class="btn">票数：（<em id="numNy_575275"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://www.liansuo.com/v-boyatiancai/lsrw.html"><img src="http://img.liansuo.com/html/images/20160928/sou_14750307629561.jpg" width="170" height="126"><i>9</i></a></dt>
	            <dd>
		            <span>博雅天才</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(562961)" class="btn">票数：（<em id="numNy_562961"></em>）</a>
		            </span>
	            </dd>
	        </dl><dl>
	        	<dt><a href="http://cqsjhc.liansuo.com/lsrw.html"><img src="http://img.liansuo.com/html/images/20160921/sou_14744264191408.jpg" width="170" height="126"><i>10</i></a></dt>
	            <dd>
		            <span>沈家洪城老火锅</span>
		            <span class="red">
		           	     <a onclick="return ny_vote(558921)" class="btn">票数：（<em id="numNy_558921"></em>）</a>
		            </span>
	            </dd>
	        </dl>
        <div class="clear"></div>
    </div>
    <div class="rel_div"><img src="__PUBLIC__/image/home/fifty/tmpp/title.jpg" width="1093" height="108" alt="">
    <h3 class="rel_h3_t">最具投资价值奖提名</h3>
    </div>
<div class="contant_xm">
	   		
	   <volist name="priceArray" id="one" key="k">
	   		<dl>
	        	<dt><a href="http://www.liansuo.com/p/<{$one.memberid}>/"><img src="http://img.liansuo.com/html/images/<{$one.logo}>" width="147" height="88"><i><{$k}></i></a></dt>
	            <dd>
		            <span><{$one.brandname}></span>
			        <span class="red">
			            <a onclick="return ny_vote(<{$one.memberid}>)" class="btn">票数：（<em id="numNy_<{$one.memberid}>"></em>）</a>
		            </span>
	            </dd>
	        </dl>
	   </volist>
	        
	        <div class="clear"></div>
    </div>
    <div class="rel_div"><img src="__PUBLIC__/image/home/fifty/tmpp/title.jpg" width="1093" height="108" alt="">
    <h3 class="rel_h3_t">年度新锐品牌提名</h3>
    </div>
 <div class="contant_xm">
 		<volist name="newArray" id="one" key="k">
	   		<dl>
	        	<dt><a href="http://www.liansuo.com/p/<{$one.memberid}>/"><img src="http://img.liansuo.com/html/images/<{$one.logo}>" width="147" height="88"><i><{$k}></i></a></dt>
	            <dd>
		            <span><{$one.brandname}></span>
			        <span class="red">
			            <a onclick="return ny_vote(<{$one.memberid}>)" class="btn">票数：（<em id="numNy_<{$one.memberid}>"></em>）</a>
		            </span>
	            </dd>
	        </dl>
	    </volist>  
        <div class="clear"></div>
    </div>
    <div class="rel_div"><img src="__PUBLIC__/image/home/fifty/tmpp/title.jpg" width="1093" height="108" alt="">
    <h3 class="rel_h3_t">最佳口碑品牌提名</h3>
    </div>
 <div class="contant_xm">
 		<volist name="mouthArray" id="one" key="k">
	   		<dl>
	        	<dt><a href="http://www.liansuo.com/p/<{$one.memberid}>/"><img src="http://img.liansuo.com/html/images/<{$one.logo}>" width="147" height="88"><i><{$k}></i></a></dt>
	            <dd>
		            <span><{$one.brandname}></span>
			        <span class="red">
			            <a onclick="return ny_vote(<{$one.memberid}>)" class="btn">票数：（<em id="numNy_<{$one.memberid}>"></em>）</a>
		            </span>
	            </dd>
	        </dl>
	    </volist>  
      <div class="clear"></div>
    </div>
    <div class="rel_div"><img src="__PUBLIC__/image/home/fifty/tmpp/title.jpg" width="1093" height="108" alt="">
    <h3 class="rel_h3_t">最佳人气奖提名</h3>
    </div>
<div class="contant_xm">
 		<volist name="welArray" id="one" key="k"> 
	   		<dl>
	        	<dt><a href="http://www.liansuo.com/p/<{$one.memberid}>/"><img src="http://img.liansuo.com/html/images/<{$one.logo}>" width="147" height="88"><i><{$k}></i></a></dt>
	            <dd>
		            <span><{$one.brandname}></span>
			        <span class="red">
			            <a onclick="return ny_vote(<{$one.memberid}>)" class="btn">票数：（<em id="numNy_<{$one.memberid}>"></em>）</a>
		            </span>
	            </dd>
	        </dl>
	    </volist>     
    <div class="clear"></div>
    </div>
	<div class="rel_div"><img src="__PUBLIC__/image/home/fifty/tmpp/bottom.jpg" width="1093" height="76" alt="">
    </div>
	</div>	
</div>
<include file="Fifty/footer" />

<script src="__PUBLIC__/js/home/fifty/jquery-1.11.2.min.js"></script>
<script>
var aaa = Math.random();
document.write("<s" + "cript type='text/javascript' src='__PUBLIC__/js/home/fifty/vote_ny.js?"+aaa+"'></s" + "cript>");
function ny_vote(memberid){
	var memberid = memberid;
    $.ajax({
		type:"post",
		url :'voteNy.html',
		data:{memberid:memberid},
		success:function(msg){
			if(msg !== '失败' && msg !== '亲，明天见!'){
				$("#numNy_"+memberid).html(msg);
			}
			if(msg == '失败'){
				alert('未知错误');
			}
			if(msg == '亲，明天见!'){
				alert('亲，明天见!');
			}
		}
	})	
}
</script>
<script>
//第一页
	$(function(){
		$(".ms-box").animate({opacity:'1'},1000,'swing');
		$(".ms-img1,.ms-content").delay(1500).animate({'opacity':1},'slow');
		$(".ms-img4").delay(700).animate({height:'553px',opacity:'1'},500,'swing');
		$(".ms-img7").delay(400).animate({right:'50%',opacity:'1'},600,'swing');
		$(".ms-img9").delay(1500).animate({opacity:1},800,'swing');
	});
//第二页
$(function(){
	$(window).scroll(function(){
		if($(window).scrollTop()>400){
			$(".dm-title").animate({top:"75px",opacity:1},1000,'swing');
			$(".dm-content1").delay(200).animate({top:'140px',opacity:'1'},1000,'swing');
			$(".dm-img-box").delay(400).animate({top:'272px',opacity:'1'},1000,'swing');
		}
		if($(window).scrollTop()>1200){ 
			$(".sp-title").animate({top:'75px',opacity:'1'},1000,'swing');
		}
		if($(window).scrollTop()>1120){
			$(".sp-img4").animate({right:'5px',top:'86px',opacity:1},1000,'swing');
		}
		if($(window).scrollTop()>1100){
			$(".sp-img3").animate({right:'-241px',top:'40px',opacity:1},1000,'swing');
		}
		
	     	       					
	});
});
//
</script>    
</body>
</html>