<footer class="footer">
    <div class="gridTrisection layout auto">
    <ol class="grid clr">
    <li class="gridItem"><a href="https://u.liansuo.com/Home/Login/index" class="gridLink afterVam version"><img  src="__PUBLIC__/image/m_home/public/footer/login.jpg"><span>登录</span></a></li>
    <li class="gridItem"><a href="http://m.liansuo.com/" class="gridLink afterVam version"><img  src="__PUBLIC__/image/m_home/public/footer/ico_version_moblie.png"><span>触屏版</span></a></li>
    <li class="gridItem"><a href="http://www.liansuo.com/" class="gridLink afterVam version"><img  src="__PUBLIC__/image/m_home/public/footer/ico_version_pc.png"><span>电脑版</span></a></li></ol></div>
    <div class="buttonTel layout auto"><a href="tel:4008107676" class="tel auto"><img  src="__PUBLIC__/image/m_home/public/footer/ico_footer_phone_nubmer.png"></a></div><div class="copyRight layout auto"><p>北京创富天下网络技术有限公司</p>
    <p>中网在线旗下网站 NASDAQ:CNET 京ICP备11010368号</p>
    <p>京公网安备11010802017277号&nbsp;&nbsp;京ICP备11010368号</p>
    <p style="height:1.8em;"></p>
    <p style="height:1.8em;"></p>
    <p style="height:1.8em;"></p>
    </div>



</footer>
<div class="nav_bottom">
    <a href="http://m.liansuo.com/" class="active">
        <em class="nav-ico01"></em>
        <span>首页</span>
    </a>
    <a href="javascript:return false;">
        <em class="nav-ico02"></em>
        <span>找项目</span>
    </a>
    <a href="javascript:return false;">
        <em class="nav-ico03"></em>
        <span>排行榜</span>
    </a>
    <a href="javascript:return false;">
        <em class="nav-ico04"></em>
        <span>创业资讯</span>
    </a>
    <a href="https://u.liansuo.com"><em class="nav-ico05" rel="nofollow"></em><span>我的连锁</span></a>
    
</div>
<script src="http://www.liansuo.com/m.js" type="text/javascript" charset="utf-8"></script>

