
    <nav id="listNav" style="display: none;">
        <ul>
            <li class="icon2"><a href="/c/index/1-0_0-0-0-0-1.html">餐饮</a></li>
            <li class="icon1"><a href="/c/index/3-0_0-0-0-0-1.html">服装</a></li>
            <li class="icon6"><a href="/c/index/4,13-0_0-0-0-0-1.html">家居</a></li>
            <li class="icon5"><a href="/c/index/5,11-0_0-0-0-0-1.html">饰品</a></li>
        </ul>
        <ul>
            <li class="icon8"><a href="/c/index/10,12,24-0_0-0-0-0-1.html">生活</a></li>
            <li class="icon9"><a href="/c/index/16-0_0-0-0-0-1.html">特色</a></li>
            <li class="icon11"><a href="/c/index/6-0_0-0-0-0-1.html">教育</a></li>
            <li class="icon4"><a href="/c/index/9-0_0-0-0-0-1.html">美容</a></li>
        </ul>
    </nav>
   <!--  <div class="nav_li">
        <li><a href="http://m.liansuo.com">首页</a></li>
        <li><a href="http://m.liansuo.com/so/">搜索</a></li>
        <li><a href="http://m.liansuo.com/news/">资讯</a></li>
        <li><a href="http://m.liansuo.com/zt/">专题</a></li>
        <li><a href="http://m.liansuo.com/qa/">问答</a></li>
        <li><a href="http://m.liansuo.com/top/ ">排行</a></li>
        <li><a href="http://m.liansuo.com/top10/">十大品牌</a></li>
    </div> -->
    <div class="nav_li">
        <li><a href="http://m.liansuo.com">首页</a></li>
        <li><a href="javascript:return false;">搜索</a></li>
        <li><a href="javascript:return false;">资讯</a></li>
        <li><a href="javascript:return false;">专题</a></li>
        <li><a href="javascript:return false;">问答</a></li>
        <li><a href="javascript:return false; ">排行</a></li>
        <li><a href="javascript:return false;">十大品牌</a></li>
    </div>
