<extend name="index" />
<block name="liebiaoTDK">
<if condition="$industry=='news'">
<title>招商展会信息,加盟创业资讯<if condition="$connPage!=1">-第<{$connPage}>页</if>-中国连锁网</title>
<meta name="Keywords" content="招商展会信息" />
<meta name="Description" content="中国连锁网为创业投资者提供最新的招商展会信息资讯,最新加盟新闻,加盟招商项目分析等信息。" />
<else/>
<title><{$industryname}>招商展会信息,<{$industryname}>投资加盟招商<if condition="$connPage!=1">-第<{$connPage}>页</if>-中国连锁网</title>
<meta name="Keywords" content="<{$industryname}>招商展会信息" />
<meta name="Description" content="中国连锁网<{$industryname}>招商展会信息频道为创业投资者提供最新<{$industryname}>招商展会信息资讯,最新<{$industryname}>加盟新闻,<{$industryname}>加盟招商项目分析等信息。" />
</if>
</block>
            